Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

Auto-save: Fix E2E build — use Release configuration to get real executable (Xcode 26 Debug uses preview dylibs)
  .github/workflows/e2e-tests.yml
Due: none

Auto-save: Fix remaining .red → Color.theaError in PrivacyFirewallDashboardView categoryBreakdownSection
  Shared/UI/Components/PlanViews.swift
  Shared/UI/Views/Settings/PrivacyFirewallDashboardView.swift
Due: unittests, macos, ios

Auto-save: Replace hard-coded colors with semantic tokens in SyncSettingsView
  Shared/UI/Views/Settings/SyncSettingsView.swift
Due: unittests, macos, ios

Auto-save: Add theaUserBubble/theaAssistantBubble to TVColors.swift
  tvOS/Theme/TVColors.swift
Due: none

Auto-save: Fix tvOS build — use inline colors instead of missing Shared/UI/Theme/Colors tokens
  tvOS/Views/TVEnhancedHomeView+Chat.swift
Due: none

Auto-save: MapKit agent additional color/UI fixes across platforms
  Shared/Integrations/Health/Views/HealthDashboardView.swift
  Shared/Integrations/Health/Views/HealthGoalsView.swift
  Shared/Integrations/Health/Views/HealthInsightsView.swift
  Shared/Integrations/Health/Views/SleepQualityView.swift
  Shared/Integrations/Wellness/Views/WellnessDashboardView.swift
  Shared/UI/Components/ConfidenceIndicatorViews.swift
  Shared/UI/Components/EnhancedMessageBubble.swift
  Shared/UI/Components/ExecutableCodeBlock.swift
  Shared/UI/Components/PlanViews.swift
  Shared/UI/Components/StreamingTextView.swift
  Shared/UI/Components/THEAThinkingView.swift
  Shared/UI/Views/Cowork/CoworkView.swift
  Shared/UI/Views/Terminal/TerminalView.swift
  iOS/Views/OnboardingView.swift
  iOS/Views/TheaAgentListView.swift
  iOS/Views/TheaClipRowView.swift
  macOS/Views/MacSettingsView+Sections.swift
  macOS/Views/TheaAgentDetailView.swift
  macOS/Views/TheaClipCardView.swift
  watchOS/Views/WatchHealthView.swift
Due: unittests, macos, ios

Auto-save: Add WatchColors.swift for watchOS + ShapeStyle extensions for tvOS/watchOS design tokens
  Shared/Integrations/Wellness/Models/WellnessModels.swift
  Shared/Integrations/Wellness/Views/WellnessDashboardView.swift
  Shared/UI/Views/Terminal/TerminalViewComponents.swift
  tvOS/Views/Dashboard/TVDashboardView.swift
  watchOS/Theme/WatchColors.swift
Due: unittests, macos, ios

Auto-save: Restructure E2E workflow v2.0 (single-job, ENABLE_DEBUG_DYLIB=NO) + update implementation mission with personal-use life-monitoring mandate
  .github/workflows/e2e-tests.yml
  Shared/Integrations/Assessment/Views/AssessmentDashboardView.swift
  Shared/Integrations/Cognitive/Views/CognitiveDashboardView.swift
  Shared/Integrations/Wellness/Models/WellnessModels.swift
  Shared/UI/Views/Terminal/TerminalViewComponents.swift
  Thea.xcodeproj/project.pbxproj
  iOS/Views/OnboardingView.swift
  iOS/Views/TheaClipRowView.swift
  macOS/Views/TheaClipCardView.swift
  tvOS/Views/Dashboard/TVDashboardView.swift
  tvOS/Views/Media/TVStreamingView.swift
  tvOS/Views/TVEnhancedHomeView+Settings.swift
  tvOS/Views/TVEnhancedHomeView.swift
  tvOS/Views/TVInferenceRelaySettingsView.swift
Due: unittests, macos, ios

Auto-save: Add accessibility labels and hints to cowork, terminal, onboarding, and clip views
  iOS/Views/TheaClipRowView.swift
Due: unittests, ios

Auto-save: Replace hard-coded colors with semantic tokens in health/wellness/cognitive views
  Shared/Integrations/Cognitive/Views/CognitiveDashboardView.swift
  Shared/Integrations/Wellness/Views/WellnessDashboardView.swift
Due: unittests, macos, ios

Auto-save: Apply design token consistency — replace raw .green/.red/.blue/.orange with .theaSuccess/.theaError/.theaInfo/.theaWarning
  Shared/UI/Views/Cowork/CoworkArtifactsView.swift
  Shared/UI/Views/Terminal/CommandHistoryView.swift
  Shared/UI/Views/Terminal/TerminalView.swift
  Shared/UI/Views/Terminal/TerminalViewComponents.swift
  tvOS/Views/TVEnhancedHomeView+Settings.swift
  tvOS/Views/tvOSHomeView+Settings.swift
  tvOS/Views/tvOSHomeView.swift
Due: unittests, macos, ios

Auto-save: Replace hard-coded colors with semantic tokens in platform-specific views
  Shared/UI/Views/Cowork/CoworkArtifactsView.swift
  Shared/UI/Views/Cowork/CoworkContextView.swift
  Shared/UI/Views/Cowork/CoworkProgressView.swift
  Shared/UI/Views/Cowork/CoworkQueueView.swift
  Shared/UI/Views/Cowork/CoworkSidebarView.swift
  Shared/UI/Views/Cowork/CoworkSkillsView.swift
  Shared/UI/Views/Cowork/CoworkView.swift
  tvOS/Views/Media/TVStreamingView.swift
  tvOS/Views/TVEnhancedHomeView+Chat.swift
Due: unittests, macos, ios

Auto-save: Permanently enshrine NEVER-REDUCE rule in CLAUDE.md and all mission files — every agent must add capability, never remove
  .claude/claude.md
Due: none

Auto-save: Restore LiveGuidanceSettingsView tab in MacSettingsView + restore 265-line G1LiveGuidanceTests.swift — violations from before NEVER-REDUCE rule
  Tests/G1LiveGuidanceTests.swift
  macOS/Views/MacSettingsView.swift
Due: unittests, macos

Auto-save: Add G1/G2/H phase, GUI-builds/sanitizers, research/modernize missions
  .claude/mission-g1-g2.txt
  .claude/mission-gui-builds.txt
  .claude/mission-research-modernize.txt
Due: none

Auto-save: Runner v4.0 — 14 windows, G1/G2/H, sanitizers, research, restored violations, NEVER-REMOVE mandate
  .claude/thea-ultimate-runner.sh
Due: none

Auto-save: Replace excluded LiveGuidanceSettingsView reference with inline placeholder
  macOS/Views/MacSettingsView.swift
Due: unittests, macos

Auto-save: Modernize DispatchQueue.main.async to Task @MainActor — Swift 6 concurrency best practices
  macOS/Views/ContentView.swift
  macOS/Views/MacSettingsView.swift
Due: unittests, macos

Auto-save: Enhance Liquid Glass system — add liquidGlassButton helper, softEdges on sidebar — macOS 26 best practices
  Shared/UI/Styles/LiquidGlassStyle.swift
  macOS/Views/ContentView.swift
Due: unittests, macos, ios

Auto-save: Fix analyzer warnings — remove unnecessary await, replace asyncMap with map
  Shared/AI/LiveGuidance/LocalVisionGuidance.swift
  Shared/Integrations/Health/Services/HealthKitService.swift
Due: unittests, macos, ios

Auto-save: Modernize HealthKit queries to HKSampleQueryDescriptor/HKStatisticsQueryDescriptor async/await — 2026 best practices
  Shared/Tracking/HealthTrackingManager.swift
Due: unittests, macos, ios

Auto-save: Upgrade SWIFT_STRICT_CONCURRENCY from minimal to complete — Swift 6 best practices
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: Runner v5.0 — 16 agents: AI innovation, architecture quality, gap analysis, all addenda phases verified
  .claude/mission-ai-innovation.txt
  .claude/mission-architecture.txt
  .claude/mission-gap-analysis.txt
  Shared/AI/TextProcessing/LiveAutoCorrect.swift
  Shared/Intelligence/LifeMonitoring/LifeMonitoringCoordinator.swift
  Shared/Intelligence/LifeMonitoring/MailMonitor.swift
  Shared/Intelligence/LifeMonitoring/MessagesMonitor.swift
Due: unittests, macos, ios

Auto-save: Add thinkingDelta to ChatResponse, extend AnthropicProvider to 1M context, add thinkingTrace and hallucinationFlags to MessageMetadata
  Shared/AI/AIProviderProtocol.swift
  Shared/AI/Providers/AnthropicProvider.swift
  Shared/Core/Models/Message.swift
Due: unittests, macos, ios

Auto-save: AI innovation — Adaptive thinking for Opus 4.6 + thinking trace in streaming
  Shared/Core/Managers/ChatManager+Messaging.swift
  Shared/Core/Managers/ChatManager.swift
Due: unittests, macos, ios

Auto-save: Wire LifeMonitoringCoordinator → BehavioralFingerprint — map all life events to behavioral activity types
  Shared/Intelligence/LifeMonitoring/LifeMonitoringCoordinator.swift
Due: unittests, macos, ios

Auto-save: Add MoodTracker mood aggregation service for life monitoring
  Shared/AI/Providers/AnthropicProvider.swift
  Shared/Core/Managers/ChatManager+Messaging.swift
  Shared/Intelligence/LifeMonitoring/LifeMonitoringCoordinatorTypes.swift
  Shared/Intelligence/LifeMonitoring/MoodTracker.swift
  Shared/Intelligence/LifeMonitoring/WeatherMonitor.swift
  Shared/UI/Components/MessageBubble.swift
  Shared/UI/Views/Settings/BehavioralPatternsView.swift
Due: unittests, macos, ios

Auto-save: AI innovation — Thinking trace UI + Claude Opus 4.6 model catalog + advanced streaming thinking
  Shared/AI/Providers/AnthropicProvider.swift
Due: unittests, macos, ios

Auto-save: Add WeatherMonitor — WeatherKit polling every 30min, persists to disk, feeds LifeMonitoringCoordinator
  Shared/AI/Proactive/ProactivityEngine+AmbientAgents.swift
  Shared/AI/Proactive/ProactivityEngine+IntentPrediction.swift
  Shared/Integrations/Apple/MapsIntegration+Models.swift
  Shared/Integrations/Apple/MapsIntegration+Search.swift
  Shared/Intelligence/LifeMonitoring/CallMonitor+Queries.swift
  Shared/Intelligence/LifeMonitoring/DeadlineIntelligence+Types.swift
  Shared/Intelligence/LifeMonitoring/LifeMonitoringCoordinator.swift
  Shared/Intelligence/LifeMonitoring/LifeMonitoringCoordinatorTypes.swift
  Shared/Intelligence/LifeMonitoring/VoiceProactivityModels.swift
  Shared/Intelligence/LifeMonitoring/WeatherMonitor.swift
  Shared/UI/Views/Settings/DNSBlocklistManagerView.swift
  Shared/UI/Views/Settings/KnowledgeGraphExplorerView.swift
  Shared/UI/Views/Settings/NetworkActivityMonitorView.swift
Due: unittests, macos, ios

Auto-save: Compact WeatherMonitor to 195 lines (under 200-line target)
  Shared/AI/LocalModels/PredictivePreloader+SequenceAnalysis.swift
  Shared/AI/LocalModels/PredictivePreloader+Statistics.swift
  Shared/AI/LocalModels/PredictivePreloader+Types.swift
  Shared/AI/Proactive/ProactivityEngine+ContextWatch.swift
  Shared/AI/Proactive/ProactivityEngine+Suggestions.swift
  Shared/Integrations/Apple/MapsIntegration+Geocoding.swift
  Shared/Integrations/Apple/MapsIntegration+Routing.swift
  Shared/Intelligence/LifeMonitoring/CallMonitor+DeadlineIntegration.swift
  Shared/Intelligence/LifeMonitoring/CallMonitor+TranscriptionEngine.swift
  Shared/Intelligence/LifeMonitoring/DeadlineIntelligence+Model.swift
  Shared/Intelligence/LifeMonitoring/FocusModeIntelligence+Configuration.swift
  Shared/Intelligence/LifeMonitoring/FocusModeIntelligence+UrgencyAssessment.swift
  Shared/Intelligence/LifeMonitoring/PredictiveLifeEngine+Core.swift
  Shared/Intelligence/LifeMonitoring/PredictiveLifeEngine+Models.swift
  Shared/Intelligence/LifeMonitoring/VoiceProactivity+Convenience.swift
  Shared/Intelligence/LifeMonitoring/VoiceProactivity+Interactions.swift
  Shared/Intelligence/LifeMonitoring/WeatherMonitor.swift
  Shared/Memory/PersonalKnowledgeGraph.swift
  Shared/UI/Views/Settings/HealthInsightsView.swift
  Shared/UI/Views/Settings/NotificationScheduleView.swift
  Shared/UI/Views/Settings/PrivacyTransparencyReportView.swift
Due: unittests, macos, ios

Auto-save: Include new files from thea-sync (WeatherMonitor, CallMonitor extensions, DeadlineIntelligence model, PredictivePreloader types, etc.)
  Shared/AI/Automation/WorkflowEngine.swift
  Shared/Integrations/OpenClaw/OpenClawBridge.swift
  Shared/Intelligence/LifeMonitoring/DeadlineIntelligence+Engine.swift
  Shared/Intelligence/LifeMonitoring/FocusModeIntelligence+Monitoring.swift
  Shared/Intelligence/LifeMonitoring/FocusModeIntelligence+VIP.swift
  Shared/UI/Views/Settings/PrivacyTransparencyReportView+Sections.swift
Due: unittests, macos, ios

Auto-save: Add 4 intelligence dashboard views — BehavioralPatterns, KnowledgeGraphExplorer, HealthInsights, NotificationSchedule
  Shared/Integrations/TaskManagement/AsanaIntegration+Tasks.swift
  Shared/Intelligence/LifeMonitoring/PredictiveLifeEngine+PatternPredictions.swift
Due: unittests, macos, ios

Auto-save: Split MapsIntegration.swift (1034 lines) into focused modules
  Shared/AI/LocalModels/PredictivePreloader+UIConfiguration.swift
  Shared/AI/Proactive/ProactivityEngine+Models.swift
  Shared/AI/Proactive/ProactivityEngine.swift
  Shared/Integrations/Apple/MapsIntegration+Utilities.swift
  Shared/Integrations/Apple/MapsIntegration.swift
  Shared/Integrations/TaskManagement/AsanaIntegration+Portfolios.swift
  Shared/Integrations/TaskManagement/AsanaIntegration+Projects.swift
  Shared/Intelligence/LifeMonitoring/DeadlineIntelligence+Extractors.swift
  Shared/Intelligence/LifeMonitoring/FocusModeIntelligence+Communication.swift
  Shared/Intelligence/LifeMonitoring/FocusModeIntelligence+EventHandlers.swift
  Shared/Intelligence/LifeMonitoring/FocusModeIntelligence+Prediction.swift
  Shared/Intelligence/LifeMonitoring/FocusModeIntelligence+SessionAnalytics.swift
  Shared/Intelligence/LifeMonitoring/PredictiveLifeEngine+CyclePredictions.swift
  Shared/Intelligence/LifeMonitoring/VoiceProactivity.swift
  Shared/Memory/ActiveMemoryRetrieval+Retrieval.swift
  Shared/UI/QuickPrompt/GlobalQuickPrompt.swift
  Shared/UI/Views/Settings/FirewallAuditDetailView.swift
  Shared/UI/Views/Settings/PrivacyFirewallDashboardView.swift
  Tests/CoreTests/ModelTests/ErrorLoggerTests.swift
Due: unittests, macos, ios

Auto-save: Split ProactivityEngine.swift (978 lines) into focused modules
  Shared/Intelligence/LifeMonitoring/CallMonitor+AnalysisEngine.swift
  Shared/Intelligence/LifeMonitoring/DeadlineIntelligence.swift
  Shared/UI/Views/Settings/BehavioralPatternsView.swift
Due: unittests, macos, ios

Auto-save: Split DeadlineIntelligence.swift (975 lines) into focused modules
  Shared/AI/LocalModels/PredictivePreloader.swift
  Shared/Core/Managers/ChatManager+Messaging.swift
  Shared/Execution/Autonomous/BlueprintExecutor+StepExecution.swift
  Shared/Integrations/TaskManagement/AsanaIntegration+Goals.swift
  Shared/Intelligence/LifeMonitoring/CallMonitor+AnalysisHelpers.swift
  Shared/Intelligence/LifeMonitoring/FocusModeIntelligence+Persistence.swift
  Shared/Intelligence/LifeMonitoring/FocusModeIntelligence+Reliability.swift
  Shared/Intelligence/LifeMonitoring/PredictiveLifeEngine+Management.swift
  Shared/Intelligence/LifeMonitoring/VoiceProactivity+Relay.swift
  Shared/Intelligence/Verification/ConfidenceSystem.swift
  Shared/Intelligence/Verification/MultiModelConsensus.swift
Due: unittests, macos, ios

Auto-save: Split PredictivePreloader.swift (919 lines) into focused modules
  Shared/Execution/Autonomous/BlueprintExecutor+Verification.swift
  Shared/Integrations/TaskManagement/AsanaIntegration+Webhooks.swift
  Shared/Intelligence/LifeMonitoring/PredictiveLifeEngine.swift
  Shared/UI/Views/Settings/KnowledgeGraphExplorerView.swift
Due: unittests, macos, ios

Auto-save: Fix ErrorLoggerTests concurrency warnings — remove @MainActor, add nonisolated(unsafe) + @Sendable
  Tests/CoreTests/ModelTests/ErrorLoggerTests.swift
Due: none

Auto-save: Compact 4 intelligence dashboard views to under 200 lines each
  Shared/UI/Views/Settings/HealthInsightsView.swift
  Shared/UI/Views/Settings/NotificationScheduleView.swift
Due: unittests, macos, ios

Auto-save: Split VoiceProactivity.swift (1043 lines) into focused modules
  Shared/AI/ResilientAIFallbackChain.swift
  Shared/AI/TextProcessing/LiveAutoCorrect.swift
  Shared/AI/Voice/VoiceActivationEngine.swift
  Shared/Code/CodeIntelligence.swift
  Shared/Core/Managers/ChatManager+Messaging.swift
  Shared/Execution/Testing/TestGenerator.swift
  Shared/Features/V1Parity/SiriIntegration.swift
  Shared/InferenceRelay/InferenceRelayHandler.swift
  Shared/Integrations/TaskManagement/AsanaIntegration+Coordinator.swift
  Shared/Integrations/TaskManagement/AsanaIntegration+Users.swift
  Shared/Intelligence/AgentMode/AutonomousAgentV3.swift
  Shared/Intelligence/LifeMonitoring/CallMonitor+AnalysisEngine.swift
  Shared/Intelligence/LifeMonitoring/FocusModeIntelligence+Learning.swift
  Shared/Intelligence/LifeMonitoring/FocusModeIntelligence.swift
  Shared/Intelligence/LifeMonitoring/VoiceProactivity.swift
  Shared/Intelligence/Orchestration/TheaAgentRunner.swift
  Shared/Intelligence/Planning/TaskPlanDAG.swift
  Shared/Intelligence/Squads/SquadOrchestrator.swift
  Shared/Intelligence/Verification/StaticAnalysisVerifier.swift
  Shared/Intelligence/Verification/WebSearchVerifier.swift
  Shared/LifeAssistant/LifeAssistantService.swift
  Shared/Productivity/TranslationEngine.swift
  Shared/SelfEvolution/AutonomousImprovement.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Path conditions:
  unittests: any of: Shared/, Platforms/, iOS/, macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  macos: any of: Shared/, macOS/, Platforms/macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  ios: any of: Shared/, iOS/, Platforms/iOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
