Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

Auto-save: rewrite macOS exclusion block — include ~200 previously excluded files
  Extensions/SafariExtension/SafariWebExtensionHandler.swift
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: Phase B - Integrate TheaTextInputField, slash commands, mentions, char counter into ChatInputView
  Extensions/SafariExtension/SafariExtensionActions.swift
  Extensions/SafariExtension/SafariWebExtensionHandler.swift
  Shared/UI/Components/ChatInputView.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: unittests, macos, ios

Auto-save: Checkpoint before Safari extension cleanup
  Extensions/SafariExtension/SafariWebExtensionHandler.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Checkpoint before cleanup
  Extensions/SafariExtension/Resources/background.js
  Extensions/SafariExtension/SafariWebExtensionHandler.swift
  Shared/Integrations/NotesIntegration.swift
  Shared/Integrations/RemindersIntegration.swift
  Shared/UI/Views/Settings/AutonomousTaskSettingsView.swift
  Shared/UI/Views/Settings/LocalModelsSettingsView.swift
  project.yml
Due: unittests, macos, ios

Auto-save: checkpoint before DerivedData cleanup
  Extensions/SafariExtension/Resources/background.js
  Extensions/SafariExtension/SafariExtensionActions.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: Remove stale duplicate files (NotesIntegration, RemindersIntegration, AutonomousTaskSettingsView, LocalModelsSettingsView) + project updates
  project.yml
Due: none

Auto-save: Update project.yml — replace blanket Automation exclusion with selective, include new BT/browser/plan files
  Extensions/SafariExtension/Resources/manifest.json
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: rewrite macOS exclusion block — include ~200 previously excluded files (take 2)
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Checkpoint before DerivedData cleanup
  project.yml
Due: none

Auto-save: Checkpoint before build verification
  project.yml
Due: none

WIP: Fix build errors - add exclusions for missing dependencies
  Extensions/SafariExtension/Resources/background.js
  Extensions/SafariExtension/Resources/manifest.json
  Extensions/SafariExtension/SafariWebExtensionHandler.swift
  Shared/UI/Design/TheaDesignSystem.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: unittests, macos, ios

WIP: Fix build errors - safari extension access control, project exclusions
  Thea.xcodeproj/project.pbxproj
Due: none

WIP: More build fixes - add exclusions and safari extension actions
  Extensions/SafariExtension/Resources/background.js
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

WIP: Build in progress - needs manual project.yml fixes
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: fix build errors from session integration — Safari extension access control, exclusion fixes, background.js
  Extensions/SafariExtension/Resources/background.js
  Extensions/SafariExtension/SafariExtensionActions.swift
  Extensions/SafariExtension/SafariWebExtensionHandler.swift
  project.yml
  tvOS/Services/RemoteInferenceClient.swift
Due: none

Auto-save: regenerated Xcode project after build fixes
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: checkpoint before app install
  Extensions/SafariExtension/SafariWebExtensionHandler.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: fix SwiftData migration — add default values to Conversation properties
  Shared/Core/Models/Conversation.swift
Due: unittests, macos, ios

Auto-save: add background/background.js exclusion to Safari extension targets
  project.yml
Due: none

Auto-save: fix Safari extension access control — private → internal for extension access
  Extensions/SafariExtension/SafariWebExtensionHandler.swift
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: fix project.yml exclusions — enable PermissionsSettingsView, LongTermMemoryManager, TheaTextInputField; exclude MentionAutocomplete
  project.yml
Due: none

Auto-save: fix project.yml exclusions, Safari access control, background.js duplicate
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: regenerated Xcode project after exclusion fixes
  Extensions/SafariExtension/SafariWebExtensionHandler.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: add SwiftData migration recovery — delete and recreate store on failure
  macOS/TheamacOSApp.swift
Due: unittests, macos

Auto-save: restore correct project.yml exclusions and regenerate Xcode project
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: restore Safari extension internal access control from ec048b3
  Extensions/SafariExtension/SafariWebExtensionHandler.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: correct project.yml + Safari access control + regenerated pbxproj
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: robust SwiftData migration recovery using direct SQLite schema check
  Extensions/SafariExtension/SafariWebExtensionHandler.swift
  Thea.xcodeproj/project.pbxproj
  macOS/TheamacOSApp.swift
  project.yml
Due: unittests, macos

Auto-save: fix project.yml exclusions + Safari access control + SQLite migration recovery
  Extensions/SafariExtension/SafariWebExtensionHandler.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: fix spinning cursor on Sync settings page
  Shared/Sync/AppUpdateService.swift
  Shared/Sync/PreferenceSyncEngine.swift
  Shared/UI/Views/Settings/SyncSettingsView.swift
Due: unittests, macos, ios

Auto-save: add background.js exclusion to Safari extension targets in project.yml
  project.yml
Due: none

Auto-save: fix Safari extension access control and background dir exclusion
  project.yml
Due: none

Auto-save: restore MentionAutocomplete.swift exclusion in all 3 target sections
  project.yml
Due: none

Auto-save: remove exclusions for TheaTextInputField, PermissionsSettingsView, LongTermMemoryManager (needed by active code)
  project.yml
Due: none

Auto-save: fix missing input field (add frame constraint) and beachball on Sync settings
  Shared/Sync/CloudKitService.swift
  Shared/Sync/PreferenceSyncEngine.swift
  Shared/UI/Components/ChatInputView.swift
  macOS/TheamacOSApp.swift
Due: unittests, macos, ios

Auto-save: add liquidGlassRounded background to macOS TheaTextInputField for visibility
  Shared/UI/Components/ChatInputView.swift
Due: unittests, macos, ios

Auto-save: replace TheaTextInputField with SwiftUI TextField, split SyncSettingsView into loading wrapper
  Shared/UI/Components/ChatInputView.swift
  Shared/UI/Views/Settings/SyncSettingsView.swift
Due: unittests, macos, ios

Auto-save: regenerate Xcode project
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: fix input field visibility with explicit frame and material background
  Shared/UI/Components/ChatInputView.swift
Due: unittests, macos, ios

Path conditions:
  unittests: any of: Shared/, Platforms/, iOS/, macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  macos: any of: Shared/, macOS/, Platforms/macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  ios: any of: Shared/, iOS/, Platforms/iOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
