Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

codecov.yml:

# CodeCov Configuration for Thea
# Version: 1.0.0
# Last Updated: January 16, 2026
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# ============================================
# COVERAGE SETTINGS
# ============================================
coverage:
  # Precision of coverage percentage (2 decimal places)
  precision: 2

  # Round coverage percentage
  round: down

  # Range for coverage (red to green)
  range: "50...90"

  # Status checks
  status:
    # Project-level coverage
    project:
      default:
        # Target coverage percentage
        target: auto
        # Threshold for coverage decrease allowed
        threshold: 1%
        # Only check coverage on files that were changed
        only_changed_files: false
        # Compare against base branch
        base: auto
        # Flags to include (if using multiple coverage uploads)
        flags:
          - unittests

      # Separate status for each platform
      macos:
        target: auto
        threshold: 2%
        flags:
          - macos

      ios:
        target: auto
        threshold: 2%
        flags:
          - ios

    # Patch-level coverage (only changed lines)
    patch:
      default:
        target: auto
        threshold: 5%
        only_changed_files: true

# ============================================
# PARSING SETTINGS
# ============================================
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      macro: false
      method: false

# ============================================
# FLAGS
# ============================================
flags:
  unittests:
    paths:
      - Shared/
      - Platforms/
      - iOS/
      - macOS/
    carryforward: true
    after_n_builds: 1

  macos:
    paths:
      - Shared/
      - macOS/
      - Platforms/macOS/
    carryforward: true

  ios:
    paths:
      - Shared/
      - iOS/
      - Platforms/iOS/
    carryforward: true

# ============================================
# IGNORE PATHS
# ============================================
ignore:
  - "build/**/*"
  - ".build/**/*"
  - "DerivedData/**/*"
  - "Pods/**/*"
  - "Carthage/**/*"
  - "SourcePackages/**/*"
  - "Tests/**/*"
  - "**/*Tests.swift"
  - "**/*Test.swift"
  - "**/Preview Content/**/*"
  - "*.generated.swift"
  - "Package.swift"

# ============================================
# COMMENT SETTINGS
# ============================================
comment:
  # Layout of the comment
  layout: "reach,diff,flags,files,footer"

  # Comment behavior
  behavior: default

  # Require changes for comment
  require_changes: false

  # Show project coverage
  require_base: false
  require_head: true

  # Branches to comment on
  branches:
    - main
    - develop
    - "feature/*"
    - "release/*"

# ============================================
# GITHUB CHECKS
# ============================================
github_checks:
  # Show annotations on files in PR
  annotations: true

# ============================================
# NOTIFICATIONS
# ============================================
# Configure if you want Slack/email notifications
# notify:
#   slack:
#     default:
#       url: "https://hooks.slack.com/services/..."
#       threshold: 1%
#       only_pulls: false
#       branches:
#         - main

chore: add *.txt to gitignore
  .gitignore
Due: none

fix(ci): resolve Swift 6 concurrency errors and SPM test imports
  .claude/settings.local.json
  Shared/APIBuilder/APIGenerator.swift
  Shared/APIBuilder/MCPServerGenerator.swift
  Shared/AppIntegration/AppIntegrationFramework.swift
  Shared/AppIntegration/AppStateMonitor.swift
  Shared/Integrations/FinderIntegration.swift
  Shared/Integrations/ShortcutsIntegration.swift
  Shared/Integrations/XcodeIntegration.swift
  Shared/Monitoring/ActivityLogger.swift
  Shared/Monitoring/MonitoringService.swift
  Shared/Sync/CrossDeviceService.swift
  Shared/System/NotificationService.swift
  Tests/APIBuilderTests/APIGeneratorTests.swift
  Tests/APIBuilderTests/MCPServerGeneratorTests.swift
  Tests/IntegrationTests/AssessmentServiceTests.swift
  Tests/IntegrationTests/CareerServiceTests.swift
  Tests/IntegrationTests/FinancialServiceTests.swift
  Tests/IntegrationTests/HealthServiceTests.swift
  Tests/IntegrationTests/IncomeServiceTests.swift
  Tests/IntegrationTests/IntegrationModuleTests.swift
  Tests/IntegrationTests/NutritionServiceTests.swift
  Tests/IntegrationTests/WellnessServiceTests.swift
  Tests/ManagerTests/ChatManagerTests.swift
  Tests/MetaAITests/KnowledgeGraphTests.swift
  Tests/MetaAITests/MemorySystemTests.swift
  Tests/MetaAITests/PluginSystemTests.swift
  Tests/MetaAITests/SubAgentOrchestratorTests.swift
  Tests/MetaAITests/ToolFrameworkTests.swift
  Tests/MetaAITests/WorkflowBuilderTests.swift
  Tests/ModelTests/ConversationTests.swift
  Tests/MonitoringTests/MonitoringServiceTests.swift
  Tests/ProviderTests/AllProvidersTests.swift
  Tests/ProviderTests/AnthropicProviderTests.swift
  Tests/ProviderTests/OpenAIProviderTests.swift
  Tests/SystemTests/PowerManagementTests.swift
  Tests/XcodeBuildRunnerTests.swift
  Thea.xcodeproj/project.pbxproj
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-iOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-macOS.xcscheme
  project.yml
Due: unittests, macos, ios

fix(ci): resolve remaining Swift 6 concurrency errors
  Shared/Core/Models/Message.swift
  Shared/System/ThrottlingEngine.swift
Due: unittests, macos, ios

fix(ci): resolve remaining Swift 6 concurrency errors and test failures
  Shared/Integrations/CalendarIntegration.swift
  Shared/Integrations/RemindersIntegration.swift
  Tests/ModelTests/ConversationTests.swift
Due: unittests, macos, ios

fix(ci): resolve SPM test and SonarCloud failures
  .github/workflows/ci.yml
Due: none

fix(tests): add conditional imports for Xcode/SPM compatibility
  Tests/APIBuilderTests/APIGeneratorTests.swift
  Tests/APIBuilderTests/MCPServerGeneratorTests.swift
  Tests/IntegrationTests/AssessmentServiceTests.swift
  Tests/IntegrationTests/CareerServiceTests.swift
  Tests/IntegrationTests/FinancialServiceTests.swift
  Tests/IntegrationTests/HealthServiceTests.swift
  Tests/IntegrationTests/IncomeServiceTests.swift
  Tests/IntegrationTests/IntegrationModuleTests.swift
  Tests/IntegrationTests/NutritionServiceTests.swift
  Tests/IntegrationTests/WellnessServiceTests.swift
  Tests/ManagerTests/ChatManagerTests.swift
  Tests/MetaAITests/KnowledgeGraphTests.swift
  Tests/MetaAITests/MemorySystemTests.swift
  Tests/MetaAITests/PluginSystemTests.swift
  Tests/MetaAITests/SubAgentOrchestratorTests.swift
  Tests/MetaAITests/ToolFrameworkTests.swift
  Tests/MetaAITests/WorkflowBuilderTests.swift
  Tests/ModelTests/ConversationTests.swift
  Tests/MonitoringTests/MonitoringServiceTests.swift
  Tests/ProviderTests/AllProvidersTests.swift
  Tests/ProviderTests/AnthropicProviderTests.swift
  Tests/ProviderTests/OpenAIProviderTests.swift
  Tests/SystemTests/PowerManagementTests.swift
  Tests/XcodeBuildRunnerTests.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

fix: unify module name to TheaCore across Xcode and SPM
  Tests/APIBuilderTests/APIGeneratorTests.swift
  Tests/APIBuilderTests/MCPServerGeneratorTests.swift
  Tests/IntegrationTests/AssessmentServiceTests.swift
  Tests/IntegrationTests/CareerServiceTests.swift
  Tests/IntegrationTests/FinancialServiceTests.swift
  Tests/IntegrationTests/HealthServiceTests.swift
  Tests/IntegrationTests/IncomeServiceTests.swift
  Tests/IntegrationTests/IntegrationModuleTests.swift
  Tests/IntegrationTests/NutritionServiceTests.swift
  Tests/IntegrationTests/WellnessServiceTests.swift
  Tests/ManagerTests/ChatManagerTests.swift
  Tests/MetaAITests/KnowledgeGraphTests.swift
  Tests/MetaAITests/MemorySystemTests.swift
  Tests/MetaAITests/PluginSystemTests.swift
  Tests/MetaAITests/SubAgentOrchestratorTests.swift
  Tests/MetaAITests/ToolFrameworkTests.swift
  Tests/MetaAITests/WorkflowBuilderTests.swift
  Tests/ModelTests/ConversationTests.swift
  Tests/MonitoringTests/MonitoringServiceTests.swift
  Tests/ProviderTests/AllProvidersTests.swift
  Tests/ProviderTests/AnthropicProviderTests.swift
  Tests/ProviderTests/OpenAIProviderTests.swift
  Tests/SystemTests/PowerManagementTests.swift
  Tests/XcodeBuildRunnerTests.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

fix(tests): disable CloudKit in SwiftData test configurations
  Tests/ManagerTests/ChatManagerTests.swift
  Tests/ModelTests/ConversationTests.swift
Due: none

feat(ios): add iPad-optimized UI with Liquid Glass support
  Shared/Core/Managers/ChatManager.swift
  Shared/Core/Managers/FinancialManager.swift
  Shared/Core/Managers/KnowledgeManager.swift
  Shared/Core/Managers/ProjectManager.swift
  Shared/Core/Managers/SettingsManager.swift
  Shared/UI/Styles/LiquidGlassStyle.swift
  iOS/TheaiOSApp.swift
  iOS/Views/AdaptiveHomeView.swift
  iOS/Views/iOSFinancialView.swift
  iOS/Views/iOSSettingsView.swift
  iOS/Views/iPadHomeView.swift
Due: unittests, macos, ios

Security audit: Fix all critical/high/medium findings
  CHANGELOG.md
  SECURITY.md
  Shared/AI/LocalModels/LocalModelProvider.swift
  Shared/AI/MetaAI/SelfExecution/CodeGenerator.swift
  Shared/AI/MetaAI/SelfExecution/FileCreator.swift
  Shared/AI/MetaAI/SelfExecution/PhaseOrchestrator.swift
  Shared/AI/MetaAI/SelfExecution/ProgressTracker.swift
  Shared/AI/MetaAI/SelfExecution/SelfExecutionConfiguration.swift
  Shared/AI/MetaAI/SelfExecution/SelfExecutionService.swift
  Shared/AI/MetaAI/SelfExecution/SpecParser.swift
  Shared/Core/Managers/SettingsManager.swift
  Shared/Core/Services/ProjectPathManager.swift
  Shared/Core/Services/QAToolsManager.swift
  Shared/Monitoring/ActivityLogger.swift
  Shared/System/GitSavepoint.swift
  Shared/System/Terminal/TerminalSecurityPolicy.swift
  Shared/System/XcodeBuildRunner.swift
  Shared/UI/Styles/LiquidGlassStyle.swift
  Thea.xcodeproj/project.pbxproj
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-iOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-macOS.xcscheme
  project.yml
Due: unittests, macos, ios

fix: SwiftLint type_name and empty_count violations
  Thea.xcodeproj/project.pbxproj
  iOS/Views/AdaptiveHomeView.swift
  iOS/Views/iPadHomeView.swift
Due: unittests, ios

fix: remove iOS 26 glassEffect API calls for Xcode 15 compatibility
  Shared/UI/Styles/LiquidGlassStyle.swift
Due: unittests, macos, ios

security: Red Hat adversarial security audit - fix 5 CRITICAL + 3 HIGH vulnerabilities
  CHANGELOG.md
  Shared/Automation/BrowserAutomationService.swift
  Shared/Cowork/FolderAccessManager.swift
  Shared/Integrations/IntegrationModule.swift
  Shared/Integrations/MailIntegration.swift
  Shared/Integrations/Nutrition/Services/NutritionService.swift
  Shared/Integrations/ShortcutsIntegration.swift
  Shared/Integrations/TerminalIntegration.swift
  Shared/Integrations/XcodeIntegration.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: unittests, macos, ios

feat: Major code improvements and new features
  Shared/AI/MetaAI/AICodeFixGenerator.swift
  Shared/AI/MetaAI/DeepAgentEngine.swift.legacy
  Shared/AI/MetaAI/ErrorKnowledgeBaseBridge.swift.wip
  Shared/AI/MetaAI/ExecutionPipeline.swift
  Shared/AI/MetaAI/ResultAggregator.swift
  Shared/AI/MetaAI/SubAgentOrchestrator.swift.legacy
  Shared/AI/MetaAI/WorkflowPersistence.swift
  Shared/AI/PromptEngineering/PromptOptimizer.swift.legacy
  Shared/Core/Managers/ApprovalManager.swift
  Shared/Core/Managers/ErrorKnowledgeBaseManager.swift.legacy
  Shared/UI/Views/ChatView.swift
  Shared/UI/Views/SettingsView.swift
Due: unittests, macos, ios

fix: Add @unchecked Sendable to structs with [String: Any] properties
  Shared/AI/MetaAI/ExecutionPipeline.swift
  Shared/AI/MetaAI/ResultAggregator.swift
  Shared/AI/MetaAI/ToolFramework.swift
Due: unittests, macos, ios

fix: Remove nonisolated from ToolFramework methods to fix data race
  Shared/AI/MetaAI/ToolFramework.swift
Due: unittests, macos, ios

fix: Use sending parameter for ToolFramework methods
  Shared/AI/MetaAI/ToolFramework.swift
Due: unittests, macos, ios

fix: Resolve Swift 6 strict concurrency data race errors
  Shared/AI/MetaAI/PluginSystem.swift
  Shared/AI/MetaAI/SystemToolBridge.swift
  Shared/AI/MetaAI/ToolFramework.swift
  Shared/AI/MetaAI/WorkflowBuilder.swift
Due: unittests, macos, ios

chore: Apply Xcode recommended build settings
  Thea.xcodeproj/project.pbxproj
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-iOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-macOS.xcscheme
  project.yml
Due: none

fix: Resolve remaining Swift 6 strict concurrency errors
  Shared/AI/MetaAI/MCPToolBridge.swift
  Shared/AI/MetaAI/SystemToolBridge.swift
  Shared/AI/PromptEngineering/UserPreferenceModel.swift
  Shared/Core/Managers/ChatManager.swift
  Shared/Core/Managers/FinancialManager.swift
  Shared/Core/Managers/KnowledgeManager.swift
Due: unittests, macos, ios
