Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

docs(AY3): Mark Phase AY3 ✅ DONE in v3 capability plan [S9]
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

Auto-save: mark Phase AT3 (TheaWeb) ✅ DONE
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

fix(AW3-prep): add .browser case to MessagingPlatform switches
  Shared/Integrations/OpenClaw/TheaMessagingGateway.swift
  Shared/UI/Views/Settings/TheaMessagingSettingsView.swift
Due: unittests, macos, ios

fix(AW3-prep): wrap Process in AgentOrchestrator.shellOutput() for iOS compat
  Shared/Intelligence/AgentOrchestration/AgentOrchestrator.swift
Due: unittests, macos, ios

Auto-save: mark Phase AU3 (Tizen) ✅ DONE
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

Auto-save: mark Phase AW3 (Widget Extension) ✅ DONE
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

feat(AV3): TheaGatewayWSServer — add POST /message endpoint for NativeHost [2/4]
  Shared/Integrations/OpenClaw/TheaGatewayWSServer.swift
Due: unittests, macos, ios

Auto-save: NativeHost — add chat handler for browser extension AI
  Extensions/NativeHost/TheaNativeMessagingHost.swift
Due: none

Auto-save: Chrome extension native bridge port + host ID corrections
  Extensions/Chrome/background/native-bridge.js
Due: none

Auto-save: mark Phase AX3 (Native Extensions Group 1) ✅ DONE
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

feat(AV3): Brave cleanup — archive Brave 2-13, remove original, Brave 14 is canonical [4/4]
  Extensions/Brave 9
  Extensions/_archive/Brave 10
  Extensions/_archive/Brave 11
  Extensions/_archive/Brave 12
  Extensions/_archive/Brave 13
  Extensions/_archive/Brave 2
  Extensions/_archive/Brave 3
  Extensions/_archive/Brave 4
  Extensions/_archive/Brave 5
  Extensions/_archive/Brave 6
  Extensions/_archive/Brave 7
  Extensions/_archive/Brave 8
  Extensions/_archive/Brave 9
Due: none

docs(AV3): Mark Phase AV3 (Browser Extensions) ✅ DONE in v3 capability plan [S7]
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

Auto-save: Phase X3 ✅ DONE — test suite verified (4046 passing)
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

Auto-save: Phase Y3 ✅ DONE — 0 periphery warnings
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

Auto-save: fix X3+Z3 status in plan (X3 ✅ DONE, Z3 pending remote sync)
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

Auto-save: Phase AA3 ⚠️ COMPLETE — wiring verification run, 16 gaps documented
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

Auto-save: Phase AB3 — tag v1.5.0 exists, pending pushsync
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

Auto-save: Phase AC3 ✅ DONE — Wave 6 verification report generated
  .claude/WAVE_6_VERIFICATION_REPORT.md
Due: none

Auto-save: mark AC3 ✅ DONE in v3 plan — Wave 6 complete (with caveats)
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

Auto-save: sync plan status (Wave 6 reset by parallel stream)
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

docs(plan): update Quick Status Snapshot + Progress Tracking tables — Wave 10 (AAA3-AAI3) + Wave 11 (ABA3-ABH3) rows added; AZ3 v2 updated; overall status updated
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

feat(plan): Wave 10 Risk Mitigation Protocol — RM-1 SPM type pre-audit, RM-2 entitlement-first, RM-3 CI idle check, RM-4 micro-QA per file, RM-5 session budget + 6-stream assignment
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

feat(plan): AZ3 v2 — add AZ3-6 through AZ3-15 (ODiff, Prefire, Allure3, XCTMetric, powermetrics, A11y, mitmproxy, BlackHole, SpeechQuality, PerceptualDiff)
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

feat(AAF3): RM-2 NFC entitlement + NSNFCReaderUsageDescription — NFC Tag Reading (NDEF+TAG) entitlement added to iOS/Thea.entitlements, Info.plist usage string added [RM-2 ✓]
  iOS/Info.plist
  iOS/Thea.entitlements
Due: unittests, ios

feat(AAF3-1): HomeKitAIEngine — HMHomeManager delegate, predictive Sleep/Morning scenes, home context summary. Wired into setupManagers() at 8s [REQ-AAF3-1 ✓]
  Shared/Intelligence/Home/HomeKitAIEngine.swift
  macOS/TheamacOSApp.swift
Due: unittests, macos, ios

feat(AAC3): add KrakenAPI + SwiftYNAB SPM packages to project.yml + macOS/iOS targets
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

feat(AAF3-2): JournalingSuggestionsService — iOS 17.2+ JournalingSuggestions framework, curated life moments, context summary + reflection prompt [REQ-AAF3-2 ✓]
  Shared/Intelligence/Journaling/JournalingSuggestionsService.swift
Due: unittests, macos, ios

feat(AAC3): FinancialModels.swift — SwiftData @Model FinancialAccount + FinancialTransaction + FinancialProvider [1/7]
  Shared/Intelligence/Financial/FinancialModels.swift
Due: unittests, macos, ios

feat(AAC3): FinancialCredentialStore.swift — Keychain-only credential store for all financial providers [2/7]
  Shared/Intelligence/Financial/FinancialCredentialStore.swift
Due: unittests, macos, ios

feat(AAF3-3): NFCContextService — CoreNFC NDEF reader, thea://context/* URL validation, HomeKit scene + focus session routing, NFCContext enum [REQ-AAF3-3 ✓]
  Shared/Intelligence/NFC/NFCContextService.swift
Due: unittests, macos, ios

feat(AAH3): XAPIService — X v2 OAuth2 PKCE + Keychain token storage [1/4]
  Shared/Intelligence/Social/XAPIService.swift
Due: unittests, macos, ios

feat(AAE3): OuraService — Oura Ring v2 REST actor, daily readiness fetch [1/5]
  Shared/Intelligence/Health/OuraService.swift
Due: unittests, macos, ios

feat(AAC3): KrakenService.swift — Kraken crypto actor, fetchBalances() + fetchRecentTrades() via KrakenAPI SPM [3/7]
  Shared/Intelligence/Financial/KrakenService.swift
Due: unittests, macos, ios

feat(AAE3): WhoopService — Whoop REST actor, recovery score fetch [2/5]
  Shared/Intelligence/Health/WhoopService.swift
Due: unittests, macos, ios

feat(AAB3-1+2): TheaWidgetIntents (StartVoice/NewConversation/SearchMemory AppIntents) + TheaTaskActivityAttributes (Live Activities + LiveActivityManager) [REQ-AAB3-1 ✓][REQ-AAB3-2 ✓]
  Extensions/WidgetExtension/TheaTaskActivityAttributes.swift
  Extensions/WidgetExtension/TheaWidgetIntents.swift
Due: none

feat(AAC3): CoinbaseService.swift — Coinbase v2 REST actor, fetchAccounts() + fetchTransactions() via URLSession [4/7]
  Shared/Intelligence/Financial/CoinbaseService.swift
Due: unittests, macos, ios

feat(AAE3): WearableFusionEngine — weighted tri-source fusion, HumanReadinessEngine.computeMorningReadiness() wired [3/5]
  Shared/Intelligence/Health/WearableFusionEngine.swift
Due: unittests, macos, ios

feat(AAC3): YNABService.swift — YNAB budget actor with delta sync via SwiftYNAB SPM + lastKnowledgeOfServer [5/7]
  Shared/Intelligence/Financial/YNABService.swift
Due: unittests, macos, ios

feat(AAG3): CloudStorageService — Google Drive v3 + Dropbox v2 REST, pure URLSession (RM-1: no SwiftyDropbox) [4/5]
  Shared/Intelligence/CloudStorage/CloudStorageService.swift
Due: unittests, macos, ios

feat(AAB3-4): Share Extension Vision OCR — VNRecognizeTextRequest on shared images, ocrText saved in share metadata for AI processing [REQ-AAB3-4 ✓]
  Extensions/ShareExtension/ShareViewController.swift
Due: none

Path conditions:
  unittests: any of: Shared/, Platforms/, iOS/, macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  macos: any of: Shared/, macOS/, Platforms/macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  ios: any of: Shared/, iOS/, Platforms/iOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
