Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

Auto-save: Fix pushsync hook to allow git config commands containing 'push'
  .claude/hooks/enforce-pushsync.sh
Due: none

Auto-save: Redesign Chrome & Safari extensions with unified brand identity
  .claude/hooks/enforce-pushsync.sh
Due: none

Auto-save: Project file updates and sync scripts
  .claude/claude.md
  Shared/Sync/AppUpdateService.swift
  Thea.xcodeproj/project.pbxproj
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-iOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-macOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-tvOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-watchOS.xcscheme
Due: unittests, macos, ios

Auto-save: Fix popup icon path for Xcode flattened bundle (../icon-48.png -> icon-48.png)
  Extensions/SafariExtension/Resources/popup/popup.html
  Shared/UI/Views/Settings/SyncSettingsView.swift
Due: unittests, macos, ios

Auto-save: Fix pushsync hook and setup script - use script-based alias
  .claude/hooks/enforce-pushsync.sh
  Scripts/setup-mac-sync.sh
Due: none

Auto-save: Add internet-based push support via Tailscale fallback in git-pushsync
  Scripts/setup-mac-sync.sh
Due: none

Auto-save: Add missing import OSLog in SyncSettingsView, regenerate xcodeproj
  Shared/UI/Views/Settings/SyncSettingsView.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: Wire up remote notifications and AppUpdateService in macOS AppDelegate
  macOS/TheamacOSApp.swift
Due: unittests, macos

Auto-save: Add Device Updates section in SyncSettingsView with update banner, auto-update, and push UI
  Shared/UI/Views/Settings/SyncSettingsView.swift
Due: unittests, macos, ios

Auto-save: Overhaul AI & Models settings, add execution safety to Advanced, add missing settings
  macOS/Views/MacSettingsView.swift
Due: unittests, macos

Auto-save: Move search bar to sidebar placement in conversations list panel
  Shared/UI/Views/SidebarView.swift
Due: unittests, macos, ios

Auto-save: Fix font size setting - stored themeConfig for @Observable + scale base sizes on macOS
  Shared/Core/Configuration/AppConfiguration.swift
  macOS/Views/MacSettingsView.swift
Due: unittests, macos, ios

Auto-save: Update all CI workflows to macOS 26 runners with Xcode 26.2
  .claude/settings.local.json
  .github/workflows/ci.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/release.yml
  .github/workflows/thea-audit-main.yml
  .github/workflows/thea-audit-pr.yml
  Shared/Resources/Assets.xcassets/TheaSpiral.imageset/spiral_1x.png
  Shared/Resources/Assets.xcassets/TheaSpiral.imageset/spiral_2x.png
  Shared/Resources/Assets.xcassets/TheaSpiral.imageset/spiral_3x.png
  Shared/UI/Design/TheaDesignSystem.swift
  Shared/UI/Views/WelcomeView.swift
  macOS/Views/ContentView.swift
Due: unittests, macos, ios

Auto-save: Hide empty conversations from sidebar until first message is sent
  Shared/UI/Views/SidebarView.swift
  macOS/Views/ContentView.swift
Due: unittests, macos, ios

Auto-save: Fix sidebar font size, add conversations panel toggle, move (+) to detail, always show input field
  macOS/Views/ContentView.swift
Due: unittests, macos

Auto-save: Fix conversation row text cropping, add project context menu ops, show message count
  Shared/UI/Views/SidebarView.swift
Due: unittests, macos, ios

Auto-save: Inline search in conversations panel, center welcome spiral and greeting
  Shared/UI/Views/SidebarView.swift
  Shared/UI/Views/WelcomeView.swift
Due: unittests, macos, ios

Auto-save: Enable text selection app-wide, make settings resizable, remove auto-save text, fix alignment
  macOS/Views/ContentView.swift
  macOS/Views/MacSettingsView.swift
Due: unittests, macos

Auto-save: Scale conversation row spacing and padding with dynamic type size
  Shared/UI/Views/SidebarView.swift
Due: unittests, macos, ios

Auto-save: Regenerate Xcode project after all 7 UI fixes
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: Move microphone button from toolbar to inline in ChatInputView
  Shared/UI/Components/ChatInputView.swift
  macOS/Views/MacChatDetailView.swift
Due: unittests, macos, ios

Auto-save: Spiral icon bg removed, suggestions removed, duplicate (+) removed, toggle moved right, comprehensive message actions (copy/edit/rewrite/split/share/pin/delete)
  Shared/UI/Components/MessageBubble.swift
Due: unittests, macos, ios

Auto-save: Welcome screen uses golden spiral brand colors + spinning TheaSpiralIconView
  Shared/UI/Views/WelcomeView.swift
Due: unittests, macos, ios

Auto-save: Replace hurricane SF Symbol with actual app icon spiral, CCW rotation + breathing beat
  Shared/Resources/Assets.xcassets/TheaSpiral.imageset/Contents.json
  Shared/Resources/Assets.xcassets/TheaSpiral.imageset/spiral_1x.png
  Shared/Resources/Assets.xcassets/TheaSpiral.imageset/spiral_2x.png
  Shared/Resources/Assets.xcassets/TheaSpiral.imageset/spiral_3x.png
  Shared/UI/Design/TheaDesignSystem.swift
  Shared/UI/Views/WelcomeView.swift
Due: unittests, macos, ios

Path conditions:
  unittests: any of: Shared/, Platforms/, iOS/, macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  macos: any of: Shared/, macOS/, Platforms/macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  ios: any of: Shared/, iOS/, Platforms/iOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
