Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

fix(build): ToolExecutionCoordinator actor→@MainActor class, restore executeToolCall, remove unused _SendableDict
  Shared/AI/Tools/ToolExecutionCoordinator.swift
Due: unittests, macos, ios

fix(B3): ToolExecutionCoordinator rewrite — actor→@MainActor class, clean executeToolCall with direct @MainActor handler calls
  Shared/AI/Tools/ToolExecutionCoordinator.swift
Due: unittests, macos, ios

fix(B3): remove stale _SendableDict/sendableInput — use plain [String: Any] input param
  Shared/AI/Tools/ToolExecutionCoordinator.swift
Due: unittests, macos, ios

Auto-save: add @MainActor to MemoryToolHandler, FileToolHandler, WebToolHandler, CodeToolHandler enums
  Shared/AI/Tools/CodeToolHandler.swift
  Shared/AI/Tools/FileToolHandler.swift
  Shared/AI/Tools/MemoryToolHandler.swift
  Shared/AI/Tools/WebToolHandler.swift
Due: unittests, macos, ios

fix(B3): add @MainActor to MacOSToolHandler.finderSearch — calls @MainActor FileToolHandler.searchFiles
  Shared/AI/Tools/MacOSToolHandler.swift
Due: unittests, macos, ios

fix(B3): linter added @MainActor to MacOSToolHandler enum — eliminates sending violations
  Shared/AI/Tools/MacOSToolHandler.swift
Due: unittests, macos, ios

fix(B3): resolve Swift 6.2 sending/Sendable errors in tool handlers
  Shared/AI/Tools/SystemToolHandler.swift
  Shared/AI/Tools/ToolExecutionCoordinator.swift
  project.yml
Due: unittests, macos, ios

Auto-save: all build errors resolved — macOS BUILD SUCCEEDED
  SPM tests done 2
  echo 2
  maestro-results/maestro-output 2.log
Due: none

fix(iOS): FileToolHandler — homeDirectoryForCurrentUser→NSHomeDirectory() (unavailable on iOS)
  Shared/AI/Tools/FileToolHandler.swift
Due: unittests, macos, ios

Auto-save: xcodegen — apply iOS MetaAIDashboardView exclusion
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: macOS+iOS BUILD SUCCEEDED — MetaAI exclusions, SquadDefinition Hashable, MCPBuilder iOS compat
  Shared/UI/Views/Developer/MCPBuilderView.swift
  project.yml
Due: unittests, macos, ios

feat(Stream4): mark N3/O3/J3/P3/Q3 ✅ DONE — macOS+iOS BUILD SUCCEEDED
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

docs(M3): mark M3 ✅ DONE — macOS + iOS BUILD SUCCEEDED with MLXAudioEngine active
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

fix(build): correct LiveGuidanceSettingsView exclusion path in macOS project.yml
  project.yml
Due: none

revert: restore LiveGuidanceSettingsViewStub exclusion — linter incorrectly swapped to exclude real file (M3 active)
  project.yml
Due: none

fix(B3): move ToolUseStep to Core/Models so SPM tests compile
  Shared/AI/Tools/ToolTypes.swift
  Shared/Core/Models/ToolModels.swift
Due: unittests, macos, ios

feat(V3): transparency + analytics UIs complete
  Shared/UI/Views/Analytics/BehavioralAnalyticsView.swift
  Shared/UI/Views/Analytics/MessagingGatewayStatusView.swift
  Shared/UI/Views/Analytics/NotificationIntelligenceView.swift
  Shared/UI/Views/Analytics/PrivacyTransparencyView.swift
  Shared/UI/Views/Intelligence/SquadsViewStub.swift
  Shared/UI/Views/MetaAI/MetaAIDashboardViewStub.swift
  Shared/UI/Views/Settings/LiveGuidanceSettingsView.swift
  project.yml
Due: unittests, macos, ios

Auto-save: E3 Task 1 — inject installed skills into sub-agent system prompt
  Shared/Agents/AgentTeamOrchestrator.swift
Due: unittests, macos, ios

chore: xcodegen regenerate — ToolModels.swift now correctly included in macOS + iOS targets
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: E3 Task 2 — create SkillsMarketplaceView with category sidebar, search, install/uninstall
  Shared/UI/Views/Settings/SkillsMarketplaceView.swift
Due: unittests, macos, ios

Auto-save: E3 Task 3 — wire SkillsMarketplaceView into MacSettingsView sidebar under Intelligence group
  macOS/Views/MacSettingsView.swift
Due: unittests, macos

Auto-save: update plan progress from MSM3U (B3/C3/D3/J3/M3/N3/O3/P3/Q3/S3 marked DONE)
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

feat(Stream5): mark R3/S3/U3/AE3 ✅ DONE — macOS+iOS BUILD SUCCEEDED
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

Auto-save: V3 add BehavioralAnalyticsView
  Shared/UI/Views/Analytics/BehavioralAnalyticsView.swift
Due: unittests, macos, ios

Auto-save: update plan — R3/U3/AE3 DONE, 60% overall v3 progress
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

Auto-save: V3 add PrivacyTransparencyView
  Shared/UI/Views/Analytics/PrivacyTransparencyView.swift
Due: unittests, macos, ios

Auto-save: regenerate pbxproj after merge with MSM3U stream commits
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: V3 add MessagingGatewayStatusView
  Shared/UI/Views/Analytics/MessagingGatewayStatusView.swift
Due: unittests, macos, ios

Auto-save: V3 add NotificationIntelligenceView
  Shared/UI/Views/Analytics/NotificationIntelligenceView.swift
Due: unittests, macos, ios

Auto-save: E3 Skills injection wired — injectSkillsIntoSystemPrompt + pre-init
  Shared/Core/Managers/ChatManager+Messaging.swift
  Shared/Core/Managers/ChatManager+Tools.swift
  macOS/TheamacOSApp.swift
Due: unittests, macos, ios

Auto-save: V3 regenerate Xcode project to include Analytics views
  Thea.xcodeproj/project.pbxproj
Due: none

fix(build): remove duplicate macOS/Views stubs — canonical versions in Shared/UI/Views/Analytics/
  Shared/UI/Components/AgentPhaseProgressBar.swift
  Shared/UI/Components/CloudSyncStatusView.swift
  Shared/UI/Components/MessageBubble.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: T3 marked DONE — IntegrationToolHandler + project.yml activations verified
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

Auto-save: W3 add AgentPhaseProgressBar, CloudSyncStatusView, TokenCountBadge, wire into ChatView and MacSettingsView
  Shared/UI/Components/MessageBubble.swift
  Shared/UI/Views/ChatView.swift
  macOS/Views/MacSettingsView.swift
Due: unittests, macos, ios

Auto-save: H3 create IntelligenceDashboardView with 8 AI subsystem cards
  Shared/UI/Views/Intelligence/IntelligenceDashboardView.swift
Due: unittests, macos, ios

Auto-save: E3 xcodegen regeneration (project.pbxproj update)
  Shared/UI/Views/Analytics/MessagingGatewayStatusView.swift
  Thea.xcodeproj/project.pbxproj
  macOS/Views/BehavioralAnalyticsView.swift
  macOS/Views/MessagingGatewayStatusView.swift
  macOS/Views/NotificationIntelligenceView.swift
  macOS/Views/PrivacyTransparencyView.swift
  project.yml
Due: unittests, macos, ios

fix(build): remove macOS/Views duplicates — canonical versions in Shared/UI/Views/Analytics/
  macOS/Views/BehavioralAnalyticsView.swift
  macOS/Views/MessagingGatewayStatusView.swift
  macOS/Views/NotificationIntelligenceView.swift
  macOS/Views/PrivacyTransparencyView.swift
Due: unittests, macos

Checkpoint before removing macOS/Views duplicate stubs
  Shared/UI/Views/Intelligence/IntelligenceDashboardView.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: unittests, macos, ios

Auto-save: clean up stale macOS path excludes — V3 deleted stub files, no exclusions needed
  project.yml
Due: none

feat(stream2): STREAM 2 complete — B3/C3/D3/E3 all done; mark E3 in plan
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

Path conditions:
  unittests: any of: Shared/, Platforms/, iOS/, macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  macos: any of: Shared/, macOS/, Platforms/macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  ios: any of: Shared/, iOS/, Platforms/iOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
