Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

fix: add ONLY_ACTIVE_ARCH=YES to E2E build
  .github/workflows/e2e-tests.yml
Due: none

fix: resolve Swift 6 concurrency error in TheaSharePlay
  Shared/SharePlay/TheaSharePlay.swift
Due: unittests, macos, ios

fix: add Sendable conformance to QuickLauncher types
  Shared/Integrations/Launcher/QuickLauncher.swift
Due: unittests, macos, ios

ci: use minimal concurrency for E2E simulator build
  .github/workflows/e2e-tests.yml
Due: none

fix: resolve Swift 6 concurrency errors in Spotlight services
  Package.resolved
  Shared/Core/Services/SpotlightService.swift
  Shared/Integrations/Spotlight/SpotlightIntegration.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

fix: restore SpotlightIntegration and fix Swift 6 concurrency issues
  Package.resolved
  Shared/Integrations/Launcher/QuickLauncher.swift
  Shared/Integrations/Spotlight/SpotlightIntegration.swift
Due: unittests, macos, ios

fix: resolve Swift 6 concurrency in HomeKitOrchestrator
  Shared/Integrations/HomeKit/HomeKitOrchestrator.swift
Due: unittests, macos, ios

fix: resolve Swift 6 concurrency in notification services
  Shared/Features/Notifications/NotificationManager.swift
  Shared/Notifications/NotificationService.swift
Due: unittests, macos, ios

fix: resolve Swift 6 concurrency in SharePlay observer
  Shared/SharePlay/TheaSharePlay.swift
Due: unittests, macos, ios

fix: resolve PasskeysService availability and PredictiveEngine concurrency
  Shared/Authentication/PasskeysService.swift
  Shared/Context/Analysis/PredictiveEngine.swift
Due: unittests, macos, ios

fix: properly resolve notification service concurrency issues
  Shared/Features/Notifications/NotificationManager.swift
  Shared/Notifications/NotificationService.swift
Due: unittests, macos, ios

fix: resolve Swift 6 concurrency in ShareExtensionManager
  Shared/Extensions/ShareExtension/ShareExtensionManager.swift
Due: unittests, macos, ios

fix: mark ShareExtensionManager.addSharedContent as nonisolated
  Shared/Extensions/ShareExtension/ShareExtensionManager.swift
Due: unittests, macos, ios

fix: add Sendable constraints to KillSwitchGuard operations
  Shared/AgentSec/AgentSecKillSwitch.swift
Due: unittests, macos, ios

fix: mark AppClipManager.verifyLocation as nonisolated
  Shared/AppClips/AppClipManager.swift
Due: unittests, macos, ios

ci: set Swift strict concurrency to minimal in project.yml
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

ci: make Info.plist version check non-fatal in E2E workflow
  .github/workflows/e2e-tests.yml
Due: none

fix: use literal version values in Info.plist files
  Shared/Resources/Info.plist
  iOS/Info.plist
  tvOS/Info.plist
  watchOS/Info.plist
Due: unittests, macos, ios

fix: add GENERATE_INFOPLIST_FILE=NO to ensure Info.plist processing
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

chore: apply Xcode recommended project settings
  Thea.xcodeproj/project.pbxproj
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-iOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-macOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-tvOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-watchOS.xcscheme
  macOS/Thea.entitlements
Due: unittests, macos

Path conditions:
  unittests: any of: Shared/, Platforms/, iOS/, macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  macos: any of: Shared/, macOS/, Platforms/macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  ios: any of: Shared/, iOS/, Platforms/iOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
