Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

codecov.yml:

# CodeCov Configuration for Thea
# Version: 1.0.0
# Last Updated: January 16, 2026
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# ============================================
# COVERAGE SETTINGS
# ============================================
coverage:
  # Precision of coverage percentage (2 decimal places)
  precision: 2

  # Round coverage percentage
  round: down

  # Range for coverage (red to green)
  range: "50...90"

  # Status checks
  status:
    # Project-level coverage
    project:
      default:
        # Target coverage percentage
        target: auto
        # Threshold for coverage decrease allowed
        threshold: 1%
        # Only check coverage on files that were changed
        only_changed_files: false
        # Compare against base branch
        base: auto
        # Flags to include (if using multiple coverage uploads)
        flags:
          - unittests

      # Separate status for each platform
      macos:
        target: auto
        threshold: 2%
        flags:
          - macos

      ios:
        target: auto
        threshold: 2%
        flags:
          - ios

    # Patch-level coverage (only changed lines)
    patch:
      default:
        target: auto
        threshold: 5%
        only_changed_files: true

# ============================================
# PARSING SETTINGS
# ============================================
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      macro: false
      method: false

# ============================================
# FLAGS
# ============================================
flags:
  unittests:
    paths:
      - Shared/
      - Platforms/
      - iOS/
      - macOS/
    carryforward: true
    after_n_builds: 1

  macos:
    paths:
      - Shared/
      - macOS/
      - Platforms/macOS/
    carryforward: true

  ios:
    paths:
      - Shared/
      - iOS/
      - Platforms/iOS/
    carryforward: true

# ============================================
# IGNORE PATHS
# ============================================
ignore:
  - "build/**/*"
  - ".build/**/*"
  - "DerivedData/**/*"
  - "Pods/**/*"
  - "Carthage/**/*"
  - "SourcePackages/**/*"
  - "Tests/**/*"
  - "**/*Tests.swift"
  - "**/*Test.swift"
  - "**/Preview Content/**/*"
  - "*.generated.swift"
  - "Package.swift"

# ============================================
# COMMENT SETTINGS
# ============================================
comment:
  # Layout of the comment
  layout: "reach,diff,flags,files,footer"

  # Comment behavior
  behavior: default

  # Require changes for comment
  require_changes: false

  # Show project coverage
  require_base: false
  require_head: true

  # Branches to comment on
  branches:
    - main
    - develop
    - "feature/*"
    - "release/*"

# ============================================
# GITHUB CHECKS
# ============================================
github_checks:
  # Show annotations on files in PR
  annotations: true

# ============================================
# NOTIFICATIONS
# ============================================
# Configure if you want Slack/email notifications
# notify:
#   slack:
#     default:
#       url: "https://hooks.slack.com/services/..."
#       threshold: 1%
#       only_pulls: false
#       branches:
#         - main

Auto-save: fix iOS warnings - UIWindow deprecation, TeamKnowledgeBase MainActor isolation
  Shared/Authentication/PasskeysService.swift
  Shared/Collaboration/TeamKnowledgeBase.swift
Due: unittests, macos, ios

Auto-save: fix TeamKnowledgeBase async MainActor isolation for getCurrentUserId
  Shared/Collaboration/TeamKnowledgeBase.swift
Due: unittests, macos, ios

Auto-save: fix await in guard expression for TeamKnowledgeBase
  Shared/Collaboration/TeamKnowledgeBase.swift
Due: unittests, macos, ios

Auto-save: suppress UIWindow() deprecation warnings on iOS 26 via @available helper
  Shared/Authentication/PasskeysService.swift
Due: unittests, macos, ios

Auto-save: add Cmd+/ keyboard shortcuts overlay, activate KeyboardShortcutsHelpView
  Shared/Authentication/PasskeysService.swift
  Thea.xcodeproj/project.pbxproj
  macOS/TheamacOSApp.swift
  macOS/Views/ContentView.swift
  project.yml
Due: unittests, macos, ios

Auto-save: wire Cmd+Shift+N to select new conversation in ContentView
  Shared/UI/Components/CommandPalette.swift
  macOS/TheamacOSApp.swift
  macOS/Views/ContentView.swift
Due: unittests, macos, ios

Auto-save: fix MLX model discovery to scan ~/.cache/huggingface/hub (standard HF cache)
  Shared/AI/LocalModels/LocalModelProvider.swift
  Shared/AI/LocalModels/MLXModelManager.swift
Due: unittests, macos, ios

Auto-save: fix force unwraps in ModelRouter and SmartModelRouter
  Shared/Intelligence/Routing/ModelRouter.swift
  Shared/Intelligence/Routing/SmartModelRouter.swift
Due: unittests, macos, ios

Auto-save: implement exportAllData, clearAllData, clearCache in settings
  macOS/Views/MacSettingsView.swift
Due: unittests, macos

Auto-save: implement Cmd+F conversation search in MacChatDetailView
  macOS/Views/MacChatDetailView.swift
Due: unittests, macos

Auto-save: enhance About view with system info, spiral icon, and stats
  Shared/UI/Views/Settings/SettingsPrivacyAboutViews.swift
Due: unittests, macos, ios

Auto-save: fix cache size display to show real calculated value
  macOS/Views/MacSettingsView.swift
Due: unittests, macos

Auto-save: fix font size and message density settings to have visible effect
  Shared/UI/Components/MessageBubble.swift
  Shared/UI/Views/ChatView.swift
  iOS/Views/iOSHomeView.swift
  iOS/Views/iPadHomeView.swift
Due: unittests, macos, ios

Auto-save: restore sidebar toggle button in conversation list toolbar
  macOS/Views/ContentView.swift
Due: unittests, macos

Auto-save: add archive, rename, mark read/unread to conversation context menu
  Shared/Core/Managers/ChatManager.swift
  Shared/UI/Views/SidebarView.swift
Due: unittests, macos, ios

Auto-save: fix LocalModelProvider to use proper chat templates for Ollama
  Shared/AI/LocalModels/LocalModelProvider.swift
Due: unittests, macos, ios

Auto-save: add user-editable system prompt per conversation
  Shared/Core/Managers/ChatManager.swift
  macOS/Views/MacChatDetailView.swift
Due: unittests, macos, ios

Auto-save: add suggestion chips to welcome screen
  Shared/UI/Views/WelcomeView.swift
Due: unittests, macos, ios

Auto-save: fix streaming duplicate display on iPad and iPhone views
  iOS/Views/iOSHomeView.swift
  iOS/Views/iPadHomeView.swift
Due: unittests, ios

Auto-save: wire Cmd+K command palette into ContentView with navigation and dark mode handlers
  Shared/UI/Components/CommandPalette.swift
  macOS/TheamacOSApp.swift
  macOS/Views/ContentView.swift
Due: unittests, macos, ios

Auto-save: implement message queuing - type and queue messages while AI is streaming
  Shared/Core/Managers/ChatManager.swift
  Shared/UI/Components/ChatInputView.swift
  macOS/Views/MacChatDetailView.swift
Due: unittests, macos, ios

Auto-save: replace file-based debug logging with os.Logger in ChatManager
  Shared/Core/Managers/ChatManager.swift
Due: unittests, macos, ios

Auto-save: add conversation export (Markdown/JSON/plaintext) via context menu and command palette
  Shared/UI/Views/SidebarView.swift
  macOS/Views/ContentView.swift
Due: unittests, macos, ios

Auto-save: wire OfflineQueueService into ChatManager - queue messages when offline
  Shared/Core/Managers/ChatManager.swift
Due: unittests, macos, ios

Auto-save: fix CI workflows - Xcode fallback, Debug default, timeout increase, xcrun swift build
  .github/workflows/ci.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/thea-audit-main.yml
  .github/workflows/thea-audit-pr.yml
Due: none

Auto-save: invert toolbar buttons and add conversation title auto-generation
  Shared/Core/Managers/ChatManager.swift
  macOS/Views/ContentView.swift
Due: unittests, macos, ios

Auto-save: fix sidebar toggle and font size reactivity
  macOS/Views/ContentView.swift
Due: unittests, macos

Auto-save: fix keyboard shortcuts help to match actual implementations
  Shared/UI/Views/KeyboardShortcutsHelpView.swift
Due: unittests, macos, ios

Auto-save: wire suggestion chips in WelcomeView on macOS and shared HomeView
  Shared/UI/Views/HomeView.swift
  macOS/Views/ContentView.swift
Due: unittests, macos, ios

Auto-save: remove dead createNewConversation() from SidebarView
  Shared/UI/Views/SidebarView.swift
Due: unittests, macos, ios

Auto-save: fix sidebar toggle - use prominentDetail style for proper collapse
  macOS/Views/ContentView.swift
Due: unittests, macos

Auto-save: convert hardcoded fonts to .thea* modifiers for font size setting reactivity
  Shared/UI/Components/ChatInputView.swift
  Shared/UI/Components/HelpButton.swift
  Shared/UI/Components/QuerySuggestionOverlay.swift
  Shared/UI/Components/ScreenshotPreview.swift
  Shared/UI/Components/StreamingIndicator.swift
  Shared/UI/Views/PrivacyControlsView.swift
  macOS/Views/QuickEntryWindow.swift
Due: unittests, macos, ios

Auto-save: convert GlobalQuickPrompt hardcoded fonts to .thea* modifiers
  Shared/UI/QuickPrompt/GlobalQuickPrompt.swift
Due: unittests, macos, ios

Auto-save: add missing settings UI - notifications, local model prefs, execution, beta features
  macOS/Views/MacSettingsView.swift
Due: unittests, macos

Auto-save: add empty state overlay to SidebarView for no conversations and no search results
  Shared/UI/Views/SidebarView.swift
Due: unittests, macos, ios

Auto-save: fix SwiftLint superfluous disable command in InferenceRelayHandler
  Shared/InferenceRelay/InferenceRelayHandler.swift
Due: unittests, macos, ios

Auto-save: clean up stale tracked files (duplicate .claude 2/, .github 2/, etc.)
  .claude 2/archived-docs/QUALITY_GATES_FINAL_REPORT.md
  .claude 2/archived-docs/QUALITY_GATES_RESULTS.md
  .claude 2/archived-docs/SWIFT_CODING_EXCELLENCE.md
  .claude 2/archived-docs/merlin-changelog.md
  .claude 2/archived-docs/merlin-enhancement-roadmap.md
  .claude 2/archived-docs/nexus-cursorrules.md
  .claude 2/archived-roadmaps/01_ROADMAP_PHASE_1_CORE_FEATURES.md
  .claude 2/archived-roadmaps/02_ROADMAP_PHASE_1_CONTINUATION.md
  .claude 2/archived-roadmaps/03_ROADMAP_PHASE_2_ENHANCEMENTS.md
  .claude 2/archived-roadmaps/04_ROADMAP_PHASE_3_PLATFORM.md
  .claude 2/archived-roadmaps/05_ROADMAP_PHASE_4_ADVANCED.md
  .claude 2/archived-roadmaps/06_ROADMAP_ALL_PHASES_SUMMARY.md
  .claude 2/archived-roadmaps/CHANGELOG.md
  .claude 2/archived-roadmaps/FEATURE_ROADMAP.md
  .claude/settings.local.json
  .github 2/workflows/ci.yml
  .github 2/workflows/e2e-tests.yml
  .github 2/workflows/release.yml
  .github 2/workflows/thea-audit-main.yml
  .github 2/workflows/thea-audit-pr.yml
  Shared/System/CLAUDE-SIMPLE-PROMPT.txt
  Shared/System/COMPLETE-CLAUDE-PROMPT.txt
  xcode-build-phase-snippet.txt
Due: unittests, macos, ios

Auto-save: fix sidebar toggle to cycle through all visibility states
  macOS/Views/ContentView.swift
Due: unittests, macos

Auto-save: fix welcome view centering in MacChatDetailView
  macOS/Views/MacChatDetailView.swift
Due: unittests, macos

Auto-save: remove stale SettingsView.swift.bak file
  Shared/UI/Views/SettingsView.swift.bak
Due: unittests, macos, ios
