Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

codecov.yml:

# CodeCov Configuration for Thea
# Version: 1.0.0
# Last Updated: January 16, 2026
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# ============================================
# COVERAGE SETTINGS
# ============================================
coverage:
  # Precision of coverage percentage (2 decimal places)
  precision: 2

  # Round coverage percentage
  round: down

  # Range for coverage (red to green)
  range: "50...90"

  # Status checks
  status:
    # Project-level coverage
    project:
      default:
        # Target coverage percentage
        target: auto
        # Threshold for coverage decrease allowed
        threshold: 1%
        # Only check coverage on files that were changed
        only_changed_files: false
        # Compare against base branch
        base: auto
        # Flags to include (if using multiple coverage uploads)
        flags:
          - unittests

      # Separate status for each platform
      macos:
        target: auto
        threshold: 2%
        flags:
          - macos

      ios:
        target: auto
        threshold: 2%
        flags:
          - ios

    # Patch-level coverage (only changed lines)
    patch:
      default:
        target: auto
        threshold: 5%
        only_changed_files: true

# ============================================
# PARSING SETTINGS
# ============================================
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      macro: false
      method: false

# ============================================
# FLAGS
# ============================================
flags:
  unittests:
    paths:
      - Shared/
      - Platforms/
      - iOS/
      - macOS/
    carryforward: true
    after_n_builds: 1

  macos:
    paths:
      - Shared/
      - macOS/
      - Platforms/macOS/
    carryforward: true

  ios:
    paths:
      - Shared/
      - iOS/
      - Platforms/iOS/
    carryforward: true

# ============================================
# IGNORE PATHS
# ============================================
ignore:
  - "build/**/*"
  - ".build/**/*"
  - "DerivedData/**/*"
  - "Pods/**/*"
  - "Carthage/**/*"
  - "SourcePackages/**/*"
  - "Tests/**/*"
  - "**/*Tests.swift"
  - "**/*Test.swift"
  - "**/Preview Content/**/*"
  - "*.generated.swift"
  - "Package.swift"

# ============================================
# COMMENT SETTINGS
# ============================================
comment:
  # Layout of the comment
  layout: "reach,diff,flags,files,footer"

  # Comment behavior
  behavior: default

  # Require changes for comment
  require_changes: false

  # Show project coverage
  require_base: false
  require_head: true

  # Branches to comment on
  branches:
    - main
    - develop
    - "feature/*"
    - "release/*"

# ============================================
# GITHUB CHECKS
# ============================================
github_checks:
  # Show annotations on files in PR
  annotations: true

# ============================================
# NOTIFICATIONS
# ============================================
# Configure if you want Slack/email notifications
# notify:
#   slack:
#     default:
#       url: "https://hooks.slack.com/services/..."
#       threshold: 1%
#       only_pulls: false
#       branches:
#         - main

Auto-save: Fix count variable bug and UserAction reference in Anticipatory files
  Shared/Intelligence/Anticipatory/IntelligentAutoComplete.swift
  Shared/UI/Components/ChatInputView.swift
Due: unittests, macos, ios

Add native Sonarr/Radarr media automation capabilities
  Shared/Intelligence/Reflection/ReflexionEngine.swift
  Shared/Intelligence/Suggestions/UnifiedSuggestionCoordinator.swift
  Shared/Intelligence/UserModel/UserModelBuilder.swift
  Shared/UI/Views/SidebarView.swift
  Thea.xcodeproj/project.pbxproj
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-iOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-macOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-tvOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-watchOS.xcscheme
  project.yml
Due: unittests, macos, ios

Auto-save: Remove duplicate design token definitions from DesignTokens.swift
  Shared/Intelligence/Reflection/ReflexionEngine.swift
  Shared/UI/Design/TheaDesignSystem.swift
  Shared/UI/Theme/DesignTokens.swift
  Shared/UI/Views/SidebarView.swift
  Thea.xcodeproj/project.pbxproj
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-iOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-macOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-tvOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-watchOS.xcscheme
  project.yml
Due: unittests, macos, ios

Auto-save: Rename TimelineEntry to CausalTimelineEntry to avoid WidgetKit conflict
  Shared/Intelligence/Analysis/CausalPatternAnalyzer.swift
  Shared/UI/Theme/DesignTokens.swift
  Thea.xcodeproj/project.pbxproj
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-iOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-macOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-tvOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-watchOS.xcscheme
  project.yml
Due: unittests, macos, ios

Auto-save: Fix multiple type redeclaration conflicts
  Shared/UI/Components/SuggestionChipView.swift
  Shared/UI/Design/TheaDesignSystem.swift
  Shared/Widgets/InteractiveWidgets.swift
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-iOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-macOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-tvOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-watchOS.xcscheme
Due: unittests, macos, ios

Auto-save: Fix iOS build - include TheaDesignSystem, exclude DesignSystemStubs, add #if DEBUG to Preview
  Shared/UI/Design/TheaDesignSystem.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: unittests, macos, ios

Add Canal+ Switzerland with HBO Max & Paramount+ bundling
  thea-tizen/src/services/streaming/StreamingAvailabilityService.ts
  thea-tizen/src/services/streaming/TMDBStreamingService.ts
  thea-tizen/src/services/tizen/StreamingAppLauncher.ts
Due: none

Auto-save: Enable approved Family Controls entitlement, fix SwiftLint violation
  Shared/Integrations/TaskManagement/AsanaIntegration.swift
  Shared/Integrations/TaskManagement/TodoistIntegration.swift
  Thea.xcodeproj/project.pbxproj
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-iOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-macOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-tvOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-watchOS.xcscheme
  iOS/Thea.entitlements
  tvOS/Services/StreamingService.swift
  tvOS/Services/TraktService.swift
Due: unittests, macos, ios

Auto-save: Complete Intelligence system - all builds verified
  Shared/Integrations/TaskManagement/TodoistIntegration.swift
Due: unittests, macos, ios

Port Tizen features to tvOS with comprehensive enhancements
  Shared/Sync/PreferenceSyncEngine.swift
  Shared/UI/Design/TheaDesignSystem.swift
  Shared/UI/Theme/TheaAnimations.swift
  tvOS/Services/HealthMonitorService.swift
  tvOS/Services/MediaAutomationService.swift
  tvOS/TheatvOSApp.swift
  tvOS/Views/Dashboard/TVDashboardView.swift
  tvOS/Views/Media/TVStreamingView.swift
  tvOS/Views/TVEnhancedHomeView.swift
Due: unittests, macos, ios

Auto-save: Fix SwiftLint violations - remove superfluous disable commands from TVEnhancedHomeView
  tvOS/Views/TVEnhancedHomeView.swift
Due: none

Auto-save: Sprint 3 - Extract MacChatDetailView and MacProjectDetailView, refactor ContentView to use shared components (WelcomeView, SidebarView, ChatInputView), update macOS app with glass titlebar
  .swiftlint.yml
  Shared/Core/Managers/SettingsManager.swift
  Thea.xcodeproj/project.pbxproj
  macOS/TheamacOSApp.swift
  macOS/Views/ContentView.swift
  macOS/Views/MacChatDetailView.swift
  macOS/Views/MacProjectDetailView.swift
Due: unittests, macos, ios

Auto-save: Simplify permissions to wildcard bypass mode
  .claude/settings.local.json
Due: none

Auto-save: Sprint 3 - Consolidate MacSettingsView from 13 tabs to 5, apply design tokens
  macOS/Views/MacSettingsView.swift
Due: unittests, macos

Auto-save: Sprint 4 - Redesign iOS views with shared components (WelcomeView, ChatInputView, SuggestionChipGrid, design tokens), add search, pinned sections, streaming indicators
  Extensions/Chrome/content/video-controller.js
  iOS/Views/iOSHomeView.swift
Due: unittests, ios

Auto-save: Rewrite SyncSettingsView with PreferenceSyncEngine integration
  Shared/UI/Views/Settings/SyncSettingsView.swift
Due: unittests, macos, ios

Auto-save: Sprint 5 - Redesign iPadOS views with shared components
  Extensions/Chrome/content/dark-mode-engine.js
  Extensions/Chrome/content/print-friendly.js
  iOS/Views/iPadHomeView.swift
  iPadOS/Views/iPadOSHomeView.swift
Due: unittests, ios

Auto-save: Fix Swift 6 concurrency error and SwiftLint violations in PreferenceSyncEngine
  Shared/Sync/PreferenceSyncEngine.swift
Due: unittests, macos, ios

Auto-save: Sprint 7 - Redesign tvOS with hero content and focus-based UI
  Extensions/Chrome/background/memory-system.js
  Extensions/Chrome/content/ai-sidebar.js
  Extensions/Chrome/content/privacy-shield.js
  Extensions/Chrome/manifest.json
  Shared/Sync/PreferenceSyncEngine.swift
  tvOS/Views/tvOSHomeView.swift
Due: unittests, macos, ios

Auto-save: Sprint 6 - Redesign watchOS with voice-first experience
  Shared/Sync/PreferenceSyncEngine.swift
  watchOS/Views/watchOSHomeView.swift
Due: unittests, macos, ios

Auto-save: Fix AnyCodable build error in AsanaIntegration (use keyed container for dict decoding)
  Shared/Integrations/TaskManagement/AsanaIntegration.swift
Due: unittests, macos, ios
