Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

codecov.yml:

# CodeCov Configuration for Thea
# Version: 1.0.0
# Last Updated: January 16, 2026
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# ============================================
# COVERAGE SETTINGS
# ============================================
coverage:
  # Precision of coverage percentage (2 decimal places)
  precision: 2

  # Round coverage percentage
  round: down

  # Range for coverage (red to green)
  range: "50...90"

  # Status checks
  status:
    # Project-level coverage
    project:
      default:
        # Target coverage percentage
        target: auto
        # Threshold for coverage decrease allowed
        threshold: 1%
        # Only check coverage on files that were changed
        only_changed_files: false
        # Compare against base branch
        base: auto
        # Flags to include (if using multiple coverage uploads)
        flags:
          - unittests

      # Separate status for each platform
      macos:
        target: auto
        threshold: 2%
        flags:
          - macos

      ios:
        target: auto
        threshold: 2%
        flags:
          - ios

    # Patch-level coverage (only changed lines)
    patch:
      default:
        target: auto
        threshold: 5%
        only_changed_files: true

# ============================================
# PARSING SETTINGS
# ============================================
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      macro: false
      method: false

# ============================================
# FLAGS
# ============================================
flags:
  unittests:
    paths:
      - Shared/
      - Platforms/
      - iOS/
      - macOS/
    carryforward: true
    after_n_builds: 1

  macos:
    paths:
      - Shared/
      - macOS/
      - Platforms/macOS/
    carryforward: true

  ios:
    paths:
      - Shared/
      - iOS/
      - Platforms/iOS/
    carryforward: true

# ============================================
# IGNORE PATHS
# ============================================
ignore:
  - "build/**/*"
  - ".build/**/*"
  - "DerivedData/**/*"
  - "Pods/**/*"
  - "Carthage/**/*"
  - "SourcePackages/**/*"
  - "Tests/**/*"
  - "**/*Tests.swift"
  - "**/*Test.swift"
  - "**/Preview Content/**/*"
  - "*.generated.swift"
  - "Package.swift"

# ============================================
# COMMENT SETTINGS
# ============================================
comment:
  # Layout of the comment
  layout: "reach,diff,flags,files,footer"

  # Comment behavior
  behavior: default

  # Require changes for comment
  require_changes: false

  # Show project coverage
  require_base: false
  require_head: true

  # Branches to comment on
  branches:
    - main
    - develop
    - "feature/*"
    - "release/*"

# ============================================
# GITHUB CHECKS
# ============================================
github_checks:
  # Show annotations on files in PR
  annotations: true

# ============================================
# NOTIFICATIONS
# ============================================
# Configure if you want Slack/email notifications
# notify:
#   slack:
#     default:
#       url: "https://hooks.slack.com/services/..."
#       threshold: 1%
#       only_pulls: false
#       branches:
#         - main

Auto-save: Add AppKit/CoreImage imports to VideoEncoderService, regenerate Xcode project
  Thea.xcodeproj/project.pbxproj
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-iOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-macOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-tvOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-watchOS.xcscheme
Due: none

Auto-save: Fix exhaustive switch for PermissionStatus.unknown in OnboardingView
  iOS/Views/OnboardingView.swift
Due: unittests, ios

Auto-save: Add voice/mic button to welcome screen ChatInputView in ContentView
  macOS/Views/ContentView.swift
Due: unittests, macos

Auto-save: Fix Host.current() macOS-only in TOTPAuthenticator for iOS build
  Shared/RemoteServer/TOTPAuthenticator.swift
Due: unittests, macos, ios

Auto-save: Fix exhaustive switch for PermissionStatus.unknown in iOSSettingsView
  iOS/Views/iOSSettingsView.swift
Due: unittests, ios

Auto-save: Remove 18 collateral exclusions from macOS build (Phase 3)
  project.yml
Due: none

Auto-save: Wire up TaskClassifier + ModelRouter in ChatManager.selectProviderAndModel
  Shared/Core/Managers/ChatManager.swift
Due: unittests, macos, ios

Auto-save: Fix ChatManager - disable excluded TaskClassifier/ModelRouter
  Shared/Core/Managers/ChatManager.swift
Due: unittests, macos, ios

Auto-save: Add AnthropicTokenCounter.swift
  project.yml
Due: none

Auto-save: Fix Intelligence files for macOS compilation
  Shared/Intelligence/AgentMode/AgentEnhancements.swift
  Shared/Intelligence/Anticipatory/InterventionScheduler.swift
  Shared/Intelligence/Classification/TaskClassifier.swift
  Shared/Intelligence/LifeMonitoring/EfficiencySuggestionEngine.swift
  Shared/Intelligence/LifeMonitoring/LifeMonitoringCoordinator.swift
  Shared/Intelligence/LifeMonitoring/PhotosMonitor.swift
  Shared/Intelligence/LifeMonitoring/TaskIntelligence.swift
  Shared/Intelligence/Mobile/AdaptiveModelRouter.swift
  Shared/Intelligence/Routing/ModelRouter.swift
Due: unittests, macos, ios

Auto-save: Regenerate Xcode project after Intelligence fixes
  Thea.xcodeproj/project.pbxproj
Due: none

Checkpoint before DerivedData cleanup
  project.yml
Due: none

Auto-save: Regenerate Xcode project
  Shared/Intelligence/Verification/MultiModelConsensus.swift
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-iOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-macOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-tvOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-watchOS.xcscheme
  project.yml
Due: unittests, macos, ios

Auto-save: Exclude ConfidenceSystem + SemanticSearchService from macOS build
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: Exclude LifeMonitoring + LifeAssistant from macOS build
  Shared/Intelligence/Anticipatory/IntentAnticipator.swift
  Shared/Intelligence/Search/SemanticSearchService.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: unittests, macos, ios

Auto-save: Remove 12 collateral Intelligence exclusions + fix compilation errors
  Shared/Intelligence/LifeMonitoring/LifeInsightsAnalyzer.swift
  Shared/Intelligence/LifeMonitoring/LifeIntelligenceCoordinator.swift
  Shared/Intelligence/LifeMonitoring/LifeMonitoringCoordinator.swift
Due: unittests, macos, ios

Auto-save: Add blanket directory exclusions for macOS build - fix ~51 leaking files
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: Fix macOS build - add missing exclusions for Routing, Classification, Subagents, IntegrationsManager, etc.
  Shared/Intelligence/Mobile/MobileIntelligenceOrchestrator.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: unittests, macos, ios

Auto-save: Phase 3 - remove collateral Intelligence exclusions, fix compilation
  Shared/Intelligence/Routing/ModelRouter.swift
Due: unittests, macos, ios

Auto-save: Enable Intelligence Routing + Classification in macOS build
  project.yml
Due: none

Auto-save: Fix AIMessage construction in TaskClassifier and MultiModelConsensus
  Shared/Intelligence/Classification/TaskClassifier.swift
  Shared/Intelligence/Verification/MultiModelConsensus.swift
Due: unittests, macos, ios

Auto-save: Regenerate Xcode project - BUILD SUCCEEDED
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: Wire up TaskClassifier + ModelRouter in ChatManager
  Shared/Core/Managers/ChatManager.swift
Due: unittests, macos, ios

Auto-save: Update CLAUDE.md - Classification and Routing now active
  .claude/claude.md
Due: none

Auto-save: fix ChatManager to not use excluded TaskClassifier/ModelRouter
  Shared/Core/Managers/ChatManager.swift
Due: unittests, macos, ios

Auto-save: replace inline sync settings with SyncSettingsView, move Privacy/Data to Advanced tab
  macOS/Views/MacSettingsView.swift
Due: unittests, macos

Auto-save: remove dead CloudSyncManager (CloudKitService is canonical), regenerate project
  Shared/Core/Managers/CloudSyncManager.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: regenerated Xcode project files after build fixes
  Thea.xcodeproj/project.pbxproj
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-iOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-macOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-tvOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-watchOS.xcscheme
Due: none

Auto-save: Regenerated Xcode project after exclusion fixes
  Thea.xcodeproj/project.pbxproj
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-iOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-macOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-tvOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-watchOS.xcscheme
Due: none

Auto-save: wire ChatManager orchestrator, enable SemanticSearchService, fix project.yml exclusions
  Shared/Core/Managers/ChatManager.swift
  project.yml
Due: unittests, macos, ios

Auto-save: enable SemanticSearchService in macOS build, fix access control + implicit return
  Shared/Intelligence/Search/SemanticSearchService.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: unittests, macos, ios

Auto-save: wrap orchestrator in #if os(macOS) for cross-platform compatibility
  Shared/Core/Managers/ChatManager.swift
Due: unittests, macos, ios

Auto-save: update CLAUDE.md with accurate orchestrator and CloudKit status
  .claude/claude.md
Due: none

Auto-save: fix WebSearchVerifier to use AIMessage + ChatResponse API
  Shared/Intelligence/Verification/WebSearchVerifier.swift
Due: unittests, macos, ios

Auto-save: fix StaticAnalysisVerifier to use AIMessage + ChatResponse API
  Shared/Intelligence/Verification/StaticAnalysisVerifier.swift
Due: unittests, macos, ios

Auto-save: remove all Verification exclusions from project.yml, regenerate Xcode project
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: update CLAUDE.md with Verification pipeline status
  .claude/claude.md
Due: none

Auto-save: redesign MacSettingsView with System Settings-style NavigationSplitView layout
  macOS/Views/MacSettingsView.swift
Due: unittests, macos

Auto-save: add device-aware message origin tracking across the full stack
  Shared/Core/Managers/ChatManager.swift
  Shared/Core/Models/Message.swift
  Shared/Sync/CloudKitService.swift
  Shared/UI/Components/DeviceOriginBadge.swift
  Shared/UI/Components/MessageBubble.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: split Chrome iCloud background modules (<500 lines each)
  Extensions/Chrome/background/ad-block-handler.js
  Extensions/Chrome/background/dark-mode-handler.js
  Extensions/Chrome/background/icloud-bridge.js
  Extensions/Chrome/background/icloud-client.js
  Extensions/Chrome/background/icloud-email-api.js
  Extensions/Chrome/background/icloud-keychain.js
  Extensions/Chrome/background/message-router.js
  Extensions/Chrome/background/native-bridge.js
  Extensions/Chrome/background/service-worker.js
  Extensions/Chrome/background/state-manager.js
  Extensions/Chrome/content/content-core.js
  Extensions/Chrome/content/notification.js
  Extensions/Chrome/content/selection-handler.js
  Extensions/SafariExtension/Resources/background/ad-block-handler.js
  Extensions/SafariExtension/Resources/background/dark-mode-handler.js
  Extensions/SafariExtension/Resources/background/native-bridge.js
  Extensions/SafariExtension/Resources/background/state-manager.js
  Shared/AI/Providers/AnthropicFilesAPI.swift
  Shared/AI/Providers/AnthropicProvider.swift
  Shared/AI/Providers/AnthropicTokenCounter.swift
  Thea.xcodeproj/project.pbxproj
  macOS/Views/MacSettingsView.swift
  project.yml
Due: unittests, macos, ios
