Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

feat(AAC3): PlaidService.swift — Plaid /transactions/sync delta actor via URLSession, cursor-paged [6/7]
  Shared/Intelligence/Financial/PlaidService.swift
Due: unittests, macos, ios

feat(AAI3-1): CarPlaySceneDelegate — voice-first CarPlay interface with CPVoiceControlTemplate [1 of 5]
  iOS/CarPlay/CarPlaySceneDelegate.swift
Due: unittests, ios

feat(AAG3): GitHubIntelligenceService — notifications, open PRs, morning briefing, URLSession+PAT [5/5]
  Shared/Intelligence/GitHub/GitHubIntelligenceService.swift
Due: unittests, macos, ios

feat(AAB3-5): Keyboard SwiftUI Host — UIHostingController<TheaKeyboardSuggestionsView> replaces UIStackView suggestion bar; SwiftUI chips with Thea AI-assist + dynamic suggestions [REQ-AAB3-5 ✓]
  Extensions/KeyboardExtension/KeyboardViewController.swift
  Extensions/KeyboardExtension/TheaKeyboardSuggestionsView.swift
Due: none

fix: project.yml — re-add SwiftYNAB to macOS, add HomeKit.framework SDK dep for AAF3-1 (linter-assisted)
  project.yml
Due: none

fix(AAC3): remove SwiftYNAB SPM — YNABService uses URLSession REST (v1.1.1 callback API incompatible); xcodegen regenerated
  Shared/Intelligence/Financial/YNABService.swift
  Shared/Intelligence/GapWiringServices.swift
  Shared/UI/Views/Financial/FinancialDashboardView.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
  visionOS/TheaSpatialView.swift
Due: unittests, macos, ios

feat(AAI3-2): TheaSpatialView — real ARKitSession + HandTrackingProvider + WorldAnchor + fix pre-existing build errors [2 of 5]
  .claude/claude.md
  Shared/Integrations/MusicIntegration.swift
  Shared/Intelligence/Financial/CoinbaseService.swift
  Shared/Intelligence/Financial/FinancialCredentialStore.swift
  Shared/Intelligence/Financial/KrakenService.swift
  Shared/Intelligence/Financial/PlaidService.swift
  Shared/Intelligence/Home/HomeKitAIEngine.swift
  Shared/Intelligence/Music/MusicKitIntelligenceService.swift
  Shared/Intelligence/Social/XAPIService.swift
Due: unittests, macos, ios

feat(AAI3-3): TabularDataAnalyzer — Apple TabularData framework, financial + health CSV analysis [3 of 5]
  Shared/Intelligence/DataAnalysis/TabularDataAnalyzer.swift
Due: unittests, macos, ios

fix(AAB3-1): TheaWidgetIntents — static var→let (Swift 6 concurrency), remove conflicting OpenURLIntent
  Extensions/WidgetExtension/TheaWidgetIntents.swift
Due: none

feat(AAI3-4): NutritionBarcodeService — AVCapture barcode scanner + OpenFoodFacts REST + HealthKit write [4 of 5]
  Shared/Intelligence/Health/NutritionBarcodeService.swift
Due: unittests, macos, ios

feat(AAE3+AAG3): wire WearableFusionEngine + GitHubIntelligenceService into setupManagers() — deferred 16-17s startup
  macOS/TheamacOSApp.swift
Due: unittests, macos

feat(AAA3+AAC3): wire 13 GapWiringServices + FinancialIntelligenceService into macOS + iOS app lifecycle
  iOS/TheaiOSApp.swift
Due: unittests, ios

feat(AAG3): CloudStorageContextProvider — facade over CloudStorageService for context pipeline
  Shared/Intelligence/GapWiringServices.swift
Due: unittests, macos, ios

fix(AAB3-2): @preconcurrency import ActivityKit — Activity<T> not Sendable in Swift 6
  Extensions/WidgetExtension/TheaTaskActivityAttributes.swift
Due: none

Auto-save: s10a TabularDataAnalyzer + Widget activity attrs update
  Shared/Intelligence/Data/TabularDataAnalyzer.swift
Due: unittests, macos, ios

feat(AAI3-3): TabularDataAnalyzer — DataFrame CSV analysis for financial + health data [3 of 5]
  Shared/Intelligence/Financial/FinancialIntelligenceService.swift
Due: unittests, macos, ios

docs(plan): mark AAA3 + AAC3 ✅ DONE — gap wiring 13 services + Financial Hub 7 files, all verified BUILD SUCCEEDED
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

fix(AAB3-5): KeyboardViewController — textDocumentProxy.insertText (UIInputViewController has no insertText), UIColor.clear (SwiftUI import ambiguity)
  Extensions/KeyboardExtension/KeyboardViewController.swift
Due: none

Auto-save: s10a TravelIntelligenceService + KeyboardViewController update [AAI3-5]
  Shared/Intelligence/Travel/TravelIntelligenceService.swift
Due: unittests, macos, ios

Auto-save: TabularDataAnalyzer moved to DataAnalysis/ + xcodegen regenerated
  Shared/Intelligence/DataAnalysis/TabularDataAnalyzer.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

fix: exclude duplicate Intelligence/DataAnalysis/TabularDataAnalyzer.swift — Data/ is canonical
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

fix(HomeKit): add !os(macOS) guard — canImport(HomeKit) true on macOS 26 iOSSupport causes linker failure
  Shared/Context/Providers/EnvironmentContextProvider.swift
  Shared/Core/Managers/PermissionsManager.swift
  Shared/Core/Managers/PermissionsManagerRequests.swift
  Shared/Integrations/HomeKit/HomeKitOrchestrator.swift
  Shared/Integrations/HomeKitService.swift
  Shared/Intelligence/LifeMonitoring/HomeKitMonitor.swift
Due: unittests, macos, ios

fix(build): remove duplicate TabularDataAnalyzer from Intelligence/Data (DataAnalysis/ is canonical)
  Shared/Intelligence/Data/TabularDataAnalyzer.swift
Due: unittests, macos, ios

chore: remove DataAnalysis/TabularDataAnalyzer.swift — Data/ is canonical (already excluded from build in 1d09f769)
  Shared/Intelligence/DataAnalysis/TabularDataAnalyzer.swift
Due: unittests, macos, ios

fix(AAF3-3): NFCContextService — remove duplicate theaFocusSessionRequested (public in ActionButtonHandler), move validate to nonisolated file-private function
  Shared/Intelligence/NFC/NFCContextService.swift
Due: unittests, macos, ios

fix(build): TravelIntelligenceService — await MainActor.run for SettingsManager access from actor context
  Shared/Intelligence/Travel/TravelIntelligenceService.swift
Due: unittests, macos, ios

fix(NutritionBarcodeService): rename NutritionError→BarcodeLookupError — conflicts with canonical NutritionError in NutritionModels.swift
  Shared/Intelligence/Health/NutritionBarcodeService.swift
Due: unittests, macos, ios

fix: exclude stale iOS financial views (pre-AAC3 API), TabularDataAnalyzer non-optional assumingType fix
  Shared/Intelligence/Data/TabularDataAnalyzer.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: unittests, macos, ios

fix: replace iOSFinancialView with FinancialDashboardView in iOS/iPad home views
  iOS/Views/iOSHomeView.swift
  iOS/Views/iPadHomeView.swift
Due: unittests, ios

feat(AAH3): HeadphoneMotionService — CMHeadphoneMotionManager, iOS-only #if guard, wired to HumanReadinessEngine.recordBehavioralSignal() [3 of 4]
  Shared/Intelligence/Motion/HeadphoneMotionService.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

fix(AAF3-2): JournalingSuggestionsService — picker callback pattern (no static suggestions API), fix DateInterval?.start for date
  Shared/Intelligence/Journaling/JournalingSuggestionsService.swift
Due: unittests, macos, ios

feat(AAD3-1): ShazamKitService — SHManagedSession song recognition, #if canImport(ShazamKit) guard [1 of 2]
  Shared/Intelligence/Audio/ShazamKitService.swift
Due: unittests, macos, ios

fix(AAF3-2): JournalingSuggestion has no id — remove deduplication
  Shared/Intelligence/Journaling/JournalingSuggestionsService.swift
Due: unittests, macos, ios

feat(AAD3-2): SoundAnalysisService — SNClassifySoundRequest v1 (300+ sounds) + SNResultsObserving; wire ShazamKit+SoundAnalysis into AmbientIntelligenceEngine.startAudioAnalysis() [2 of 2]
  Shared/Intelligence/Audio/SoundAnalysisService.swift
  Shared/Intelligence/GapWiringServices.swift
Due: unittests, macos, ios

docs(plan): mark AAE3 + AAG3 ✅ DONE — BUILD SUCCEEDED verified
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

feat(AAH3-3): HeadphoneMotionService — CMHeadphoneMotionManager iOS-only, alerts HumanReadinessEngine on head movement; regenerated xcodeproj
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: parallel stream changes (FoundationModelsService, HealthDashboardView, TravelPlanningView) from Wave 10 concurrent execution
  Shared/Integrations/Health/Views/HealthDashboardView.swift
  Shared/Intelligence/FoundationModels/FoundationModelsService.swift
  Shared/UI/Views/Settings/TravelPlanningView.swift
Due: unittests, macos, ios

Auto-save: ShazamKitService modifications from parallel stream (AAD3)
  Shared/Intelligence/Audio/ShazamKitService.swift
Due: unittests, macos, ios

Auto-save: HealthDashboardView — async scanAndLog() call fix from parallel stream
  Shared/Integrations/Health/Views/HealthDashboardView.swift
Due: unittests, macos, ios

docs(plan): mark AAI3 ✅ DONE — BUILD SUCCEEDED verified
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

Path conditions:
  unittests: any of: Shared/, Platforms/, iOS/, macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  macos: any of: Shared/, macOS/, Platforms/macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  ios: any of: Shared/, iOS/, Platforms/iOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
