Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

codecov.yml:

# CodeCov Configuration for Thea
# Version: 1.0.0
# Last Updated: January 16, 2026
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# ============================================
# COVERAGE SETTINGS
# ============================================
coverage:
  # Precision of coverage percentage (2 decimal places)
  precision: 2

  # Round coverage percentage
  round: down

  # Range for coverage (red to green)
  range: "50...90"

  # Status checks
  status:
    # Project-level coverage
    project:
      default:
        # Target coverage percentage
        target: auto
        # Threshold for coverage decrease allowed
        threshold: 1%
        # Only check coverage on files that were changed
        only_changed_files: false
        # Compare against base branch
        base: auto
        # Flags to include (if using multiple coverage uploads)
        flags:
          - unittests

      # Separate status for each platform
      macos:
        target: auto
        threshold: 2%
        flags:
          - macos

      ios:
        target: auto
        threshold: 2%
        flags:
          - ios

    # Patch-level coverage (only changed lines)
    patch:
      default:
        target: auto
        threshold: 5%
        only_changed_files: true

# ============================================
# PARSING SETTINGS
# ============================================
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      macro: false
      method: false

# ============================================
# FLAGS
# ============================================
flags:
  unittests:
    paths:
      - Shared/
      - Platforms/
      - iOS/
      - macOS/
    carryforward: true
    after_n_builds: 1

  macos:
    paths:
      - Shared/
      - macOS/
      - Platforms/macOS/
    carryforward: true

  ios:
    paths:
      - Shared/
      - iOS/
      - Platforms/iOS/
    carryforward: true

# ============================================
# IGNORE PATHS
# ============================================
ignore:
  - "build/**/*"
  - ".build/**/*"
  - "DerivedData/**/*"
  - "Pods/**/*"
  - "Carthage/**/*"
  - "SourcePackages/**/*"
  - "Tests/**/*"
  - "**/*Tests.swift"
  - "**/*Test.swift"
  - "**/Preview Content/**/*"
  - "*.generated.swift"
  - "Package.swift"

# ============================================
# COMMENT SETTINGS
# ============================================
comment:
  # Layout of the comment
  layout: "reach,diff,flags,files,footer"

  # Comment behavior
  behavior: default

  # Require changes for comment
  require_changes: false

  # Show project coverage
  require_base: false
  require_head: true

  # Branches to comment on
  branches:
    - main
    - develop
    - "feature/*"
    - "release/*"

# ============================================
# GITHUB CHECKS
# ============================================
github_checks:
  # Show annotations on files in PR
  annotations: true

# ============================================
# NOTIFICATIONS
# ============================================
# Configure if you want Slack/email notifications
# notify:
#   slack:
#     default:
#       url: "https://hooks.slack.com/services/..."
#       threshold: 1%
#       only_pulls: false
#       branches:
#         - main

Auto-save: BackupManager import — metadata validation, version compatibility check
  Shared/Backup/BackupManager+ExportImport.swift
Due: unittests, macos, ios

Auto-save: Fix unused return warnings, PKG API mismatches, String(cString:) safety
  Shared/AI/BrowserAutomation/BrowserAutomation.swift
  Shared/Intelligence/Context/SemanticContextPreFetcher.swift
  Shared/Sync/SmartTransportManager.swift
Due: unittests, macos, ios

Auto-save: Fix FoodItem init argument order — nutrients before barcode
  Shared/Integrations/Nutrition/Services/NutritionService.swift
Due: unittests, macos, ios

Auto-save: Fix tvOS build — replace ProviderRegistry/AIMessage with InferenceRelay client
  tvOS/Services/TVInferenceClient.swift
  tvOS/Views/tvOSHomeView.swift
Due: none

Auto-save: Replace fake cache/memory metrics with real system data in AdvancedSheetsActions
  Shared/AI/LocalModels/AIModelGovernor.swift
  Shared/Integrations/ContinuityService.swift
  Shared/Integrations/Wellness/Services/FocusModeService.swift
  Shared/UI/Views/Settings/Advanced/AdvancedSheetsActions.swift
  Shared/UI/Views/Settings/AdvancedSettingsView.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: Replace BenchmarkServiceStub no-op with real AIModel catalog scan
  Shared/UI/Views/Settings/OrchestratorSettingsView.swift
Due: unittests, macos, ios

Auto-save: Fix AdvancedSettingsView — real metrics in compiled file, real cache clearing
  Shared/UI/Views/Settings/AdvancedSettingsView.swift
  Shared/UI/Views/Settings/AdvancedSettingsViewSections.swift
Due: unittests, macos, ios

Auto-save: Fix AIModelGovernor vm_page_size concurrency + AdvancedSettingsView static methods
  Shared/AI/LocalModels/AIModelGovernor.swift
  Shared/UI/Views/Settings/AdvancedSettingsView.swift
Due: unittests, macos, ios

Auto-save: Stub remediation pass 2 — replace all remaining placeholders with real implementations
  Shared/Cowork/CoworkManager.swift
  Shared/Intelligence/Codebase/CodebaseSearchEngine.swift
  Shared/Intelligence/Codebase/SemanticCodeIndexer+Core.swift
  Shared/Intelligence/LifeMonitoring/DeadlineIntelligence.swift
  Shared/Intelligence/LifeMonitoring/FocusModeIntelligence+AutoReply.swift
  Shared/Intelligence/LifeMonitoring/VoiceProactivity.swift
  Shared/Memory/ConversationMemory.swift
  Shared/Platforms/iOS/PhotoIntelligenceProvider.swift
  Shared/RemoteServer/AudioStreamService.swift
  Shared/RemoteServer/SessionRecordingService.swift
Due: unittests, macos, ios

Auto-save: Fix build errors from stub remediation — UIDevice→ProcessInfo, UIKit import, Sendable fix
  Shared/Intelligence/LifeMonitoring/DeadlineIntelligence.swift
  Shared/Intelligence/LifeMonitoring/VoiceProactivity.swift
Due: unittests, macos, ios

Auto-save: Rename BenchmarkServiceStub → AIModelBenchmarkService (no longer a stub)
  Shared/UI/Views/Settings/OrchestratorSettingsView.swift
Due: unittests, macos, ios

Auto-save: TheaIdentityPrompt — unified self-identity system prompt
  Shared/Core/Configuration/TheaIdentityPrompt.swift
  Shared/Core/Managers/ChatManager+Messaging.swift
  Shared/Intelligence/Verification/ConfidenceSystem.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: Add TheaIdentityPromptTests — 53 tests for identity prompt system
  Tests/CoreTests/ModelTests/TheaIdentityPromptTests.swift
Due: none

Auto-save: Add E7 self-improvement actors — SmartTaskPrioritizer, ReleaseMonitor, SelfBenchmark
  Shared/Intelligence/Autonomy/ReleaseMonitor.swift
  Shared/Intelligence/Autonomy/SelfBenchmark.swift
  Shared/Intelligence/Autonomy/SmartTaskPrioritizer.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: Replace LifeTrackingDashboardView stubs with real monitor data
  Shared/Intelligence/Autonomy/SelfBenchmark.swift
  Shared/Views/LifeTracking/LifeTrackingDashboardView.swift
Due: unittests, macos, ios

Auto-save: E1 token counting + comparison mode + metadata display
  Shared/Core/Managers/ChatManager+Messaging.swift
  Shared/Core/Managers/ProviderRegistry.swift
  Shared/Core/Models/Message.swift
  Shared/UI/Components/MessageBubble.swift
  Shared/UI/Views/ChatView+Extensions.swift
  Shared/UI/Views/ChatView.swift
Due: unittests, macos, ios

Auto-save: Fix E1 build — SecureStorage.loadAPIKey, sequential comparison
  Shared/Core/Managers/ChatManager+Messaging.swift
Due: unittests, macos, ios

Auto-save: E1 tests — 33 new tests for token counting, comparison mode, confidence badge
  Tests/CoreTests/ModelTests/E1ChatEnhancementsTests.swift
Due: none

Auto-save: E2 WatchHealthView — glanceable health dashboard for watchOS
  watchOS/Views/WatchHealthView.swift
  watchOS/Views/watchOSHomeView.swift
Due: none

Auto-save: E2 wire HealthDashboardView into macOS settings + iOS tabs
  iOS/Views/iOSHomeView.swift
  macOS/Views/MacSettingsView.swift
Due: unittests, macos, ios

Auto-save: E2 health data export + share button in HealthDashboardView
  Shared/Integrations/Health/ViewModels/HealthDashboardViewModel.swift
  Shared/Integrations/Health/Views/HealthDashboardView.swift
Due: unittests, macos, ios

Auto-save: Fix E2 HealthDashboardViewModel build errors — SleepRecord.duration→totalMinutes, exerciseMinutes→activeMinutes, VO2Max fitnessLevel computed
  Shared/Integrations/Health/ViewModels/HealthDashboardViewModel.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: E6 Agent Delegation — agent memory (KG persistence), user feedback (thumbs up/down), cost tracking (per-session USD, budget caps, model/provider display)
  Shared/Intelligence/Orchestration/TheaAgentOrchestrator.swift
  Shared/Intelligence/Orchestration/TheaAgentOrchestratorTypes.swift
  Shared/Intelligence/Orchestration/TheaAgentSession.swift
  iOS/Views/TheaAgentListView.swift
  macOS/Views/TheaAgentDetailView.swift
Due: unittests, macos, ios

Auto-save: E6 tests — 32 new tests for cost estimation, feedback stats, cost formatting
  Tests/CoreTests/ModelTests/E6AgentEnhancementsTests.swift
Due: none

Auto-save: E6 agent feedback — UserFeedbackLearner wiring, AgentFeedbackSection with comment field
  Shared/Intelligence/Orchestration/TheaAgentOrchestrator.swift
  Shared/UI/Views/Components/AgentFeedbackSection.swift
  macOS/Views/TheaAgentDetailView.swift
Due: unittests, macos, ios

Auto-save: E6 wire shared AgentFeedbackSection in iOS agent detail view
  iOS/Views/TheaAgentListView.swift
Due: unittests, ios

Auto-save: E6 cost tracking + feedback stats UI in TheaAgentSettingsView
  Shared/UI/Views/Settings/TheaAgentSettingsView.swift
Due: unittests, macos, ios

Auto-save: E6 Agent Delegation — agent memory (KG persistence), user feedback (thumbs up/down), cost tracking (per-session USD, budget caps, model/provider display)
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: E4 NetworkPrivacyMonitor — real NWPathMonitor + domain classification + traffic logging
  Shared/Privacy/NetworkPrivacyMonitor.swift
Due: unittests, macos, ios

Auto-save: E4 DNSBlocklistService — local domain blocklist with 50+ built-in entries, subdomain matching, persistence
  Shared/Privacy/DNSBlocklistService.swift
Due: unittests, macos, ios

Auto-save: E4 Privacy Firewall 100% — transparency report, network monitor, DNS blocklist manager, firewall audit detail views + DNSBlocklistService actor init fix
  Shared/Privacy/DNSBlocklistService.swift
  Shared/UI/Views/Settings/PrivacyFirewallDashboardView.swift
  Shared/UI/Views/Settings/SettingsPrivacyAboutViews.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: E4 wire NetworkPrivacyMonitor into ChatManager — record outbound API connections with provider domain + estimated bytes
  Shared/Core/Managers/ChatManager+Messaging.swift
Due: unittests, macos, ios

Auto-save: Fix testDetectsFirebaseKey — test fixture key was 31 chars, pattern requires 33
  Tests/CoreTests/ModelTests/CredentialPatternTests.swift
Due: none

Auto-save: E4 Privacy Firewall — matchesDomain() extension fixes false positives, 47 privacy dashboard tests
  Shared/Privacy/NetworkPrivacyMonitor.swift
  Tests/CoreTests/ModelTests/E4PrivacyDashboardTests.swift
Due: unittests, macos, ios

Auto-save: E5 Device Sync — SyncEncryption (AES-256-GCM), SyncConflictResolutionView, SyncStatusIndicator, selective sync toggles in CloudKitService
  Shared/Sync/CloudKitService+Sync.swift
  Shared/Sync/SyncEncryption.swift
  Shared/UI/Views/ChatView.swift
  Shared/UI/Views/Components/SyncConflictResolutionView.swift
  Shared/UI/Views/Components/SyncStatusIndicator.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: E5 wire conflict resolution UI into CloudKitService, E2E encryption toggle in SyncSettingsView, decrypt on receive
  Shared/Sync/CloudKitService+Sync.swift
  Shared/UI/Views/ChatView.swift
  Shared/UI/Views/Settings/SyncSettingsView.swift
  Shared/UI/Views/Settings/SyncSettingsViewSections.swift
Due: unittests, macos, ios

Auto-save: E5 Device Sync tests — 27 tests for conflict resolution, encryption, selective sync, status indicator
  Tests/CoreTests/ModelTests/E5DeviceSyncTests.swift
Due: none

Auto-save: E3 Financial — TransactionImporter (CSV/OFX), SwissTaxEstimator (26 cantons), InvestmentTracker (portfolio/dividends)
  Shared/Financial/InvestmentTracker.swift
  Shared/Financial/SwissTaxEstimator.swift
  Shared/Financial/TransactionImporter.swift
Due: unittests, macos, ios

Auto-save: E3 fix type collisions — TaxEstimate→SwissTaxResult, ImportError→TransactionImportError
  Shared/Financial/InvestmentTracker.swift
  Shared/Financial/SwissTaxEstimator.swift
  Shared/Financial/TransactionImporter.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios
