Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

Auto-save: Enable text selection app-wide, make settings resizable, remove auto-save text, fix alignment
  macOS/Views/ContentView.swift
  macOS/Views/MacSettingsView.swift
Due: unittests, macos

Auto-save: Move microphone button from toolbar to inline in ChatInputView
  Shared/UI/Components/ChatInputView.swift
  macOS/Views/MacChatDetailView.swift
Due: unittests, macos, ios

Auto-save: Overhaul AI & Models settings, add execution safety to Advanced, add missing settings
  macOS/Views/MacSettingsView.swift
Due: unittests, macos

Auto-save: Spiral icon bg removed, suggestions removed, duplicate (+) removed, toggle moved right, comprehensive message actions (copy/edit/rewrite/split/share/pin/delete)
  Shared/UI/Components/MessageBubble.swift
Due: unittests, macos, ios

Auto-save: Scale conversation row spacing and padding with dynamic type size
  Shared/UI/Views/SidebarView.swift
Due: unittests, macos, ios

Auto-save: Hide empty conversations from sidebar until first message is sent
  Shared/UI/Views/SidebarView.swift
  macOS/Views/ContentView.swift
Due: unittests, macos, ios

Auto-save: Regenerate Xcode project after all 7 UI fixes
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: Replace hurricane SF Symbol with actual app icon spiral, CCW rotation + breathing beat
  Shared/Resources/Assets.xcassets/TheaSpiral.imageset/Contents.json
  Shared/Resources/Assets.xcassets/TheaSpiral.imageset/spiral_1x.png
  Shared/Resources/Assets.xcassets/TheaSpiral.imageset/spiral_2x.png
  Shared/Resources/Assets.xcassets/TheaSpiral.imageset/spiral_3x.png
  Shared/UI/Design/TheaDesignSystem.swift
  Shared/UI/Views/WelcomeView.swift
Due: unittests, macos, ios

Fix build errors from stub activations
  Shared/Automation/BrowserAutomationOrchestrator.swift
  Shared/Core/Configuration/ContextManager.swift
  Shared/Core/Managers/ChatManager.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: Enable multi-window (Cmd+N) and multi-tab (Cmd+T) support, keep app alive after last window close
  macOS/TheamacOSApp.swift
Due: unittests, macos

Implement ScreenCaptureKit capture and more stub activations
  Shared/AppIntegration/AppStateMonitor.swift
  Shared/UI/Views/Terminal/CommandHistoryView.swift
  macOS/Views/QuickEntryWindow.swift
Due: unittests, macos, ios

Auto-save: Fix SwiftLint redundant_string_enum_value warnings in LifeMonitoring files
  Shared/Integrations/TaskManagement/AsanaIntegration.swift
  Shared/Intelligence/LifeMonitoring/VoiceProactivity.swift
Due: unittests, macos, ios

Fix critical fatalError crashes and remove dead files
  Shared/Analytics/AnalyticsManager.swift
  Shared/Authentication/PasskeysService.swift
  Shared/Core/Helpers/SwiftDataHelpers.swift
  Shared/System/CompilerError+Sorting.swift
Due: unittests, macos, ios

Re-enable orchestrator and activate more stubs
  Shared/Core/Managers/ChatManager.swift
  Sources/Thea/Services/SmartDNS/SmartDNSMonitorService.swift
Due: unittests, macos, ios

Activate stub implementations and wire up AI integration
  Shared/Automation/BrowserAutomationOrchestrator.swift
  Shared/Core/Configuration/ContextManager.swift
  Shared/Core/Services/QAToolsManager.swift
  Shared/UI/Views/Settings/LocalModelsSettingsView.swift
Due: unittests, macos, ios

Auto-save: Fix redundant_string_enum_value SwiftLint warnings in LifeMonitoring
  Shared/Intelligence/LifeMonitoring/AutomatableSuggestionEngine.swift
  Shared/Intelligence/LifeMonitoring/CallMonitor.swift
  Shared/Intelligence/LifeMonitoring/DeadlineIntelligence.swift
  Shared/Intelligence/LifeMonitoring/EfficiencySuggestionEngine.swift
  Shared/Intelligence/LifeMonitoring/FileSystemMonitor.swift
  Shared/Intelligence/LifeMonitoring/HealthIntelligence.swift
  Shared/Intelligence/LifeMonitoring/HolisticPatternIntelligence.swift
  Shared/Intelligence/LifeMonitoring/YouTubeIntelligence.swift
  Shared/Intelligence/Privacy/PrivacyPreservingAIRouter.swift
  Shared/Notifications/CrossDeviceNotificationService.swift
  Shared/Providers/Anthropic/AnthropicFilesAPI.swift
Due: unittests, macos, ios

Auto-save: Fix 8 UI bugs - clockwise spiral, dark corners, panel toggle, button swap, sidebar font, streaming duplicates, Cmd+N, Settings resize+alignment
  Shared/UI/Design/TheaDesignSystem.swift
  Shared/UI/Views/ChatView.swift
  Shared/UI/Views/SidebarView.swift
  macOS/Views/ContentView.swift
  macOS/Views/MacChatDetailView.swift
  macOS/Views/MacSettingsView.swift
Due: unittests, macos, ios

Auto-save: Add project creation dialog with naming, empty state, and context menu
  macOS/Views/ContentView.swift
Due: unittests, macos

Auto-save: Wire 16 existing Settings sub-views into MacSettingsView tabs with NavigationStack navigation
  Scripts/setup-mac-sync.sh
  macOS/Views/MacSettingsView.swift
Due: unittests, macos

Auto-save: Fix 9 UI issues - button positions, spiral glow/animation, settings resize, density/timestamps, flatten settings tabs
  .claude/COMPREHENSIVE_QA_PLAN.md
  .claude/claude-global-reference 2.md
  Scripts/setup-mac-sync.sh
  Shared/UI/Components/MessageBubble.swift
  Shared/UI/Design/TheaDesignSystem.swift
  Shared/UI/Views/SidebarView.swift
  Thea.xcodeproj/project.pbxproj
  macOS/TheamacOSApp.swift
  macOS/Views/ContentView.swift
  macOS/Views/MacChatDetailView.swift
  macOS/Views/MacSettingsView.swift
Due: unittests, macos, ios

Auto-save: Add conversations panel toggle button to content column toolbar
  .claude/COMPREHENSIVE_QA_PLAN.md
  macOS/Views/ContentView.swift
Due: unittests, macos

Auto-save: Add THEA_MASTER_IMPROVEMENT_PLAN.md — comprehensive analysis and roadmap
  .claude/THEA_MASTER_IMPROVEMENT_PLAN.md
Due: none

Auto-save: Subtle halo fade, move (+) to content header, fix Settings resize, remove Meta-AI settings
  Shared/UI/Design/TheaDesignSystem.swift
  macOS/TheamacOSApp.swift
  macOS/Views/ContentView.swift
  macOS/Views/MacSettingsView.swift
Due: unittests, macos, ios

Auto-save: Settings overhaul - permissions tab, folder picker, remove experimental/execution mode, KVO resize
  macOS/Views/MacSettingsView.swift
Due: unittests, macos

Auto-save: regenerate macOS icon PNGs with square corners (no pre-baked rounded corners)
  Shared/Resources/Assets.xcassets/AppIcon.appiconset/icon_128x128.png
  Shared/Resources/Assets.xcassets/AppIcon.appiconset/icon_128x128@2x.png
  Shared/Resources/Assets.xcassets/AppIcon.appiconset/icon_16x16.png
  Shared/Resources/Assets.xcassets/AppIcon.appiconset/icon_16x16@2x.png
  Shared/Resources/Assets.xcassets/AppIcon.appiconset/icon_256x256.png
  Shared/Resources/Assets.xcassets/AppIcon.appiconset/icon_256x256@2x.png
  Shared/Resources/Assets.xcassets/AppIcon.appiconset/icon_32x32.png
  Shared/Resources/Assets.xcassets/AppIcon.appiconset/icon_32x32@2x.png
  Shared/Resources/Assets.xcassets/AppIcon.appiconset/icon_512x512.png
  Shared/Resources/Assets.xcassets/AppIcon.appiconset/icon_512x512@2x.png
  Shared/Resources/Thea.icon/Assets/thea_icon_master_1024.png
Due: unittests, macos, ios

Auto-save: add pre-built AppIcon.icns with all 11 types + set CFBundleIconFile in Info.plist
  macOS/Info.plist
  macOS/Resources/AppIcon.icns
Due: unittests, macos

Auto-save: add SVG source to appiconset, clean stale LS registrations
  Shared/Resources/Assets.xcassets/AppIcon.appiconset/thea_icon_source.svg
Due: unittests, macos, ios

Auto-save: Add AppIcon.icns to macOS build, clean up scheme files
  Thea.xcodeproj/project.pbxproj
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-iOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-macOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-tvOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-watchOS.xcscheme
Due: none

Auto-save: Make CloudKit access graceful when entitlements missing
  Shared/Sync/AppUpdateService.swift
Due: unittests, macos, ios

Auto-save: Restructure PermissionsTypes.swift with macOS Privacy & Security layout
  Shared/Core/Managers/PermissionsTypes.swift
Due: unittests, macos, ios

Auto-save: Rewrite PermissionsManager with new permission types, fix request logic
  Shared/Core/Managers/PermissionsManager.swift
  Shared/UI/Views/SettingsView.swift
Due: unittests, macos, ios

Auto-save: Rewrite PermissionsSettingsView - remove Quick Actions, new layout
  Shared/UI/Views/Settings/PermissionsSettingsView.swift
Due: unittests, macos, ios

Path conditions:
  unittests: any of: Shared/, Platforms/, iOS/, macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  macos: any of: Shared/, macOS/, Platforms/macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  ios: any of: Shared/, iOS/, Platforms/iOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
