Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

codecov.yml:

# CodeCov Configuration for Thea
# Version: 1.0.0
# Last Updated: January 16, 2026
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# ============================================
# COVERAGE SETTINGS
# ============================================
coverage:
  # Precision of coverage percentage (2 decimal places)
  precision: 2

  # Round coverage percentage
  round: down

  # Range for coverage (red to green)
  range: "50...90"

  # Status checks
  status:
    # Project-level coverage
    project:
      default:
        # Target coverage percentage
        target: auto
        # Threshold for coverage decrease allowed
        threshold: 1%
        # Only check coverage on files that were changed
        only_changed_files: false
        # Compare against base branch
        base: auto
        # Flags to include (if using multiple coverage uploads)
        flags:
          - unittests

      # Separate status for each platform
      macos:
        target: auto
        threshold: 2%
        flags:
          - macos

      ios:
        target: auto
        threshold: 2%
        flags:
          - ios

    # Patch-level coverage (only changed lines)
    patch:
      default:
        target: auto
        threshold: 5%
        only_changed_files: true

# ============================================
# PARSING SETTINGS
# ============================================
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      macro: false
      method: false

# ============================================
# FLAGS
# ============================================
flags:
  unittests:
    paths:
      - Shared/
      - Platforms/
      - iOS/
      - macOS/
    carryforward: true
    after_n_builds: 1

  macos:
    paths:
      - Shared/
      - macOS/
      - Platforms/macOS/
    carryforward: true

  ios:
    paths:
      - Shared/
      - iOS/
      - Platforms/iOS/
    carryforward: true

# ============================================
# IGNORE PATHS
# ============================================
ignore:
  - "build/**/*"
  - ".build/**/*"
  - "DerivedData/**/*"
  - "Pods/**/*"
  - "Carthage/**/*"
  - "SourcePackages/**/*"
  - "Tests/**/*"
  - "**/*Tests.swift"
  - "**/*Test.swift"
  - "**/Preview Content/**/*"
  - "*.generated.swift"
  - "Package.swift"

# ============================================
# COMMENT SETTINGS
# ============================================
comment:
  # Layout of the comment
  layout: "reach,diff,flags,files,footer"

  # Comment behavior
  behavior: default

  # Require changes for comment
  require_changes: false

  # Show project coverage
  require_base: false
  require_head: true

  # Branches to comment on
  branches:
    - main
    - develop
    - "feature/*"
    - "release/*"

# ============================================
# GITHUB CHECKS
# ============================================
github_checks:
  # Show annotations on files in PR
  annotations: true

# ============================================
# NOTIFICATIONS
# ============================================
# Configure if you want Slack/email notifications
# notify:
#   slack:
#     default:
#       url: "https://hooks.slack.com/services/..."
#       threshold: 1%
#       only_pulls: false
#       branches:
#         - main

Auto-save: accessibility fixes for iOS settings views and mention autocomplete components
  Shared/UI/Components/MentionAutocomplete.swift
  Shared/UI/Components/MentionAutocompleteView.swift
  iOS/Views/Settings/iOSAISettingsSection.swift
  iOS/Views/Settings/iOSAdvancedSection.swift
  iOS/Views/Settings/iOSPrivacySection.swift
Due: unittests, macos, ios

Auto-save: add AppleSiliconChipTests (24 tests) and AutomationTypesTests (22 tests)
  Tests/CoreTests/ModelTests/AgentOrchestrationTypesTests.swift
  Tests/CoreTests/ModelTests/AppleSiliconChipTests.swift
  Tests/CoreTests/ModelTests/AutomationTypesTests.swift
Due: none

Auto-save: add SubagentTypesTests + AgentOrchestrationTypesTests — 70+ new tests (1525 total)
  Tests/CoreTests/ModelTests/AgentOrchestrationTypesTests.swift
  Tests/CoreTests/ModelTests/AgentOrchestratorLogicTests.swift
  Tests/CoreTests/ModelTests/SubagentTypesTests.swift
Due: none

Auto-save: split AgentOrchestrationTypesTests into two files to fix file_length lint warning
  Tests/CoreTests/ModelTests/SubagentTypesTests.swift
Due: none

Auto-save: split SubagentTypesTests into SubagentTypesTests + SubagentLogicTests to fix file_length
  Tests/CoreTests/ModelTests/AgentSettingsAndSyncTests.swift
  Tests/CoreTests/ModelTests/SubagentLogicTests.swift
  Tests/CoreTests/ModelTests/SubagentTypesTests.swift
Due: none

Auto-save: fix trailing newline in SubagentTypesTests
  Tests/CoreTests/ModelTests/SubagentTypesTests.swift
Due: none

Auto-save: add confirmation dialogs for destructive actions, accessibility hints, fix hardcoded colors
  iOS/Views/Settings/iOSAISettingsSection.swift
  iOS/Views/Settings/iOSMemorySection.swift
  iOS/Views/Settings/iOSPrivacySection.swift
Due: unittests, ios

Auto-save: split overlength files to fix SwiftLint file_length/type_body_length warnings
  Shared/UI/Components/CodeBlockView.swift
  Shared/UI/Components/CommandPalette.swift
  Shared/UI/Components/MessageAction.swift
  Shared/UI/Components/MessageBubble.swift
  Shared/UI/Design/TheaDesignSystem.swift
  Shared/UI/Design/TheaSpiralIconView.swift
  Shared/UI/Views/APIKeySetupView.swift
  Shared/UI/Views/ChatView.swift
  Shared/UI/Views/ConversationDocument.swift
  Shared/UI/Views/Cowork/CoworkProgressView.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: refactoring — extract CodeBlockView, MessageAction, TheaSpiralIconView, APIKeySetupView, ConversationDocument; decompose CommandPalette, MessageBubble, ChatView, CoworkProgressView
  Shared/UI/Components/MessageBubble.swift
  Shared/UI/Extensions/View+ErrorAlert.swift
  Shared/UI/Views/ChatView.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: extract View+ErrorAlert extension, fix trailing newline, remove unused import
  Shared/UI/Views/ChatView+Extensions.swift
  Shared/UI/Views/ChatView.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: Split CloudKitTypesTests into CloudKitTypesTests + CloudKitTypesMergeTests
  Shared/Platforms/macOS/ClipboardObserver.swift
  Shared/RemoteServer/RemoteAuthMessages.swift
  Shared/RemoteServer/RemoteChatAnnotationMessages.swift
  Shared/RemoteServer/RemoteClipboardMessages.swift
  Shared/RemoteServer/RemoteFileMessages.swift
  Shared/RemoteServer/RemoteInputMessages.swift
  Shared/RemoteServer/RemoteNetworkMessages.swift
  Shared/RemoteServer/RemoteScreenMessages.swift
  Shared/RemoteServer/RemoteSystemMessages.swift
  Shared/UI/Views/ChatView.swift
  Tests/CoreTests/ModelTests/CloudKitTypesMergeTests.swift
  Tests/CoreTests/ModelTests/CloudKitTypesTests.swift
Due: unittests, macos, ios

Auto-save: add RemoteMediaMessages.swift
  Shared/RemoteServer/RemoteMediaMessages.swift
Due: unittests, macos, ios

Auto-save: Split RoutingDecisionTests into RoutingDecisionTests + RoutingDecisionContextTests
  Shared/RemoteServer/RemoteInventoryMessages.swift
  Shared/RemoteServer/RemoteMessages.swift
  Tests/CoreTests/ModelTests/RoutingDecisionContextTests.swift
  Tests/CoreTests/ModelTests/RoutingDecisionTests.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: Split RemoteMessages.swift into 11 files to fix file_length warning
  Tests/CoreTests/ModelTests/CloudKitTypesMergeTests.swift
Due: none

Auto-save: fix constant switch warnings in CloudKitTypesMergeTests, add RemoteMediaMessages
  Tests/CoreTests/ModelTests/TabManagerAdvancedTests.swift
Due: none

Auto-save: Split TabManagerTests into TabManagerTests + TabManagerAdvancedTests
  Tests/CoreTests/ModelTests/TabManagerTests.swift
Due: none

Auto-save: fix private -> fileprivate in PreferenceSyncTypesTests for cross-class type access
  Tests/CoreTests/ModelTests/CrossDeviceSyncTypesTests.swift
  Tests/CoreTests/ModelTests/FallbackChainTypesTests.swift
  Tests/CoreTests/ModelTests/PreferenceSyncTypesTests.swift
Due: none

Auto-save: fix trailing comma warnings in FallbackChainTypesTests and PreferenceSyncTypesTests
  Tests/CoreTests/ModelTests/FallbackChainTypesTests.swift
  Tests/CoreTests/ModelTests/OrchestratorDispatchTests.swift
  Tests/CoreTests/ModelTests/PreferenceSyncTypesTests.swift
Due: none

Auto-save: fix trailing commas in OrchestratorDispatchTests
  Tests/CoreTests/ModelTests/OrchestratorDispatchTests.swift
  Tests/CoreTests/ModelTests/VerificationOrchestrationTests.swift
Due: none

Auto-save: add AgentResourcePoolTypesTests (45 tests)
  Shared/Code/SwiftBestPracticesLibrary.swift
  Shared/Intelligence/Codebase/SemanticCodeIndexer+Core.swift
  Shared/Intelligence/Core/UnifiedIntelligenceHub+Core.swift
  Shared/Intelligence/Goals/GoalInferenceEngine.swift
  Shared/Intelligence/Knowledge/KnowledgeSourceManager+Core.swift
  Shared/Intelligence/Reflection/ReflexionEngine+Core.swift
  Shared/Intelligence/Routing/ModelRouter.swift
  Shared/Intelligence/Safety/SafetyGuardrails+Core.swift
  Shared/Intelligence/Search/SemanticSearchService+Core.swift
  Shared/Intelligence/Verification/StaticAnalysisVerifier.swift
  Tests/CoreTests/ModelTests/AgentResourcePoolTypesTests.swift
  tvOS/Views/TVEnhancedHomeView+Chat.swift
  tvOS/Views/TVEnhancedHomeView+Settings.swift
Due: unittests, macos, ios

Auto-save: add ContextMonitorAndRunnerTests (43 tests)
  Shared/UI/Views/Settings/AutonomousSettingsView.swift
  Shared/UI/Views/Settings/IntegrationsSettingsView.swift
  Tests/CoreTests/ModelTests/ContextMonitorAndRunnerTests.swift
  tvOS/Views/TVEnhancedHomeView.swift
  tvOS/Views/tvOSHomeView+Settings.swift
Due: unittests, macos, ios

Auto-save: add NetworkManagerTypesTests (35 tests)
  Shared/AppIntegration/WorkWithAppsService.swift
  Shared/AppIntegration/WorkWithAppsServiceTypes.swift
  Shared/Backup/BackupManagerTypes.swift
  Shared/UI/Views/Settings/ModelSettingsView.swift
  Shared/UI/Views/Settings/ModelSettingsViewSections.swift
  Tests/CoreTests/ModelTests/NetworkManagerTypesTests.swift
  Thea.xcodeproj/project.pbxproj
  tvOS/Views/tvOSHomeView.swift
Due: unittests, macos, ios

Auto-save: split overlength test files, add AgentBusHistoryAndQueueTests (28 tests), fix float precision
  Shared/Backup/BackupManager.swift
  Shared/Context/DeviceAwareness/UnifiedDeviceAwareness.swift
  Shared/Context/DeviceAwareness/UnifiedDeviceAwarenessTypes.swift
  Shared/Core/Configuration/TheaConfig.swift
  Shared/DeepLinking/DeepLinkRouter.swift
  Shared/Execution/Testing/IntegratedTestRunner.swift
  Shared/Execution/Testing/IntegratedTestRunnerTypes.swift
  Shared/Extensions/ExtensionSyncBridge.swift
  Shared/Extensions/ExtensionSyncBridgeTypes.swift
  Shared/Intelligence/Health/HealthCoachingPipeline.swift
  Shared/Intelligence/Routing/SmartModelRouter+ModelCatalog.swift
  Shared/Intelligence/Search/SemanticSearchService+Core.swift
  Shared/Intelligence/Skills/SkillDefinition.swift
  Shared/Intelligence/Skills/SkillsRegistry.swift
  Shared/Intelligence/Subagents/SubagentDefinition.swift
  Shared/UI/Views/Settings/OrchestratorSettingsView.swift
  Shared/UI/Views/Settings/PrivacySettingsView.swift
  Shared/UI/Views/Settings/RemoteAccessSettingsView.swift
  Shared/UI/Views/Settings/RemoteAccessSettingsViewSections.swift
  Shared/UI/Views/Settings/ResourceAllocationSettingsView.swift
  Shared/UI/Views/Settings/SettingsConfigurationViews.swift
  Shared/UI/Views/Settings/SettingsConfigurationViewsExtras.swift
  Tests/CoreTests/ModelTests/AgentBusHistoryAndQueueTests.swift
  Tests/CoreTests/ModelTests/AgentCommunicationBusTypesTests.swift
  Tests/CoreTests/ModelTests/ContextMonitorAndRunnerTests.swift
  Tests/CoreTests/ModelTests/NetworkManagerTypesTests.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: Remove extracted QuickCommandsEditorView from TerminalSettingsView.swift
  Shared/Core/EventBus/EventBusEvents.swift
  Shared/Intelligence/Codebase/CodebaseSearchEngine+Types.swift
  Shared/Intelligence/Memory/LongTermMemorySystem.swift
  Shared/Intelligence/Search/SemanticSearchService+Core.swift
  Shared/Keyboard/KeyboardShortcutsSystem.swift
  Shared/Keyboard/KeyboardShortcutsTypes.swift
  Shared/Memory/ActiveMemoryRetrieval.swift
  Shared/Memory/ActiveMemoryRetrievalTypes.swift
  Shared/UI/Views/Settings/SyncSettingsView.swift
  Shared/UI/Views/Settings/SyncSettingsViewSections.swift
  Shared/UI/Views/Settings/TerminalSettingsView.swift
  Shared/UI/Views/Settings/TerminalSettingsViewSections.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: Split MacSettingsView+Sections.swift (527 lines) into +Sections (348) and +Actions (181)
  Shared/Core/EventBus/EventBus.swift
  Shared/Intelligence/AgentMode/AutonomousAgentV3.swift
  Shared/Memory/ProjectMemoryTypes.swift
  Shared/UI/Views/Settings/SyncSettingsView.swift
  Thea.xcodeproj/project.pbxproj
  macOS/Views/MacSettingsView+Actions.swift
  macOS/Views/MacSettingsView+Sections.swift
Due: unittests, macos, ios

Auto-save: Move SyncSettingsView extensions to SyncSettingsViewSections.swift to fix file_length
  Shared/Intelligence/Search/SemanticSearchService+Core.swift
  Shared/Intelligence/Search/SemanticSearchService.swift
  Shared/Memory/ProjectMemoryViews.swift
  Shared/UI/Views/Settings/SyncSettingsView.swift
  Shared/UI/Views/Settings/SyncSettingsViewSections.swift
Due: unittests, macos, ios

Auto-save: Fix uniqued() access level — private→internal for cross-file access
  Shared/Core/Models/AIModelCatalog.swift
  Shared/Intelligence/Knowledge/KnowledgeSourceManager+Core.swift
  Shared/Intelligence/Memory/LongTermMemorySystem+Consolidation.swift
  Shared/Intelligence/Verification/StaticAnalysisVerifier.swift
  Shared/UI/Views/Settings/SyncSettingsViewSections.swift
Due: unittests, macos, ios

Auto-save: xcodegen generate to include AIModelCatalog.swift
  Shared/Core/Models/AIModel.swift
  Shared/Memory/ProjectMemoryManager.swift
  Shared/UI/Views/Settings/SyncSettingsView.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: Fix iOS exclusion for SemanticSearchService+Core.swift
  Shared/Missions/MissionOrchestrator.swift
  Shared/Missions/MissionOrchestratorTypes.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: unittests, macos, ios

Auto-save: Remove duplicate type definitions from MissionOrchestrator.swift (already in MissionOrchestratorTypes.swift)
  Shared/AI/Automation/WorkflowEngine.swift
  Shared/AI/Automation/WorkflowEngineTypes.swift
  Shared/Missions/MissionOrchestrator.swift
Due: unittests, macos, ios

Auto-save: Add extracted type files (AutonomyPolicy, CustomAgentBuilder, ResourceDiscovery, SwiftKnowledgeLearner types)
  Shared/AI/Autonomy/AutonomyPolicy.swift
  Shared/AI/Autonomy/AutonomyPolicyTypes.swift
  Shared/AI/CustomAgentBuilder.swift
  Shared/AI/CustomAgentBuilderTypes.swift
  Shared/AI/Discovery/ResourceDiscoveryEngine.swift
  Shared/AI/Discovery/ResourceDiscoveryTypes.swift
  Shared/AI/Learning/SwiftKnowledgeLearner.swift
  Shared/AI/Learning/SwiftKnowledgeLearnerTypes.swift
Due: unittests, macos, ios

Auto-save: xcodegen generate for new type files
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: Rename CareerDashboardView RecommendationCard to avoid iOS type conflict
  Shared/AI/Learning/SwiftKnowledgeLearner.swift
  Shared/Core/Managers/PermissionsManagerChecks.swift
  Shared/Integrations/Career/Views/CareerDashboardView.swift
  Shared/UI/Views/Settings/PrivacySettingsView.swift
  Shared/UI/Views/Settings/PrivacySettingsViewSections.swift
Due: unittests, macos, ios

Auto-save: Include PermissionsManager changes from prior session
  Shared/Core/Managers/PermissionsManager.swift
Due: unittests, macos, ios

Auto-save: xcodegen generate to include PermissionsManagerChecks.swift
  Shared/Core/Managers/PermissionsManager.swift
  Shared/Migration/MigrationEngineTypes.swift
  Shared/UI/Views/Settings/PrivacySettingsView.swift
  Shared/UI/Views/Settings/PrivacySettingsViewSections.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: Fix remaining SwiftLint violations in Settings view files (type_body_length, file_length, function_body_length)
  Shared/Core/Configuration/SystemPromptConfiguration.swift
  Shared/Core/Managers/ChatManager+Intelligence.swift
  Shared/Core/Managers/PermissionsManagerRequests.swift
  Shared/Migration/MigrationEngine.swift
  Shared/Networking/NetworkManager.swift
  Shared/Networking/NetworkManagerTypes.swift
  Shared/UI/Views/Settings/AdvancedPromptSettingsTypes.swift
  Shared/UI/Views/Settings/AdvancedPromptSettingsView.swift
  Shared/UI/Views/Settings/AdvancedSettingsView.swift
  Shared/UI/Views/Settings/BackupSettingsViewSections.swift
  Shared/UI/Views/Settings/IntegrationsSettingsView.swift
  Shared/UI/Views/Settings/IntegrationsSettingsViewSections.swift
  Shared/UI/Views/Settings/ModelSettingsView.swift
  Shared/UI/Views/Settings/OrchestratorSettingsView.swift
  Shared/UI/Views/Settings/OrchestratorSettingsViewSections.swift
Due: unittests, macos, ios

Auto-save: Fix final SwiftLint violations - trailing comma, move actions/preview to sections files
  Shared/Core/Managers/SettingsManager.swift
  Shared/Onboarding/OnboardingManager.swift
  Shared/Onboarding/OnboardingManagerTypes.swift
  Shared/UI/Views/Settings/AdvancedPromptSettingsTypes.swift
  Shared/UI/Views/Settings/AdvancedSettingsView.swift
  Shared/UI/Views/Settings/AdvancedSettingsViewSections.swift
  Shared/UI/Views/Settings/IntegrationsSettingsView.swift
  Shared/UI/Views/Settings/OrchestratorSettingsView.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: Move debugSection to OrchestratorSettingsViewSections.swift to fix file_length violation
  Shared/AI/CoreML/FunctionGemmaEngine.swift
  Shared/AI/LocalModels/LocalModelProvider.swift
  Shared/Platforms/iOS/HealthKitProviderTypes.swift
  Shared/UI/Views/Settings/OrchestratorSettingsView.swift
  Shared/UI/Views/Settings/OrchestratorSettingsViewSections.swift
Due: unittests, macos, ios

Auto-save: Regenerate Xcode project via xcodegen
  Shared/AI/LocalModels/LocalModelProvider.swift
  Shared/Core/Managers/SettingsManager.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios
