Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

docs: mark AAF3 + AAB3 ✅ DONE in plan — macOS+iOS BUILD SUCCEEDED
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

feat(AAH3): wire all 4 services into app lifecycle — FoundationModelsService/MusicKitIntelligence/XAPIService (macOS) + HeadphoneMotionService (iOS)
  iOS/TheaiOSApp.swift
  macOS/TheamacOSApp.swift
Due: unittests, macos, ios

feat(AAH3): wire FoundationModelsService + MusicKitIntelligenceService + XAPIService at startup — macOS+iOS
  Thea.xcodeproj/project.pbxproj
Due: none

docs(plan): Wave 10 ✅ DONE — all 9 phases (AAA3–AAI3) complete; progress table updated; v3 98% autonomous done
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

Auto-save: regenerated project.pbxproj after Wave 10 project.yml changes
  Thea.xcodeproj/project.pbxproj
Due: none

feat(ABA3): add Wave 10 test files — FinancialCredentialStore, WearableFusion, SoundAnalysis, TabularData
  Tests/AudioTests.swift
  Tests/FinancialTests.swift
  Tests/TabularDataTests.swift
Due: none

fix(AAF3-2): JournalingSuggestionsService — #if canImport(JournalingSuggestions) for simulator SDK compat
  Shared/Intelligence/Journaling/JournalingSuggestionsService.swift
Due: unittests, macos, ios

fix(ABA3): swiftlint 0 warnings — colon/comma/trailing-closure/redundant-enum-value across Wave 10 files
  Shared/Intelligence/Audio/ShazamKitService.swift
  Shared/Intelligence/Audio/SoundAnalysisService.swift
  Shared/Intelligence/Data/TabularDataAnalyzer.swift
  Shared/Intelligence/Financial/CoinbaseService.swift
  Shared/Intelligence/Financial/FinancialIntelligenceService.swift
  Shared/Intelligence/Financial/FinancialModels.swift
  Shared/Intelligence/Financial/KrakenService.swift
  Shared/Intelligence/Financial/PlaidService.swift
  Shared/Intelligence/Financial/YNABService.swift
  Shared/Intelligence/Health/NutritionBarcodeService.swift
  Shared/Intelligence/Motion/HeadphoneMotionService.swift
  Shared/Intelligence/Music/MusicKitIntelligenceService.swift
  Shared/Intelligence/NFC/NFCContextService.swift
  Shared/Intelligence/Social/XAPIService.swift
  Shared/Intelligence/Travel/TravelIntelligenceService.swift
  Tests/AudioTests.swift
  iOS/CarPlay/CarPlaySceneDelegate.swift
Due: unittests, macos, ios

fix(ABA3): 0 compiler warnings — ShazamKitService async non-throw, PlaidService let, WSServer Task fix, MCPClientManager Sendable
  Shared/Integrations/OpenClaw/TheaGatewayWSServer.swift
  Shared/Intelligence/Audio/ShazamKitService.swift
  Shared/Intelligence/Financial/PlaidService.swift
  Shared/MCP/MCPClientManager.swift
Due: unittests, macos, ios

fix(ABA3): MetaAICoordinator — Task @MainActor + remove redundant await on currentContext (0 warnings)
  Shared/Intelligence/MetaAI/MetaAICoordinator.swift
Due: unittests, macos, ios

fix(ABA3): MetaAICoordinator — remove redundant await on @MainActor sync calls, fix unused learnings binding
  Shared/Intelligence/MetaAI/MetaAICoordinator.swift
Due: unittests, macos, ios

fix(ABA3): MetaAICoordinator — fix second unused learnings at line 85
  Shared/Intelligence/MetaAI/MetaAICoordinator.swift
Due: unittests, macos, ios

fix(ABA3): iOS warnings — HealthCoachingPipeline remove redundant await, IntelligenceDashboardView async PKG stats + timer fix
  Shared/Intelligence/Health/HealthCoachingPipeline.swift
  Shared/UI/Views/Intelligence/IntelligenceDashboardView.swift
Due: unittests, macos, ios

fix(ABA3): remove redundant await on @MainActor sync functions — HealthCoachingPipeline + MCPBuilderView actor isolation
  Shared/Intelligence/Health/HealthCoachingPipeline.swift
  Shared/UI/Views/Developer/MCPBuilderView.swift
Due: unittests, macos, ios

fix(ABA3): MacOSToolHandler — pre-extract [String:Any] values before @Sendable closures, var→let comps
  Shared/AI/Tools/MacOSToolHandler.swift
Due: unittests, macos, ios

Auto-save: ABA3 ✅ DONE — all 4 platforms 0 errors 0 warnings, 4046 tests pass, swiftlint clean
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

fix(ABB3): security audit v2 — IBAN/BTC/ETH active redaction, CarPlay voice no-log, FoundationModels injection guards
  Shared/Intelligence/FoundationModels/FoundationModelsService.swift
  Shared/Privacy/OutboundPrivacyGuard.swift
  iOS/CarPlay/CarPlaySceneDelegate.swift
Due: unittests, macos, ios

Auto-save: ABB3 ✅ DONE — security audit complete, 3 fixes applied
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

Auto-save: ABC3 ✅ DONE — 4046 tests pass, 78+ Wave 10 model tests in swift test suite
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

feat(ABF3): wire NFCContextService into iOS setupManagers (AAF3-3 gap)
  iOS/TheaiOSApp.swift
Due: unittests, ios

feat(ABF3): wiring verification v2 — 54/55 systems confirmed wired (≥55 target met)
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

Auto-save: s10a ShazamKitService + SoundAnalysisService (AAD3)
  Shared/Intelligence/Audio/ShazamKitService.swift
  Shared/Intelligence/Audio/SoundAnalysisService.swift
Due: unittests, macos, ios

Auto-save: SoundAnalysisService further update (AAD3)
  Shared/Intelligence/Audio/SoundAnalysisService.swift
Due: unittests, macos, ios

Auto-save: SoundAnalysisService final AAD3 update
  Shared/Intelligence/Audio/SoundAnalysisService.swift
Due: unittests, macos, ios

Auto-save: TabularDataAnalyzer + CoinbaseService updates
  Shared/Intelligence/Data/TabularDataAnalyzer.swift
  Shared/Intelligence/Financial/CoinbaseService.swift
Due: unittests, macos, ios

Auto-save: CoinbaseService + FinancialCredentialStore updates
  Shared/Intelligence/Financial/CoinbaseService.swift
  Shared/Intelligence/Financial/FinancialCredentialStore.swift
Due: unittests, macos, ios

Auto-save: FinancialCredentialStore final update
  Shared/Intelligence/Financial/FinancialCredentialStore.swift
Due: unittests, macos, ios

Auto-save: FinancialIntelligenceService update
  Shared/Intelligence/Financial/FinancialIntelligenceService.swift
Due: unittests, macos, ios

Auto-save: Wave 11 final report
  .claude/WAVE11_FINAL_REPORT.md
Due: none

Auto-save: FinancialIntelligenceService further update
  Shared/Intelligence/Financial/FinancialIntelligenceService.swift
Due: unittests, macos, ios

Auto-save: FinancialModels update from parallel stream (Wave 10)
  Shared/Intelligence/Financial/FinancialModels.swift
Due: unittests, macos, ios

Auto-save: FinancialModels update
  Shared/Intelligence/Financial/KrakenService.swift
Due: unittests, macos, ios

Auto-save: KrakenService update
  .claude/THEA_CAPABILITY_PLAN_v3.md
  Shared/Intelligence/Financial/KrakenService.swift
Due: unittests, macos, ios

docs(ABG3): release notes draft + tag command for v1.6.0
  .claude/ABG3_RELEASE_NOTES_DRAFT.md
Due: none

Auto-save: PlaidService + YNABService uncommitted changes (stop-hook catch)
  Shared/Intelligence/Financial/PlaidService.swift
  Shared/Intelligence/Financial/YNABService.swift
Due: unittests, macos, ios

Auto-save: YNABService final uncommitted changes (stop-hook clean)
  Shared/Intelligence/Financial/YNABService.swift
Due: unittests, macos, ios

fix(ABF3): wire JournalingSuggestionsService into TheaiOSApp — AAF3-2 singleton init (picker-driven, iOS 17.2+)
  iOS/TheaiOSApp.swift
Due: unittests, ios

fix(ABE3): swiftlint 0 violations — move periphery:ignore before doc comments in ShazamKitService + TabularDataAnalyzer
  Shared/Intelligence/Audio/ShazamKitService.swift
  Shared/Intelligence/Data/TabularDataAnalyzer.swift
Due: unittests, macos, ios

fix(ABD3): add periphery:ignore to Wave 10 services — 93 unused declarations annotated
  Shared/Intelligence/Financial/YNABService.swift
  Shared/Intelligence/GitHub/GitHubIntelligenceService.swift
  Shared/Intelligence/Travel/TravelIntelligenceService.swift
Due: unittests, macos, ios

Auto-save: ShazamKitService minor update from parallel stream
  Shared/Intelligence/Audio/ShazamKitService.swift
Due: unittests, macos, ios

Path conditions:
  unittests: any of: Shared/, Platforms/, iOS/, macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  macos: any of: Shared/, macOS/, Platforms/macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  ios: any of: Shared/, iOS/, Platforms/iOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
