Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

Auto-save: Exclude PatternLearning folder with conflicts
  project.yml
Due: none

Auto-save: Exclude AI/Context folder with conflicts
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: Exclude more files with conflicts
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: Exclude Advanced settings and ConfidenceIndicator views
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: Exclude PhaseProgressView.swift to fix build errors
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: Fix notification type mismatches and exclude broken files
  Shared/Notifications/NotificationPayload.swift
  Shared/Notifications/NotificationPreferences.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: unittests, macos, ios

Auto-save: Rename UserAction to BehaviorUserAction and add more exclusions
  Shared/Intelligence/LifeMonitoring/BehaviorPatternAnalyzer.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: unittests, macos, ios

Auto-save: Exclude more files with duplicate type definitions
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: Add placeholder views for excluded settings and exclude MailIntegration
  Thea.xcodeproj/project.pbxproj
  macOS/Views/MacSettingsView.swift
  project.yml
Due: unittests, macos

Auto-save: Fix priority type to use CrossDeviceNotificationPriority consistently
  Shared/Notifications/NotificationPayload.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: Fix CrossDeviceNotificationPriority to use String rawValue and add interruptionLevel
  Shared/Notifications/CrossDeviceNotificationRouter.swift
  Shared/Notifications/NotificationPayload.swift
Due: unittests, macos, ios

Auto-save: Rename SuggestionChip and ResponseLength to avoid duplicates
  Shared/Features/Communication/CommunicationAssistant.swift
  macOS/Views/ContentView.swift
Due: unittests, macos, ios

Auto-save: Exclude IntentAnticipator.swift to fix type conflicts
  project.yml
Due: none

Auto-save: Add IntentAnticipatorStub as placeholder for excluded IntentAnticipator
  Shared/Intelligence/Anticipatory/IntentAnticipatorStub.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: Exclude more files with MemoryManager dependency
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: Exclude MusicIntegration due to missing AppIntegrationModule
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: Exclude SystemIntegration due to missing AppIntegrationModule
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: Exclude MultiModelConsensus due to missing Confidence types
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: Update IntentAnticipatorStub with required methods and exclude AdaptivePromptEngine
  Shared/Intelligence/Anticipatory/IntentAnticipatorStub.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: unittests, macos, ios

Auto-save: Remove duplicate PredictedUserIntent from stub
  Shared/Intelligence/Anticipatory/IntentAnticipatorStub.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Path conditions:
  unittests: any of: Shared/, Platforms/, iOS/, macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  macos: any of: Shared/, macOS/, Platforms/macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  ios: any of: Shared/, iOS/, Platforms/iOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
