Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

codecov.yml:

# CodeCov Configuration for Thea
# Version: 1.0.0
# Last Updated: January 16, 2026
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# ============================================
# COVERAGE SETTINGS
# ============================================
coverage:
  # Precision of coverage percentage (2 decimal places)
  precision: 2

  # Round coverage percentage
  round: down

  # Range for coverage (red to green)
  range: "50...90"

  # Status checks
  status:
    # Project-level coverage
    project:
      default:
        # Target coverage percentage
        target: auto
        # Threshold for coverage decrease allowed
        threshold: 1%
        # Only check coverage on files that were changed
        only_changed_files: false
        # Compare against base branch
        base: auto
        # Flags to include (if using multiple coverage uploads)
        flags:
          - unittests

      # Separate status for each platform
      macos:
        target: auto
        threshold: 2%
        flags:
          - macos

      ios:
        target: auto
        threshold: 2%
        flags:
          - ios

    # Patch-level coverage (only changed lines)
    patch:
      default:
        target: auto
        threshold: 5%
        only_changed_files: true

# ============================================
# PARSING SETTINGS
# ============================================
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      macro: false
      method: false

# ============================================
# FLAGS
# ============================================
flags:
  unittests:
    paths:
      - Shared/
      - Platforms/
      - iOS/
      - macOS/
    carryforward: true
    after_n_builds: 1

  macos:
    paths:
      - Shared/
      - macOS/
      - Platforms/macOS/
    carryforward: true

  ios:
    paths:
      - Shared/
      - iOS/
      - Platforms/iOS/
    carryforward: true

# ============================================
# IGNORE PATHS
# ============================================
ignore:
  - "build/**/*"
  - ".build/**/*"
  - "DerivedData/**/*"
  - "Pods/**/*"
  - "Carthage/**/*"
  - "SourcePackages/**/*"
  - "Tests/**/*"
  - "**/*Tests.swift"
  - "**/*Test.swift"
  - "**/Preview Content/**/*"
  - "*.generated.swift"
  - "Package.swift"

# ============================================
# COMMENT SETTINGS
# ============================================
comment:
  # Layout of the comment
  layout: "reach,diff,flags,files,footer"

  # Comment behavior
  behavior: default

  # Require changes for comment
  require_changes: false

  # Show project coverage
  require_base: false
  require_head: true

  # Branches to comment on
  branches:
    - main
    - develop
    - "feature/*"
    - "release/*"

# ============================================
# GITHUB CHECKS
# ============================================
github_checks:
  # Show annotations on files in PR
  annotations: true

# ============================================
# NOTIFICATIONS
# ============================================
# Configure if you want Slack/email notifications
# notify:
#   slack:
#     default:
#       url: "https://hooks.slack.com/services/..."
#       threshold: 1%
#       only_pulls: false
#       branches:
#         - main

Auto-save: Set ONLY_ACTIVE_ARCH=YES for Release — arm64 only, MLX requires it
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: Add ARCHS=arm64 for macOS CI builds — mlx-audio requires arm64
  .github/workflows/ci.yml
Due: none

Auto-save: Revert mlx-audio-swift to branch: main
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: Remove self-deprecation annotations from MapsIntegration and MCP tools — prevents warning propagation
  Shared/Integrations/Apple/MapsIntegration.swift
  Shared/MCP/THEAMCPServer+ToolExecution.swift
Due: unittests, macos, ios

Auto-save: Update thea-ultimate-runner v3.0 — 10 agents covering implementation, UX/UI, CI, compliance
  .claude/thea-ultimate-runner.sh
Due: none

Auto-save: Restore PromptOptimizer and WindowManager setup in TheamacOSApp — remove TODOs
  macOS/TheamacOSApp.swift
Due: unittests, macos

Auto-save: Add coordinates to MCP location search results — remove MKMapItem migration TODOs
  Shared/MCP/THEAMCPServer+ToolExecution.swift
Due: unittests, macos, ios

Auto-save: UX/UI — Replace hard-coded colors in MessageBubble with semantic design tokens
  .github/workflows/ci.yml
  Shared/UI/Components/MessageBubble.swift
Due: unittests, macos, ios

Auto-save: Fix CI SwiftLint — update cache key to 0.63.2, handle exit code 2 gracefully
  .github/workflows/ci.yml
Due: none

Auto-save: UX/UI — Replace hard-coded colors in ChatInputView with semantic design tokens
  Shared/Integrations/ContextExtractors/XcodeContextExtractor.swift
  Shared/UI/Components/ChatInputView.swift
Due: unittests, macos, ios

Auto-save: Fix E2E build — add ENABLE_DEBUG_DYLIB=NO to produce real executable
  .github/workflows/e2e-tests.yml
Due: none

Auto-save: Fix Release workflow — add ARCHS=arm64 for macOS builds (Float16)
  .github/workflows/release.yml
Due: none

Auto-save: Replace TODO in SelfEvolutionEngine template with real execute() method
  Shared/SelfEvolution/SelfEvolutionEngine.swift
Due: unittests, macos, ios

Auto-save: Replace TODOs in MCPServerGenerator templates with descriptive comments
  Shared/APIBuilder/MCPServerGenerator.swift
Due: unittests, macos, ios

Auto-save: UX/UI — Fix tvOS hard-coded colors, add accessibility labels, use semantic design tokens
  Shared/Integrations/Apple/MapsIntegration.swift
  TV/TheaTizen/js/thea-client.js
  TV/TheaTizen/js/tv-navigation.js
  thea-tizen/src/components/ui/FocusableCard.tsx
  thea-tizen/src/config/constants.ts
  thea-tizen/src/pages/SettingsPage.tsx
  tvOS/Views/TVEnhancedHomeView+Chat.swift
  tvOS/Views/TVEnhancedHomeView+Settings.swift
  tvOS/Views/TVEnhancedHomeView.swift
Due: unittests, macos, ios

Auto-save: Update all 4 PrivacyInfo.xcprivacy manifests for April 2026 compliance
  Shared/UI/Views/WelcomeView.swift
  iOS/PrivacyInfo.xcprivacy
  macOS/PrivacyInfo.xcprivacy
  tvOS/PrivacyInfo.xcprivacy
  watchOS/PrivacyInfo.xcprivacy
Due: unittests, macos, ios

Auto-save: Fix DocumentScannerView Coordinator — use @preconcurrency protocol conformance for Release builds
  Shared/UI/Views/DocumentScannerView.swift
Due: unittests, macos, ios

Auto-save: Wire financial/assessment/nutrition/display/income modules in IntegrationsManager — replace placeholders
  Shared/Core/Managers/IntegrationsManager.swift
Due: unittests, macos, ios

Auto-save: UX/UI — Apply glass toolbar to ChatView, fix iOS chat input invisible placeholder
  Shared/UI/Views/ChatView.swift
Due: unittests, macos, ios

Auto-save: Implement FeatureFlags iCloud KVS sync — replace remote config placeholder
  Shared/Core/Features/FeatureFlags.swift
Due: unittests, macos, ios

Auto-save: Implement driving detection in AmbientIntelligence + calendar conflict prediction in PredictiveLifeEngine
  Shared/Intelligence/Anticipatory/AmbientIntelligenceSystem.swift
  Shared/Intelligence/LifeMonitoring/PredictiveLifeEngine.swift
Due: unittests, macos, ios

Auto-save: Fix all 53 @typescript-eslint/no-unused-vars warnings across thea-tizen src
  Shared/Integrations/Apple/MapsIntegration.swift
  Shared/Integrations/IntegrationCoordinator.swift
  thea-tizen/src/components/chat/MessageBubble.tsx
  thea-tizen/src/components/dashboard/TheaDashboard.tsx
  thea-tizen/src/components/search/VoiceTorrentSearch.tsx
  thea-tizen/src/components/settings/AutoDownloadSettings.tsx
  thea-tizen/src/components/settings/NordVPNSettings.tsx
  thea-tizen/src/components/settings/ServiceConfigPanel.tsx
  thea-tizen/src/components/settings/UnifiedSettings.tsx
  thea-tizen/src/components/trakt/TraktDashboard.tsx
  thea-tizen/src/pages/ChatPage.tsx
  thea-tizen/src/pages/SmartHubPage.tsx
  thea-tizen/src/services/ai/WatchAssistant.ts
  thea-tizen/src/services/arr/SonarrRadarrService.ts
  thea-tizen/src/services/automation/AutoDownloadService.ts
  thea-tizen/src/services/automation/EpisodeMonitorService.ts
  thea-tizen/src/services/automation/ReleaseIntelligenceService.ts
  thea-tizen/src/services/automation/ReleaseResearchService.ts
  thea-tizen/src/services/core/TheaOrchestrator.ts
  thea-tizen/src/services/downloads/DownloadMonitorService.ts
  thea-tizen/src/services/homeassistant/HomeAssistantService.ts
  thea-tizen/src/services/hub/SmartHubService.ts
  thea-tizen/src/services/media/MediaAutomationService.ts
  thea-tizen/src/services/plex/PlexService.ts
  thea-tizen/src/services/prediction/ContentPredictionService.ts
  thea-tizen/src/services/search/AITorrentSearchService.ts
  thea-tizen/src/services/streaming/SmartWatchService.ts
  thea-tizen/src/services/streaming/StreamingAvailabilityService.ts
  thea-tizen/src/services/streaming/WatchAvailabilityService.ts
  thea-tizen/src/services/trakt/TraktCalendarService.ts
  thea-tizen/src/stores/chatStore.ts
Due: unittests, macos, ios

Auto-save: UX/UI — Replace hard-coded blue with semantic theaInfo in BranchNavigator
  Shared/UI/Components/BranchNavigator.swift
Due: unittests, macos, ios

Auto-save: Clean up router fallback comments — rename placeholder vars, clarify fallback reasoning
  Shared/Intelligence/Routing/ModelRouter.swift
  Shared/Intelligence/Routing/SmartModelRouter+Core.swift
Due: unittests, macos, ios

Auto-save: Update APRIL_2026_COMPLIANCE.md with complete audit results
  .claude/APRIL_2026_COMPLIANCE.md
Due: none

Auto-save: Migrate MapsIntegration to macOS 26 MapKit APIs — fix all deprecation warnings
  Shared/UI/Components/ModelSelectorView.swift
  Shared/UI/Views/DocumentScannerView.swift
  Shared/UI/Views/Settings/AutonomousTasks/AutonomousTaskSections.swift
  Shared/UI/Views/Settings/LocalModels/LocalModelsManagerViews.swift
  Shared/UI/Views/Settings/LocalModels/LocalModelsRecommendationsViews.swift
  Shared/UI/Views/Settings/ModelSettingsViewSections.swift
  Shared/UI/Views/Settings/Orchestrator/OrchestratorMetricsSections.swift
  Shared/UI/Views/Settings/Orchestrator/OrchestratorTaskRoutingSections.swift
  Shared/UI/Views/Settings/Privacy/PrivacyProtectionSections.swift
  Shared/UI/Views/Settings/PrivacySettingsView.swift
  Shared/UI/Views/Settings/SyncSettingsViewSections.swift
  Shared/UI/Views/Terminal/TerminalView.swift
  Shared/UI/Views/WebClipperView.swift
  thea-tizen/src/pages/ChatPage.tsx
  thea-tizen/src/pages/SmartHubPage.tsx
Due: unittests, macos, ios

Auto-save: UX/UI — Add accessibility labels to DocumentScanner, WebClipper, ModelSelector
  Shared/UI/Components/ModelSelectorView.swift
Due: unittests, macos, ios

Auto-save: Replace hard-coded colors in additional settings views + SmartHubPage useCallback fix
  Shared/Intelligence/LifeMonitoring/LifeMonitoringCoordinator.swift
  Shared/UI/Views/Settings/ModelSettingsView.swift
  Shared/UI/Views/Settings/Orchestrator/OrchestratorMetricsSections.swift
  Shared/UI/Views/Settings/Orchestrator/OrchestratorOverviewSections.swift
  Tests/IntegrationTests/FinancialServiceTests.swift
  thea-tizen/src/pages/SmartHubPage.tsx
Due: unittests, macos, ios

Auto-save: Fix Actionability enum — .actionRequired → .recommended
  Shared/Intelligence/LifeMonitoring/PredictiveLifeEngine.swift
Due: unittests, macos, ios

Auto-save: Fix iOS Release build errors — add UTType import, guard glassToolbar for macOS, fix Sendable closure, fix MKReverseGeocodingRequest actor isolation
  Extensions/MessagesExtension/MessagesViewController.swift
  Shared/AI/BrowserAutomation/BrowserAutomation.swift
  Shared/Integrations/Apple/MapsIntegration.swift
  Shared/Monitoring/GDPRDataExporter.swift
  Shared/Monitoring/MonitoringService.swift
  Shared/UI/Views/ChatView.swift
  Shared/UI/Views/DocumentScannerView.swift
  Shared/UI/Views/Settings/IntegrationsSettingsView.swift
  Shared/UI/Views/Settings/Orchestrator/OrchestratorOverviewSections.swift
  Shared/UI/Views/Settings/OrchestratorSettingsViewSections.swift
  Shared/UI/Views/Settings/ResourceAllocationSettingsView.swift
  thea-tizen/src/components/search/VoiceTorrentSearch.tsx
  thea-tizen/src/components/ui/ColorButtonHints.tsx
  thea-tizen/src/pages/SmartHubPage.tsx
Due: unittests, macos, ios

Auto-save: Implement keyboard AI actions + predictions, fix placeholder comments in MonitoringService/GDPRExporter/BrowserAutomation/Messages
  Keyboard/TheaKeyboardController.swift
Due: none

Auto-save: Update thea-tizen dist/ build output — 0 errors, 0 warnings
  thea-tizen/dist/assets/index-BmtGYadW.js
  thea-tizen/dist/assets/index-CFt-ur0J.js
  thea-tizen/dist/index.html
Due: none

Auto-save: Replace hard-coded colors with semantic design tokens in settings views
  Shared/UI/Views/Settings/AIProvidersSettingsView.swift
  Shared/UI/Views/Settings/CoworkSettingsView.swift
  Shared/UI/Views/Settings/OrchestratorSettingsViewSections.swift
  Shared/UI/Views/Settings/PrivacyFirewallDashboardView.swift
  Shared/UI/Views/Settings/VoiceSettingsView.swift
Due: unittests, macos, ios

Auto-save: Add theaSuccess/Warning/Error/Info to ShapeStyle extension
  Shared/UI/Theme/Colors.swift
Due: unittests, macos, ios

Auto-save: Add ShapeStyle extensions for semantic colors (theaSuccess, theaWarning, theaError, theaInfo)
  Shared/UI/Views/Settings/OrchestratorSettingsView.swift
  Shared/UI/Views/Settings/PrivacyFirewallDashboardView.swift
  tvOS/Theme/TVColors.swift
Due: unittests, macos, ios

Auto-save: Add TVColors.swift — design tokens for tvOS target
  Shared/UI/Views/Settings/OrchestratorSettingsView.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: Fix remaining hard-coded colors in OrchestratorSettingsView + PrivacyFirewallDashboardView
  Shared/UI/Views/Settings/OrchestratorSettingsView.swift
  Shared/UI/Views/Settings/PrivacyFirewallDashboardView.swift
Due: unittests, macos, ios

Auto-save: Replace hard-coded .red/.orange/.green with semantic theaError/theaWarning/theaSuccess in PrivacyFirewallDashboardView
  Shared/UI/Views/Settings/PrivacyFirewallDashboardView.swift
Due: unittests, macos, ios

Auto-save: Replace hard-coded Color.green/red/orange/blue with semantic theaSuccess/theaError/theaWarning/theaInfo in 10 Settings views
  Shared/UI/Views/Settings/BackupSettingsView.swift
  Shared/UI/Views/Settings/HomeIntelligenceView.swift
  Shared/UI/Views/Settings/SubscriptionSettingsView.swift
  Shared/UI/Views/Settings/TerminalSettingsView.swift
  Shared/UI/Views/Settings/WakeWordSettingsView.swift
Due: unittests, macos, ios

Auto-save: Replace hard-coded Color.green/red/orange/blue with semantic theaSuccess/theaError/theaWarning/theaInfo tokens across 8 settings views
  Shared/UI/Views/Settings/SyncSettingsView.swift
  Shared/UI/Views/Settings/WakeWordSettingsView.swift
Due: unittests, macos, ios
