Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

Auto-save: Add iOS/watchOS/tvOS clipboard views, remove duplicate, fix trailing closure
  Shared/Core/Managers/SettingsManager.swift
  Shared/UI/Views/Clipboard/TheaClipWindowController.swift
  iOS/Views/TheaClipHistoryView.swift
  iOS/Views/TheaClipRowView.swift
  macOS/Views/TheaClipPanelView.swift
  tvOS/Views/TheaClipRelayView.swift
  watchOS/Views/TheaClipWatchView.swift
Due: unittests, macos, ios

TheaClip: Paste.app-equivalent clipboard manager for Thea
  Shared/Core/Managers/SettingsManager.swift
  Thea.xcodeproj/project.pbxproj
  iOS/Views/TheaClipHistoryView.swift
  tvOS/Views/TheaClipRelayView.swift
  watchOS/Views/TheaClipWatchView.swift
Due: unittests, macos, ios

Auto-save: Add TheaClipSyncService for live iCloud clipboard sync
  Shared/Analytics/AnalyticsManager.swift
  Shared/Core/Managers/ClipboardHistoryManager.swift
  Shared/Localization/LocalizationManager.swift
  Shared/Sync/TheaClipSyncService.swift
  Thea.xcodeproj/project.pbxproj
  macOS/TheamacOSApp.swift
Due: unittests, macos, ios

Auto-save: xcodegen project regeneration
  Shared/UI/Views/PrivacyControlsView.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Add AIProviderConfigTests (11) and TrackingModelsTests (21) — test expansion
  Tests/CoreTests/ModelTests/AIProviderConfigTests.swift
  Tests/CoreTests/ModelTests/TrackingModelsTests.swift
  Thea.xcodeproj/project.pbxproj
Due: none

Add FinancialModelsTests (25), PromptEngineeringModelsTests (23), IndexedFileTests (20) — 448 tests
  Tests/CoreTests/ModelTests/FinancialModelsTests.swift
  Tests/CoreTests/ModelTests/IndexedFileTests.swift
  Tests/CoreTests/ModelTests/PromptEngineeringModelsTests.swift
Due: none

Fix trailing comma in IndexedFileTests
  Tests/CoreTests/ModelTests/IndexedFileTests.swift
Due: none

Add Identifiable conformance to 15 @Model classes, use shared JSON coders in Message.swift
  Shared/Core/Models/Message.swift
  Shared/Core/Models/PromptEngineeringModels.swift
  Shared/Core/Models/TheaClipModels.swift
  Shared/Core/Models/TrackingModels.swift
Due: unittests, macos, ios

Auto-save: Add logger privacy annotations, regenerate Xcode project
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: Fix VisionIntelligence unused result warning, add accessibility labels to PrivacyControlsView
  Shared/AI/Vision/VisionIntelligence.swift
  Shared/UI/Views/PrivacyControlsView.swift
Due: unittests, macos, ios

Auto-save: Implement LifeTrackingView dashboard with health/activity/insights, wire into macOS app
  Shared/UI/Views/Tracking/LifeTrackingView.swift
  macOS/TheamacOSApp.swift
Due: unittests, macos, ios

Auto-save: xcodegen regeneration after cherry-pick merge
  Shared/UI/Views/Tracking/LifeTrackingView.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Fix LifeTrackingView: rename StatCard to LifeStatCard, fix LifeInsight sort key
  Shared/UI/Views/Tracking/LifeTrackingView.swift
Due: unittests, macos, ios

Add accessibility labels to ChatView search bar and send button
  Shared/UI/Views/ChatView.swift
Due: unittests, macos, ios

Add TheaClipModelsTests (27) and ProjectTests (18) — 493 tests total
  Tests/CoreTests/ModelTests/ProjectTests.swift
  Tests/CoreTests/ModelTests/TheaClipModelsTests.swift
Due: none

Add accessibility modifiers to 4 high-impact views
  Shared/UI/Views/Settings/AdvancedSettingsView.swift
  Shared/UI/Views/SettingsView.swift
  Shared/UI/Views/Terminal/TerminalView.swift
  Shared/UI/Views/UnifiedDashboardView.swift
Due: unittests, macos, ios

Implement project rename feature in ContentView
  macOS/Views/ContentView.swift
Due: unittests, macos

Add accessibility to SidebarView search and conversation indicators
  Shared/UI/Views/SidebarView.swift
Due: unittests, macos, ios

Expand ConversationTests with 10 new tests — 503 total
  Tests/CoreTests/ModelTests/ConversationTests.swift
Due: none

Add accessibility to DeviceSwitcherView device rows and sync status
  Shared/UI/Views/DeviceSwitcherView.swift
Due: unittests, macos, ios

Fix SwiftLint type_name violations: rename iOS-prefixed types to IOS-prefixed
  .v1-archive/iOS/Views/iOSSettingsView.swift
  iOS/Views/Settings/iOSAISettingsSection.swift
  iOS/Views/Settings/iOSAdvancedSection.swift
  iOS/Views/Settings/iOSAutomationSection.swift
  iOS/Views/Settings/iOSIntegrationsSection.swift
  iOS/Views/Settings/iOSMemorySection.swift
  iOS/Views/Settings/iOSMigrationSection.swift
  iOS/Views/Settings/iOSPermissionsSection.swift
  iOS/Views/Settings/iOSPrivacySection.swift
  iOS/Views/Settings/iOSSyncSection.swift
  iOS/Views/iOSSettingsView.swift
Due: unittests, ios

Add SendableValue, FeatureFlags, and ContextManager test suites
  Tests/CoreTests/CoreUtilTests/ContextManagerTests.swift
  Tests/CoreTests/CoreUtilTests/FeatureFlagTests.swift
  Tests/CoreTests/CoreUtilTests/SendableValueTests.swift
Due: none

Fix test placement: move CoreUtil tests to Xcode-only directory
  Tests/CoreTests/ModelTests/AIModelAdvancedTests.swift
  Tests/CoreTests/ModelTests/MessageBranchingTests.swift
  Tests/CoreTests/ModelTests/ModelPerformanceAdvancedTests.swift
  Tests/CoreTests/ModelTests/PlanStateAdvancedTests.swift
  Tests/CoreUtilTests/ContextManagerTests.swift
  Tests/CoreUtilTests/FeatureFlagTests.swift
  Tests/CoreUtilTests/SendableValueTests.swift
  Thea.xcodeproj/project.pbxproj
Due: none

Implement DisplayProfileManager persistence via UserDefaults
  Shared/Integrations/Display/Services/DisplayProfileManager.swift
  Tests/CoreTests/ModelTests/ConversationAdvancedTests.swift
  Tests/CoreTests/ModelTests/PlanStateAdvancedTests.swift
Due: unittests, macos, ios

Add accessibility to 5 more views: CoworkProgress, Skills, Monitoring, Permissions, AIProviders
  Shared/UI/Views/Cowork/CoworkProgressView.swift
  Shared/UI/Views/Cowork/CoworkSkillsView.swift
  Shared/UI/Views/Settings/AIProvidersSettingsView.swift
  Shared/UI/Views/Settings/MonitoringSettingsView.swift
  Shared/UI/Views/Settings/PermissionsSettingsView.swift
  Tests/CoreTests/ModelTests/FinancialModelsAdvancedTests.swift
  Tests/CoreTests/ModelTests/ProjectAdvancedTests.swift
Due: unittests, macos, ios

Add TrackingModels advanced tests (21 tests) — 703 total
  Tests/CoreTests/ModelTests/TrackingModelsAdvancedTests.swift
Due: none

Auto-save: Add TheaClipHash tests (24 tests) — content hash, content type, persistence
  Tests/CoreTests/ModelTests/TheaClipHashTests.swift
Due: none

Add accessibility to 7 more views: CoworkSidebar, CoworkQueue, CoworkArtifacts, IntegrationsSettings, BackupSettings
  Shared/UI/Views/Cowork/CoworkArtifactsView.swift
  Shared/UI/Views/Cowork/CoworkQueueView.swift
  Shared/UI/Views/Cowork/CoworkSidebarView.swift
  Shared/UI/Views/Settings/BackupSettingsView.swift
  Shared/UI/Views/Settings/IntegrationsSettingsView.swift
  Tests/CoreTests/ModelTests/TheaClipHashTests.swift
Due: unittests, macos, ios

Add accessibility to CoworkView: tab bar icons, status badge, selected traits
  Shared/UI/Views/Cowork/CoworkView.swift
Due: unittests, macos, ios

Auto-save: Add CloudKitService tests (15 tests)
  Tests/IntegrationTests/CloudKitServiceTests.swift
Due: none

Auto-save: Add TaskClassifier tests (20 tests)
  Tests/IntegrationTests/TaskClassifierTests.swift
Due: none

Auto-save: Add ProviderRegistry tests (13 tests)
  Tests/IntegrationTests/ProviderRegistryTests.swift
Due: none

Auto-save: Add Verification Pipeline tests (24 tests)
  Tests/IntegrationTests/VerificationPipelineTests.swift
Due: none

Auto-save: Add OutboundPrivacyGuard tests (19 tests)
  Tests/IntegrationTests/OutboundPrivacyGuardTests.swift
Due: none

Auto-save: Add AI Provider tests (20 tests)
  Tests/IntegrationTests/AIProviderTests.swift
Due: none

Auto-save: Add Network Resilience tests (27 tests)
  Tests/IntegrationTests/NetworkResilienceTests.swift
Due: none

Add PII pattern and privacy type tests (75 new standalone tests)
  Tests/CoreTests/ModelTests/PIIPatternTests.swift
  Tests/CoreTests/ModelTests/PrivacyTypesTests.swift
Due: none

Auto-save: Add TaskTypesProtocol tests (18 tests) and OfflineQueue advanced tests (17 tests)
  Tests/CoreTests/FoundationTests/TaskTypesProtocolTests.swift
  Tests/CoreTests/ServiceTests/OfflineQueueAdvancedTests.swift
  Thea.xcodeproj/project.pbxproj
Due: none

Fix PrivacyTypesTests: make TestPolicy private to match private StrictnessLevel
  Tests/CoreTests/ModelTests/PrivacyTypesTests.swift
  Tests/CoreTests/ServiceTests/OfflineQueueAdvancedTests.swift
Due: none

Auto-save: linter fix for PrivacyTypesTests access levels
  Tests/CoreTests/ModelTests/PrivacyTypesTests.swift
Due: none

Path conditions:
  unittests: any of: Shared/, Platforms/, iOS/, macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  macos: any of: Shared/, macOS/, Platforms/macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  ios: any of: Shared/, iOS/, Platforms/iOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
