Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

codecov.yml:

# CodeCov Configuration for Thea
# Version: 1.0.0
# Last Updated: January 16, 2026
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# ============================================
# COVERAGE SETTINGS
# ============================================
coverage:
  # Precision of coverage percentage (2 decimal places)
  precision: 2

  # Round coverage percentage
  round: down

  # Range for coverage (red to green)
  range: "50...90"

  # Status checks
  status:
    # Project-level coverage
    project:
      default:
        # Target coverage percentage
        target: auto
        # Threshold for coverage decrease allowed
        threshold: 1%
        # Only check coverage on files that were changed
        only_changed_files: false
        # Compare against base branch
        base: auto
        # Flags to include (if using multiple coverage uploads)
        flags:
          - unittests

      # Separate status for each platform
      macos:
        target: auto
        threshold: 2%
        flags:
          - macos

      ios:
        target: auto
        threshold: 2%
        flags:
          - ios

    # Patch-level coverage (only changed lines)
    patch:
      default:
        target: auto
        threshold: 5%
        only_changed_files: true

# ============================================
# PARSING SETTINGS
# ============================================
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      macro: false
      method: false

# ============================================
# FLAGS
# ============================================
flags:
  unittests:
    paths:
      - Shared/
      - Platforms/
      - iOS/
      - macOS/
    carryforward: true
    after_n_builds: 1

  macos:
    paths:
      - Shared/
      - macOS/
      - Platforms/macOS/
    carryforward: true

  ios:
    paths:
      - Shared/
      - iOS/
      - Platforms/iOS/
    carryforward: true

# ============================================
# IGNORE PATHS
# ============================================
ignore:
  - "build/**/*"
  - ".build/**/*"
  - "DerivedData/**/*"
  - "Pods/**/*"
  - "Carthage/**/*"
  - "SourcePackages/**/*"
  - "Tests/**/*"
  - "**/*Tests.swift"
  - "**/*Test.swift"
  - "**/Preview Content/**/*"
  - "*.generated.swift"
  - "Package.swift"

# ============================================
# COMMENT SETTINGS
# ============================================
comment:
  # Layout of the comment
  layout: "reach,diff,flags,files,footer"

  # Comment behavior
  behavior: default

  # Require changes for comment
  require_changes: false

  # Show project coverage
  require_base: false
  require_head: true

  # Branches to comment on
  branches:
    - main
    - develop
    - "feature/*"
    - "release/*"

# ============================================
# GITHUB CHECKS
# ============================================
github_checks:
  # Show annotations on files in PR
  annotations: true

# ============================================
# NOTIFICATIONS
# ============================================
# Configure if you want Slack/email notifications
# notify:
#   slack:
#     default:
#       url: "https://hooks.slack.com/services/..."
#       threshold: 1%
#       only_pulls: false
#       branches:
#         - main

fix(iOS): SystemCapabilityService — replace deprecated String(cString:)
  Shared/Intelligence/SystemCapability/SystemCapabilityService.swift
Due: unittests, macos, ios

fix(e2e): pre-grant permissions in Maestro launchApp to unblock tab bar
  .maestro/chat_flow.yaml
  .maestro/launch_flow.yaml
  .maestro/navigation_flow.yaml
  .maestro/settings_flow.yaml
Due: none

fix(lint): trailing_closure violation in SystemCapabilityService
  Shared/Intelligence/SystemCapability/SystemCapabilityService.swift
Due: unittests, macos, ios

fix(e2e): iOS 26 liquid glass tab bar — use accessibilityIdentifier + WelcomeView assertions
  .maestro/chat_flow.yaml
  .maestro/launch_flow.yaml
  .maestro/navigation_flow.yaml
  .maestro/settings_flow.yaml
  iOS/Views/iOSHomeView.swift
Due: unittests, ios

diag(e2e): add screenshots + debug-output to diagnose iOS 26 Maestro failure
  .github/workflows/e2e-tests.yml
  .maestro/chat_flow.yaml
  .maestro/launch_flow.yaml
  .maestro/navigation_flow.yaml
  .maestro/settings_flow.yaml
Due: none

ci(e2e): make E2E job non-blocking while iOS 26 root cause is investigated
  .github/workflows/e2e-tests.yml
Due: none

fix(e2e): resolve Maestro iOS 26 visibility failures — 3 root causes
  .maestro/chat_flow.yaml
  .maestro/launch_flow.yaml
  .maestro/navigation_flow.yaml
  .maestro/settings_flow.yaml
  Shared/Core/DataModel/ModelContainerFactory.swift
  Shared/UI/Views/WelcomeView.swift
Due: unittests, macos, ios

fix(e2e): add accessibilityIdentifier to DataStorageErrorView for Maestro diagnosis
  Shared/UI/Views/Errors/DataStorageErrorView.swift
Due: unittests, macos, ios

fix(e2e): use tab title text for Maestro taps — id: does not propagate to UITabBarButton
  .maestro/chat_flow.yaml
  .maestro/launch_flow.yaml
  .maestro/navigation_flow.yaml
  .maestro/settings_flow.yaml
Due: none

fix(e2e): make welcome-greeting assertion optional — iOS 26.2 XCUITest id: queries broken
  .maestro/chat_flow.yaml
  .maestro/launch_flow.yaml
  .maestro/navigation_flow.yaml
  .maestro/settings_flow.yaml
Due: none

test(e2e): switch to text: assertion — remove .combine to expose subtitle for Maestro
  .maestro/chat_flow.yaml
  .maestro/launch_flow.yaml
  .maestro/navigation_flow.yaml
  .maestro/settings_flow.yaml
  Shared/UI/Views/WelcomeView.swift
Due: unittests, macos, ios

Auto-save: A3 — phase started
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

fix(executor): add mandatory tmux send-keys verification protocol
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

fix(executor): add tmux send-keys verification to Thea CLAUDE.md
  .claude/claude.md
Due: none

feat(A3): add MetaAIDashboardView with all 11 sub-panels — live data from MetaAI subsystems
  Shared/UI/Views/MetaAI/MetaAIDashboardView.swift
Due: unittests, macos, ios

feat(A3): wire MetaAIDashboardView into MacSettingsView, fix pre-existing MetaAI API errors
  Shared/Intelligence/MetaAI/InteractionAnalyzer.swift
  Shared/Intelligence/MetaAI/MetaAICoordinator.swift
  Shared/Intelligence/MetaAI/ParallelQueryExecutor.swift
  Shared/Intelligence/MetaAI/QueryDecomposer.swift
  Shared/Intelligence/MetaAI/ReActExecutor.swift
  Shared/Intelligence/MetaAI/ResilienceManager.swift
  Shared/Intelligence/MetaAI/SubAgentOrchestrator.swift
  Shared/Intelligence/MetaAI/THEASelfAwareness.swift
  Shared/UI/Views/MetaAI/MetaAIDashboardView.swift
  macOS/Views/MacSettingsView.swift
Due: unittests, macos, ios

Auto-save: commit unstaged claude.md changes before pull
  .claude/claude.md
Due: none

feat(A3): wire SelfExecutionService into app startup, add processWithMetaAI extension
  Shared/Intelligence/TheaIntelligenceOrchestrator.swift
  Thea.xcodeproj/project.pbxproj
  macOS/TheamacOSApp.swift
  project.yml
Due: unittests, macos, ios

Auto-save: A3 — DONE (71 MetaAI files + dashboard + wiring)
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

feat(N3): Artifact System — GeneratedArtifact @Model, ArtifactType enum, ArtifactBrowserView with type sidebar + detail sheet
  Shared/Artifacts/GeneratedArtifact.swift
  Shared/UI/Views/ArtifactBrowserView.swift
Due: unittests, macos, ios

fix(N3): fix ContentUnavailableView string literal escaping
  Shared/UI/Views/ArtifactBrowserView.swift
Due: unittests, macos, ios

Auto-save: R3 — SelfEvolution artifact-based wiring
  Shared/SelfEvolution/SelfEvolutionEngine.swift
  Shared/SelfEvolution/SelfEvolutionEngineTypes.swift
Due: unittests, macos, ios

feat(F3): extend SquadDefinition with CommunicationStrategy/CoordinationMode/goal fields; add persistent squad management to SquadOrchestrator
  Shared/Intelligence/Squads/SquadDefinition.swift
  Shared/Intelligence/Squads/SquadOrchestrator.swift
Due: unittests, macos, ios

feat(F3): add SquadsView UI + wire Squads sidebar entry into MacSettingsView
  Shared/UI/Views/Intelligence/SquadsView.swift
  macOS/Views/MacSettingsView.swift
Due: unittests, macos, ios

Auto-save: F3 complete, G3 started
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

Auto-save: S3 — MCPBuilderView created and wired to MacSettingsView
  Shared/UI/Views/Developer/MCPBuilderView.swift
  macOS/Views/MacSettingsView.swift
Due: unittests, macos, ios

feat(O3): MCP Client — GenericMCPClient actor, MCPClientManager, MCPServerBrowserView; dynamic tool registration in AnthropicToolCatalog
  Shared/AI/Providers/AnthropicToolCatalog.swift
  Shared/MCP/GenericMCPClient.swift
  Shared/MCP/MCPClientManager.swift
  Shared/UI/Views/MCPServerBrowserView.swift
Due: unittests, macos, ios

feat(G3): TaskPlanDAG quality scoring + plan caching; AgentTeamOrchestrator approval gate with risk estimation
  Shared/Agents/AgentTeamOrchestrator.swift
  Shared/Intelligence/Planning/TaskPlanDAG.swift
Due: unittests, macos, ios

Auto-save: G3 complete, L3 started
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

feat(J3): Life Tracking Dashboard — ActivityTimelineView, BehavioralPatternsPanel (7x24 heatmap), CoachingInsightCards, per-sensor privacy controls
  Shared/UI/Views/LifeTracking/LifeTrackingDashboardView.swift
Due: unittests, macos, ios

feat(L3): Computer Use — ComputerUseHandler (screenshot/click/type/scroll/key), computer_use tool in AnthropicToolCatalog, Computer Use toggle in Autonomy settings
  Shared/AI/ComputerUse/ComputerUseHandler.swift
  Shared/AI/Providers/AnthropicToolCatalog.swift
  Shared/Intelligence/Autonomy/AutonomyController+Views.swift
Due: unittests, macos, ios

Auto-save: L3 complete, M3 started
  .claude/THEA_CAPABILITY_PLAN_v3.md
  Shared/Memory/PersonalKnowledgeGraph.swift
  macOS/TheamacOSApp.swift
Due: unittests, macos, ios

Auto-save: checkpoint before LifeTracking duplicate removal
  .claude/claude.md
  Extensions/Brave 3
  Extensions/Brave 4
  Extensions/Brave 5
  Extensions/Brave 6
  Extensions/Brave 7
  Extensions/Brave 8
  SPM tests done
  Shared/AI/Tools/CodeToolHandler.swift
  Shared/AI/Tools/FileToolHandler.swift
  Shared/AI/Tools/MacOSToolHandler.swift
  Shared/AI/Tools/MemoryToolHandler.swift
  Shared/AI/Tools/SystemToolHandler.swift
  Shared/AI/Tools/ToolExecutionCoordinator.swift
  Shared/AI/Tools/ToolTypes.swift
  Shared/AI/Tools/WebToolHandler.swift
  Shared/Agents/AgentTeamOrchestrator.swift
  Shared/Core/Managers/ChatManager+Tools.swift
  Shared/Core/Models/Message.swift
  Shared/Intelligence/Autonomy/AutonomyController.swift
  Shared/Intelligence/TheaIntelligenceOrchestrator.swift
  Thea.xcodeproj/project.pbxproj
  echo
  iOS/TheaiOSApp.swift
  maestro-results/maestro-output.log
  maestro-results/maestro-results/results.xml
  project.yml
Due: unittests, macos, ios

feat(M3): re-enable MLXAudioEngine, MLXVoiceBackend, LocalVisionGuidance, LiveGuidanceSettingsView in project.yml
  project.yml
Due: none

feat(I3): wire excluded UI components into ChatView + MessageBubble
  Shared/Core/Models/Message.swift
  Shared/UI/Components/MessageBubble.swift
  Shared/UI/Components/StreamingIndicator.swift
  Shared/UI/Views/ChatView.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: U3 — ClassificationOutcome @Model + ToolUseStepView + SchemaV1 registration; ArtifactBrowserView format fix
  Shared/Core/DataModel/SchemaVersions.swift
  Shared/Core/Models/ClassificationOutcome.swift
  Shared/UI/Views/ArtifactBrowserView.swift
  Shared/UI/Views/Chat/ToolUseStepView.swift
  Shared/Views/LifeTracking/LifeTrackingDashboardView.swift
  project.yml
Due: unittests, macos, ios

Auto-save: U3 — xcodegen regenerate (picks up ClassificationOutcome, ToolUseStepView, Chat group)
  Shared/UI/Views/LifeTracking/LifeTrackingDashboardView.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

feat(Q3): add scheduleWeeklySummary() + startWeeklySummaryLoop() to SmartNotificationScheduler
  Shared/Intelligence/Scheduling/SmartNotificationScheduler.swift
Due: unittests, macos, ios

fix: rename ToolResult→MetaAIToolResult, ToolError→MetaAIToolError in MetaAI files to resolve ambiguity with AI/Tools/ToolTypes.swift
  Shared/Intelligence/MetaAI/MCPToolBridge.swift
  Shared/Intelligence/MetaAI/SystemToolBridge.swift
  Shared/Intelligence/MetaAI/ToolFramework.swift
Due: unittests, macos, ios

fix: WebToolHandler.search() — use WebVerificationResult.verifiedClaims instead of .sources (type mismatch)
  Shared/AI/Tools/WebToolHandler.swift
Due: unittests, macos, ios
