Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

Auto-save: B-MLT2-5 — request-approve gate, task dedup, result cache, depth-aware budgets
  Shared/Intelligence/Orchestration/TheaAgentOrchestrator.swift
Due: unittests, macos, ios

Auto-save: Fix dictionary literal [] -> [:] in TheaAgentOrchestrator
  Shared/Intelligence/Orchestration/TheaAgentOrchestrator.swift
Due: unittests, macos, ios

Auto-save: Add MultiLayerDelegationTests.swift — 56 tests for B-MLT features
  Tests/CoreTests/ModelTests/MultiLayerDelegationTests.swift
Due: none

Auto-save: Extract orchestrator types to TheaAgentOrchestratorTypes.swift (450 lines < 500 limit)
  Shared/Intelligence/Orchestration/TheaAgentOrchestrator.swift
  Shared/Intelligence/Orchestration/TheaAgentOrchestratorTypes.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: Split B-MLT tests into two files for 500-line limit
  Tests/CoreTests/ModelTests/MultiLayerDelegationLogicTests.swift
  Tests/CoreTests/ModelTests/MultiLayerDelegationTests.swift
Due: none

Auto-save: Add SecurityGuardTests.swift — prompt injection, terminal security policy tests
  Tests/CoreTests/ModelTests/SecurityGuardTests.swift
Due: none

Auto-save: Add ThrottlingEngineTests.swift — throttle evaluation, delay, concurrency, deferral tests
  Tests/CoreTests/ModelTests/ThrottlingEngineTests.swift
Due: none

Auto-save: Add NotificationPayloadTypesTests.swift — priority, category, sound, quiet hours, delivery tests
  Tests/CoreTests/ModelTests/NotificationPayloadTypesTests.swift
Due: none

Auto-save: Add DeepLinkAndCodeValidationTests.swift — URL parsing, route matching, error categorization, accessibility tests
  Tests/CoreTests/ModelTests/DeepLinkAndCodeValidationTests.swift
Due: none

Auto-save: Fix test compilation — name collisions, access levels, error categorization order
  Tests/CoreTests/ModelTests/DeepLinkAndCodeValidationTests.swift
  Tests/CoreTests/ModelTests/NotificationPayloadTypesTests.swift
  Tests/CoreTests/ModelTests/SecurityGuardTests.swift
  Tests/CoreTests/ModelTests/ThrottlingEngineTests.swift
Due: none

Auto-save: Split terminal security tests from SecurityGuardTests.swift into TerminalSecurityPolicyTests.swift
  Tests/CoreTests/ModelTests/SecurityGuardTests.swift
  Tests/CoreTests/ModelTests/TerminalSecurityPolicyTests.swift
Due: none

Auto-save: Commit pending test files from previous session
  Tests/CoreTests/ModelTests/CodeValidationAndAccessibilityTests.swift
  Tests/CoreTests/ModelTests/DeepLinkAndCodeValidationTests.swift
Due: none

Auto-save: Add HealthAndBehavioralTypesTests, SafetyGuardrailsTypesTests, MissionOrchestratorExtendedTests — 175 new tests
  Tests/CoreTests/ModelTests/HealthAndBehavioralTypesTests.swift
  Tests/CoreTests/ModelTests/MissionOrchestratorExtendedTests.swift
  Tests/CoreTests/ModelTests/SafetyGuardrailsTypesTests.swift
Due: none

Auto-save: Add UnifiedIntelligenceHubTypesTests.swift — pattern types, combined score formula, blocker context, goals, delivery decisions
  Tests/CoreTests/ModelTests/UnifiedIntelligenceHubTypesTests.swift
Due: none

Auto-save: Add SubagentAndToolComposition, THEAAndPlanState, OpenClawTypes tests — 125 new tests for subagent definitions, tool pipelines, plan phases, gateway commands
  Tests/CoreTests/ModelTests/OpenClawTypesTests.swift
  Tests/CoreTests/ModelTests/SubagentAndToolCompositionTypesTests.swift
  Tests/CoreTests/ModelTests/THEAAndPlanStateTypesTests.swift
Due: none

Auto-save: Add IntegrationAndServiceTypesTests.swift — Priority ordering, Trend display, DataSource, OperationResult, ServiceIntegrationError, date utilities
  Tests/CoreTests/ModelTests/IntegrationAndServiceTypesTests.swift
Due: none

Checkpoint before secrets purge
  .git.corrupt/index
Due: none

Security: add secrets patterns to .gitignore after history purge
  .gitignore
Due: none

Security: replace test Firebase key with obviously-fake pattern to avoid GitHub alerts
  Tests/CoreTests/ModelTests/CredentialPatternTests.swift
Due: none

V4-Fix: Add credential scanning to pre-commit hook
  Scripts/pre-commit
Due: none

V4-Feature: Add SmartTransportManager for intelligent device sync transport
  Scripts/pre-commit
  Shared/Sync/SmartTransportManager.swift
Due: unittests, macos, ios

Auto-save: Add SmartTransportManagerTypesTests — 43 tests for transport types, selection, failover
  Tests/CoreTests/ModelTests/SmartTransportManagerTypesTests.swift
Due: none

V4-Feature: Wire SmartTransportManager into CrossDeviceService + SyncSettingsView
  Shared/Sync/CrossDeviceService.swift
  Shared/UI/Views/Settings/SyncSettingsView.swift
Due: unittests, macos, ios

Auto-save: Fix SmartTransportManager strict concurrency + access level
  Shared/Sync/CrossDeviceService.swift
  Shared/Sync/SmartTransportManager.swift
Due: unittests, macos, ios

Auto-save: Priority D — OutboundPrivacyGuard strict inverted firewall + Priority F pre-commit hook
  Scripts/pre-commit
  Shared/Privacy/OutboundPrivacyGuard.swift
Due: unittests, macos, ios

Auto-save: Add 63 tests for Priority D firewall types + fix pre-commit PEM exclusion
  Scripts/pre-commit
  Tests/CoreTests/ModelTests/OutboundFirewallTypesTests.swift
Due: none

Auto-save: Priority D — Firewall dashboard in Privacy settings
  Shared/Privacy/OutboundPrivacyGuard.swift
  Shared/UI/Views/Settings/SettingsPrivacyAboutViews.swift
Due: unittests, macos, ios

Auto-save: Xcode project update for session 14 files
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: Add ConversationExporter with Markdown, JSON, plain text export
  Package.swift
  Shared/Core/Services/ConversationExporter.swift
Due: unittests, macos, ios

Auto-save: Fix ConversationExporter strict concurrency + Xcode project update
  Shared/Core/Services/ConversationExporter.swift
Due: unittests, macos, ios

Auto-save: E1 — Streaming error recovery with retry + fallback chain
  Shared/Core/Managers/ChatManager+Messaging.swift
Due: unittests, macos, ios

Auto-save: E7 — CodeQualityGate + RegressionDetector for autonomous self-improvement
  Shared/Intelligence/Autonomy/CodeQualityGate.swift
  Shared/Intelligence/Autonomy/RegressionDetector.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: Fix trailing comma SwiftLint warning in CodeQualityGate
  Shared/Intelligence/Autonomy/CodeQualityGate.swift
Due: unittests, macos, ios

Auto-save: Add 77 tests — ConversationExporter, streaming retry, quality gate, regression detector
  Tests/CoreTests/ModelTests/ConversationExporterTests.swift
  Tests/CoreTests/ModelTests/StreamingRetryAndQualityTests.swift
Due: none

Auto-save: Add #if os(macOS) guards to CodeQualityGate + RegressionDetector
  Shared/Intelligence/Autonomy/CodeQualityGate.swift
  Shared/Intelligence/Autonomy/RegressionDetector.swift
Due: unittests, macos, ios

Auto-save: Wire real AI summarization in ConversationMemory (replaces hardcoded stub)
  Shared/Memory/ConversationMemory.swift
Due: unittests, macos, ios

Auto-save: Wire ActiveMemoryRetrieval to PersonalKnowledgeGraph (replaces empty stub)
  Shared/Memory/ActiveMemoryRetrieval+Retrieval.swift
Due: unittests, macos, ios

Auto-save: Replace ContentView Coming soon placeholders with real views (Knowledge, Financial, Code, Migration)
  macOS/Views/ContentView.swift
Due: unittests, macos

Auto-save: Wire EnhancedSubagentSystem.executeTask() with real AI provider calls (replaces simulation stub)
  Shared/Intelligence/Agents/EnhancedSubagentSystem+Core.swift
Due: unittests, macos, ios

Auto-save: Add auto-delegation to ChatManager for complex tasks (E6 completion)
  Shared/Core/Managers/ChatManager+Intelligence.swift
  Shared/Core/Managers/ChatManager+Messaging.swift
Due: unittests, macos, ios

Path conditions:
  unittests: any of: Shared/, Platforms/, iOS/, macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  macos: any of: Shared/, macOS/, Platforms/macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  ios: any of: Shared/, iOS/, Platforms/iOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
