Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

Auto-save: Wire TheaMessagingGateway into iOS app lifecycle (deferred 2s startup)
  iOS/TheaiOSApp.swift
Due: unittests, ios

Auto-save: Resolve stash — messagingGateway sidebar wired, project.pbxproj registered, O_Tests gateway+telegram added
  Tests/IntegrationTests/TelegramConnectorTests.swift
  Tests/IntegrationTests/TheaMessagingGatewayTests.swift
Due: none

Auto-save: O_Tests — 7 Phase O integration test files (gateway, connectors, session manager, security guard)
  Tests/IntegrationTests/DiscordConnectorTests.swift
  Tests/IntegrationTests/MessagingPlatformProtocolTests.swift
  Tests/IntegrationTests/MessagingSessionManagerTests.swift
  Tests/IntegrationTests/OpenClawBridgeMessagingTests.swift
  Tests/IntegrationTests/OpenClawSecurityGuardMessagingTests.swift
  Tests/IntegrationTests/SlackConnectorTests.swift
Due: none

Auto-save: xcodegen generate — register Phase O files in Thea.xcodeproj
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: Phase O ✅ DONE — Session Safety Protocol added (thea-sync suspend, per-file commits, stash check, concurrent session guard, clean exit)
  .claude/THEA_SHIP_READY_PLAN_v2.md
Due: none

Auto-save: Fix build errors — rename VoiceRelayPlatform, add Codable to MessagingCredentials, fix actor await, fix test signatures
  Shared/Integrations/OpenClaw/MessagingPlatformProtocol.swift
  Shared/Integrations/OpenClaw/MessagingSessionManager.swift
  Shared/Integrations/OpenClaw/TheaMessagingGateway.swift
  Shared/Intelligence/LifeMonitoring/VoiceProactivity+Convenience.swift
  Shared/Intelligence/LifeMonitoring/VoiceProactivity+Interactions.swift
  Shared/Intelligence/LifeMonitoring/VoiceProactivity+Relay.swift
  Shared/Intelligence/LifeMonitoring/VoiceProactivity.swift
  Shared/Intelligence/LifeMonitoring/VoiceProactivityModels.swift
  Tests/IntegrationTests/DiscordConnectorTests.swift
  Tests/IntegrationTests/MessagingPlatformProtocolTests.swift
  Tests/IntegrationTests/SlackConnectorTests.swift
  Tests/IntegrationTests/TelegramConnectorTests.swift
Due: unittests, macos, ios

Auto-save: Fix OpenClawBridge class scope (processInboundMessage was outside class), fix wsServer.stop() await
  Shared/Integrations/OpenClaw/OpenClawBridge.swift
  Shared/Integrations/OpenClaw/TheaMessagingGateway.swift
Due: unittests, macos, ios

Auto-save: Remove duplicate OpenClawError from OpenClawClient.swift (canonical is OpenClawTypes.swift)
  Shared/Integrations/OpenClaw/OpenClawClient.swift
Due: unittests, macos, ios

Auto-save: Fix PersonalKnowledgeGraph.contextForMessaging() — use recentEntities/referenceCount API
  Shared/Integrations/OpenClaw/MessagingSessionManager.swift
Due: unittests, macos, ios

Auto-save: Fix TelegramChannel.getHistory call — use correct OpenClawGatewayCommand sessionKey/before params
  Shared/Messaging/Channels/TelegramChannel.swift
Due: unittests, macos, ios

Auto-save: Fix WhatsAppChannel.getHistory call — matching params
  Shared/Messaging/Channels/WhatsAppChannel.swift
Due: unittests, macos, ios

Auto-save: Fix TheaMessagingChatView — rename MessageBubble→GatewayMessageBubble, fix Color type, break up expression
  Shared/UI/Views/OpenClaw/TheaMessagingChatView.swift
Due: unittests, macos, ios

Auto-save: commit locally-created O_Tests files before pull
  Tests/IntegrationTests/DiscordConnectorTests.swift
  Tests/IntegrationTests/MessagingSessionManagerTests.swift
  Tests/IntegrationTests/OpenClawBridgeMessagingTests.swift
  Tests/IntegrationTests/SlackConnectorTests.swift
Due: none

Auto-save: v2 hardening — build gates, phase checklists, parallel session rules, Phase P safety preamble, OpenClaw→TheaMessagingGateway refs fixed
  .claude/THEA_SHIP_READY_PLAN_v2.md
Due: none

Auto-save: v2 wave structure — parallel session safety rules, safe vs unsafe parallelism, current wave status
  .claude/THEA_SHIP_READY_PLAN_v2.md
Due: none

Auto-save: CLAUDE.md — Thea Native Messaging Gateway replaces OpenClaw section, mandatory session start/end protocol added, openclaw forbidden
  .claude/claude.md
Due: none

Auto-save: Phase P — Claude 4.6 model catalog, routing config, default model updates
  Shared/Core/Configuration/ConversationConfiguration.swift
  Shared/Core/Configuration/DynamicConfig.swift
  Shared/Core/Configuration/OrchestratorConfiguration.swift
  Shared/Core/Configuration/TheaConfigSections.swift
  Shared/Core/Models/AIModelCatalog.swift
Due: unittests, macos, ios

Auto-save: P13 — AnthropicProvider adds Claude 4.6 Opus + Sonnet to listModels()
  Shared/AI/Providers/AnthropicProvider.swift
Due: unittests, macos, ios

Auto-save: P13 — SmartModelRouter registers Claude 4.6 Opus + Sonnet (quality scores 0.99/0.92)
  Shared/Intelligence/Routing/SmartModelRouter+ModelCatalog.swift
Due: unittests, macos, ios

Auto-save: P13 — Update claude-sonnet-4/opus-4 → claude-sonnet-4-6/opus-4-6 in agent + consensus
  Shared/Intelligence/Agents/EnhancedSubagentSystem.swift
  Shared/Intelligence/Verification/MultiModelConsensus.swift
Due: unittests, macos, ios

Auto-save: P9 — OutboundPrivacyGuard adds gateway token + Telegram/Discord/Signal patterns
  Shared/Privacy/OutboundPrivacyGuard.swift
Due: unittests, macos, ios

Auto-save: P10 — FunctionGemmaBridge blocklist adds gateway protection + token extraction patterns
  Shared/AI/CoreML/FunctionGemmaBridge.swift
Due: unittests, macos, ios

Auto-save: P3 — PersonalKnowledgeGraph adds entity deduplication (addOrMergeEntity) + importance decay (decayStaleEntities)
  Shared/Memory/PersonalKnowledgeGraph.swift
Due: unittests, macos, ios

Auto-save: P14 — SpeechTranscriptionService (SFSpeechRecognizer unified STT, PCM→WAV, macOS+iOS)
  Shared/Voice/SpeechTranscriptionService.swift
Due: unittests, macos, ios

Auto-save: P16 — AgentTeamOrchestrator (Thea as Team Lead, parallel Claude teammates, TaskPlanDAG decomposition, synthesis)
  Shared/Agents/AgentTeamOrchestrator.swift
Due: unittests, macos, ios

Auto-save: P2 — ConfidenceSystem adds ValidationContext.messaging (skip multi-model+web, maxLatency 2s for gateway)
  Shared/Intelligence/Verification/ConfidenceSystem.swift
Due: unittests, macos, ios

Auto-save: P1+P2 — OpenClawBridge uses Claude Opus 4.6 for auto-responses + confidence verification (messaging context)
  Shared/Integrations/OpenClaw/OpenClawBridge.swift
Due: unittests, macos, ios

Auto-save: P6 — HealthCoachingPipeline adds gateway delivery (deliverViaGatewayIfEnabled, gatewayDeliveryChannel config)
  Shared/Intelligence/Health/HealthCoachingPipeline.swift
Due: unittests, macos, ios

Auto-save: P11 — OpenClawBridge transcribes audio attachments via SpeechTranscriptionService before AI response
  Shared/Integrations/OpenClaw/OpenClawBridge.swift
Due: unittests, macos, ios

Auto-save: P12 — CloudKitService adds MessagingSettings record type, push/pull gateway settings (non-sensitive only, credentials excluded)
  Shared/Sync/CloudKitService.swift
Due: unittests, macos, ios

Auto-save: P15 — MLXVisionEngine adds Qwen3-VL constants, vllm-mlx endpoint, describeImage(); OpenClawBridge wires image attachments to VLM pipeline
  Shared/AI/LocalModels/MLXVisionEngine.swift
  Shared/Integrations/OpenClaw/OpenClawBridge.swift
Due: unittests, macos, ios

Auto-save: P4 — Wire AgentTeamOrchestrator into ChatManager.sendMessage auto mode path with fallback to single AI
  Shared/Core/Managers/ChatManager+Intelligence.swift
  Shared/Core/Managers/ChatManager+Messaging.swift
Due: unittests, macos, ios

Auto-save: Fix MLXVisionEngine brace structure + xcodegen regenerate to pick up SpeechTranscriptionService
  Shared/AI/LocalModels/MLXVisionEngine.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: Phase P ✅ COMPLETE — mark P1-P16 done in QUICK STATUS SNAPSHOT, Phase W unblocked
  .claude/THEA_SHIP_READY_PLAN_v2.md
Due: none

Auto-save: Fix unused result warning in OpenClawBridge.describeImageAttachment
  Shared/Integrations/OpenClaw/OpenClawBridge.swift
Due: unittests, macos, ios

Fix: Phase W header — must run after Q+R (Wave 3), not after O+P directly
  .claude/THEA_SHIP_READY_PLAN_v2.md
Due: none

Auto-save: Fix 4 pre-existing macOS warnings — remove stale @available(deprecated) annotations, fix unused var, fix cString deprecation
  Shared/Intelligence/SystemCapability/SystemCapabilityService.swift
  Shared/MCP/THEAMCPServer+ToolExecution.swift
  Shared/Security/SecurityScanner.swift
Due: unittests, macos, ios

Auto-save: Fix failing test files — remove excluded-type refs from G1IntegrationTest, fix DiscordConnector credentials init
  Tests/G1IntegrationTest.swift
  Tests/IntegrationTests/DiscordConnectorTests.swift
Due: none

Auto-save: Q1 test fixes — fix connector credentials, MessagingPlatform type inference, OutboundMessagingMessage field, ResponseLength, OpenClawBridge test access
  Tests/G1IntegrationTest.swift
  Tests/IntegrationTests/MessagingPlatformProtocolTests.swift
  Tests/IntegrationTests/OpenClawBridgeMessagingTests.swift
  Tests/IntegrationTests/SlackConnectorTests.swift
  Tests/IntegrationTests/TaskClassifierTests.swift
  Tests/IntegrationTests/TelegramConnectorTests.swift
Due: none

Auto-save: Add public memberwise inits to CloudKnowledgeItem + CloudProject (required for tests and direct construction)
  Shared/Sync/CloudKitServiceTypes.swift
Due: unittests, macos, ios

Path conditions:
  unittests: any of: Shared/, Platforms/, iOS/, macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  macos: any of: Shared/, macOS/, Platforms/macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  ios: any of: Shared/, iOS/, Platforms/iOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
