Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

V3 Phase 4f: Add Tailscale fallback endpoints to tvOS RemoteInferenceClient after Bonjour timeout
  tvOS/Services/RemoteInferenceClient.swift
Due: none

V3 Phase 4g: Wire 10 missing Safari extension message types (askAI, deepResearch, credentials, TOTP, rewrite, memory search, ping)
  Extensions/SafariExtension/SafariWebExtensionHandler.swift
Due: none

V3 Phase 4h: Add VO2Max to HealthKit + fix Safari extension duplicate methods
  Extensions/SafariExtension/SafariWebExtensionHandler.swift
  Shared/Integrations/Health/Models/HealthModels.swift
  Shared/Integrations/Health/Protocols/HealthProtocols.swift
  Shared/Integrations/Health/Services/HealthKitService.swift
  Shared/Integrations/Health/ViewModels/HealthDashboardViewModel.swift
Due: unittests, macos, ios

V3 Phase 5a: Add AppleFinanceKitProvider with FinanceKit integration
  Shared/Financial/AppleFinanceKitProvider.swift
  Shared/Financial/FinancialIntegration.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

V3 Phase 5b: Wire Keyboard AI actions via KeyboardAIService
  Extensions/KeyboardExtension/KeyboardAIService.swift
  Extensions/KeyboardExtension/KeyboardViewController.swift
  Thea.xcodeproj/project.pbxproj
Due: none

V3 Phase 5c: Add web app frontend + fix RateLimitMiddleware
  Web/TheaWeb/Public/app.js
  Web/TheaWeb/Public/index.html
  Web/TheaWeb/Public/style.css
  Web/TheaWeb/Sources/App/Middleware/RateLimitMiddleware.swift
Due: none

Auto-save: fix SwiftLint implicit return warning in RateLimitMiddleware
  Web/TheaWeb/Sources/App/Middleware/RateLimitMiddleware.swift
Due: none

V3 Phase 6: @unchecked Sendable audit — all 50+ uses justified
  Shared/APIBuilder/MCPServerGenerator.swift
  Shared/Analytics/AnalyticsManager.swift
  Shared/Intelligence/LifeMonitoring/AutomatableSuggestionEngineTypes.swift
  Shared/Sync/UnifiedContextSync.swift
Due: unittests, macos, ios

Auto-save: fix trailing newline in GlobalQuickPrompt.swift
  Shared/UI/QuickPrompt/GlobalQuickPrompt.swift
Due: unittests, macos, ios

Auto-save: Phase 1 - Add GPT-OSS 20B/120B to model catalog, SmartModelRouter, and LocalModelProvider
  Shared/AI/LocalModels/LocalModelProvider.swift
  Shared/Core/Models/AIModel.swift
  Shared/Intelligence/Routing/SmartModelRouter.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: Phase 2 - Add Qwen3-VL 8B local vision with MLXVisionEngine and MLXVLM
  Shared/AI/LocalModels/MLXVisionEngine.swift
  Shared/AI/Vision/VisionIntelligence.swift
  Shared/Core/Models/AIModel.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: unittests, macos, ios

Phase 4: Claude API advanced tool use, compaction, and 1M context
  Shared/AI/AIProviderProtocol.swift
  Shared/AI/Providers/AnthropicProvider.swift
  Shared/AI/Providers/AnthropicToolCatalog.swift
Due: unittests, macos, ios

Phase 3: Add mlx-audio-swift for on-device TTS/STT
  Shared/AI/Audio/MLXAudioEngine.swift
  Shared/AI/Providers/AnthropicToolCatalog.swift
  Shared/Voice/MLXVoiceBackend.swift
  Shared/Voice/VoiceBackendProtocol.swift
  Shared/Voice/VoiceInteractionEngine.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: unittests, macos, ios

Phase 5: Gemma 3 CoreML engine for iOS on-device inference
  Shared/AI/CoreML/CoreMLInferenceEngine.swift
  Shared/AI/LocalModels/LocalModelProvider.swift
  Shared/AI/LocalModels/LocalModelProviderTypes.swift
  Shared/AI/LocalModels/UnifiedLocalModelOrchestrator.swift
  Shared/Core/Managers/ProviderRegistry.swift
  Shared/Core/Models/AIModel.swift
  Shared/UI/Views/Settings/AutonomousSettingsView.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Phase 6: OpenClaw integration — messaging bridges for WhatsApp, Telegram, Discord, Slack, Signal
  Shared/Integrations/OpenClaw/OpenClawBridge.swift
  Shared/Integrations/OpenClaw/OpenClawClient.swift
  Shared/Integrations/OpenClaw/OpenClawIntegration.swift
  Shared/Integrations/OpenClaw/OpenClawSecurityGuard.swift
  Shared/Integrations/OpenClaw/OpenClawTypes.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Phase 7A: OutboundPrivacyGuard — system-wide outbound privacy layer
  Shared/Integrations/OpenClaw/OpenClawBridge.swift
  Shared/MCP/THEAMCPServer.swift
  Shared/Privacy/OutboundPrivacyGuard.swift
  Shared/Privacy/PrivacyPolicies.swift
  Shared/Privacy/PrivacyPolicy.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: fix trailing comma warnings in OutboundPrivacyGuard
  Shared/Privacy/OutboundPrivacyGuard.swift
Due: unittests, macos, ios

Phase 7B: MoltbookAgent — privacy-preserving development discussion agent
  Shared/Agents/MoltbookAgent.swift
Due: unittests, macos, ios

Phase 8: FunctionGemma — offline natural language → function call execution
  Shared/AI/CoreML/FunctionGemmaBridge.swift
  Shared/AI/CoreML/FunctionGemmaEngine.swift
Due: unittests, macos, ios

Auto-save: update CLAUDE.md with all 8 phases of AI capabilities documentation
  .claude/claude.md
Due: none

Add multilingual conversational capabilities
  Shared/Core/Managers/ChatManager.swift
  Shared/Core/Models/Conversation.swift
  Shared/Localization/ConversationLanguageService.swift
Due: unittests, macos, ios

Security audit fixes: 6 critical vulnerabilities addressed
  Shared/AI/CoreML/FunctionGemmaBridge.swift
  Shared/Core/Managers/ChatManager.swift
  Shared/Integrations/OpenClaw/OpenClawBridge.swift
  Shared/Integrations/OpenClaw/OpenClawSecurityGuard.swift
  Shared/Privacy/OutboundPrivacyGuard.swift
Due: unittests, macos, ios

Add PersonalKnowledgeGraph, TaskPlanDAG, BehavioralFingerprint + re-apply security fixes
  Shared/AI/CoreML/FunctionGemmaBridge.swift
  Shared/AI/CoreML/FunctionGemmaEngine.swift
  Shared/Core/Managers/ChatManager.swift
  Shared/Integrations/OpenClaw/OpenClawBridge.swift
  Shared/Integrations/OpenClaw/OpenClawSecurityGuard.swift
  Shared/Intelligence/Planning/TaskPlanDAG.swift
  Shared/Intelligence/UserModel/BehavioralFingerprint.swift
  Shared/Memory/PersonalKnowledgeGraph.swift
  Shared/Privacy/OutboundPrivacyGuard.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: fix SwiftLint warnings in TaskPlanDAG and PersonalKnowledgeGraph
  Shared/Intelligence/Planning/TaskPlanDAG.swift
  Shared/Memory/PersonalKnowledgeGraph.swift
Due: unittests, macos, ios

Add SmartNotificationScheduler and HealthCoachingPipeline
  Shared/Intelligence/Health/HealthCoachingPipeline.swift
  Shared/Intelligence/Scheduling/SmartNotificationScheduler.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: update CLAUDE.md with intelligence integration layers documentation
  .claude/claude.md
Due: none

Auto-save: re-add intelligence integration layers to CLAUDE.md
  .claude/claude.md
Due: none

Auto-save: fix PersonalKnowledgeGraph.load() and actor isolation in statusReport()
  Shared/AI/ResilientAIFallbackChain.swift
  Shared/Intelligence/Proactive/ProactiveEngagementEngine.swift
  Shared/Intelligence/Reflection/ChatReflexionIntegration.swift
  Shared/Intelligence/TheaIntelligenceOrchestrator.swift
  Shared/Intelligence/UserModel/BehavioralFingerprint.swift
  Shared/Memory/ConversationMemoryExtractor.swift
  Shared/Memory/PersonalKnowledgeGraph.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: fix guard fallthrough in ResilientAIFallbackChain, unused result warning
  Shared/AI/ResilientAIFallbackChain.swift
  Shared/Intelligence/Reflection/ChatReflexionIntegration.swift
Due: unittests, macos, ios

Auto-save: fix warnings in ChatReflexionIntegration and SmartNotificationScheduler
  Shared/Intelligence/Reflection/ChatReflexionIntegration.swift
  Shared/Intelligence/Scheduling/SmartNotificationScheduler.swift
Due: unittests, macos, ios

Auto-save: fix API key storage — use SecureStorage/Keychain instead of UserDefaults
  Shared/AI/LocalModels/LocalModelProvider.swift
  Shared/Core/Configuration/AppConfiguration.swift
  Shared/UI/Views/Financial/FinancialDashboardView.swift
Due: unittests, macos, ios

Auto-save: split TestGenerator.swift to resolve SwiftLint warnings
  .swiftlint.yml
  Shared/AI/LocalModels/LocalModelManager+Discovery.swift
  Shared/AI/LocalModels/LocalModelManager+RuntimeSetup.swift
  Shared/AI/LocalModels/LocalModelProvider+Chat.swift
  Shared/AI/LocalModels/LocalModelProvider.swift
  Shared/Core/Managers/ChatManager+Branching.swift
  Shared/Core/Managers/ChatManager+Messaging.swift
  Shared/Core/Managers/ChatManager+PromptEngineering.swift
  Shared/Core/Managers/ChatManager+ProviderSelection.swift
  Shared/Core/Managers/ChatManager+VisionOCR.swift
  Shared/Core/Managers/ChatManagerTypes.swift
  Shared/Execution/Testing/TestGenerator+CoverageAnalysis.swift
  Shared/Execution/Testing/TestGenerator+SourceAnalysis.swift
  Shared/Execution/Testing/TestGenerator+Templates.swift
  Shared/Execution/Testing/TestGenerator.swift
  Shared/Execution/Testing/TestGeneratorTypes.swift
Due: unittests, macos, ios

Auto-save: fix 3 CI/CD workflows
  .github/workflows/ci.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/thea-audit-main.yml
Due: none

Auto-save: revert broken ChatManager/LocalModelProvider splits, fix TestGenerator exclusion
  Shared/AI/LocalModels/LocalModelManager+Discovery.swift
  Shared/AI/LocalModels/LocalModelManager+RuntimeSetup.swift
  Shared/AI/LocalModels/LocalModelProvider+Chat.swift
  Shared/AI/LocalModels/LocalModelProvider.swift
  Shared/Core/Managers/ChatManager+Branching.swift
  Shared/Core/Managers/ChatManager+Messaging.swift
  Shared/Core/Managers/ChatManager+PromptEngineering.swift
  Shared/Core/Managers/ChatManager+ProviderSelection.swift
  Shared/Core/Managers/ChatManager+VisionOCR.swift
  Shared/Core/Managers/ChatManagerTypes.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: unittests, macos, ios

Auto-save: Add comprehensive Privacy Manifests for all 4 platforms
  macOS/PrivacyInfo.xcprivacy
  tvOS/PrivacyInfo.xcprivacy
  watchOS/PrivacyInfo.xcprivacy
Due: unittests, macos

Auto-save: Add Assistant Schema conformance for Apple Intelligence
  Shared/AppIntents/TheaAssistantSchemas.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: Add Assistant Schema conformance (system.search, journal domain)
  Shared/AppIntents/TheaAssistantSchemas.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: Update compliance doc — 3/5 blockers complete
  .claude/APRIL_2026_COMPLIANCE.md
Due: none

Remove 10 dead code files + clean up project.yml exclusions
  Shared/Configuration/ConfigurationManager.swift
  Shared/Core/Managers/ErrorKnowledgeBaseManager.swift
  Shared/Core/TheaIntegrationHub.swift
  Shared/Features/V1Parity/MessageRegeneration.swift
  Shared/Integration/TheaIntegrationHub+NewFeatures.swift
  Shared/SelfEvolution/SelfEvolutionEngine.swift
  Shared/UI/Views/MetaAI/KnowledgeGraphViewer.swift
  Shared/UI/Views/MetaAI/MemoryInspectorView.swift
  Shared/UI/Views/MetaAI/PluginManagerView.swift
  Shared/UI/Views/MetaAI/WorkflowBuilderView.swift
  Shared/UI/Views/PhaseProgressView.swift
  Shared/UI/Views/SelfExecutionView.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: unittests, macos, ios

Auto-save: UI/UX enhancements — thinking timer, smart scroll, full-text search, slash commands
  Shared/UI/Components/SlashCommandOverlay.swift
  Shared/UI/Components/StreamingIndicator.swift
  Shared/UI/Views/SidebarView.swift
  macOS/Views/MacChatDetailView.swift
Due: unittests, macos, ios

Path conditions:
  unittests: any of: Shared/, Platforms/, iOS/, macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  macos: any of: Shared/, macOS/, Platforms/macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  ios: any of: Shared/, iOS/, Platforms/iOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
