Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

codecov.yml:

# CodeCov Configuration for Thea
# Version: 1.0.0
# Last Updated: January 16, 2026
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# ============================================
# COVERAGE SETTINGS
# ============================================
coverage:
  # Precision of coverage percentage (2 decimal places)
  precision: 2

  # Round coverage percentage
  round: down

  # Range for coverage (red to green)
  range: "50...90"

  # Status checks
  status:
    # Project-level coverage
    project:
      default:
        # Target coverage percentage
        target: auto
        # Threshold for coverage decrease allowed
        threshold: 1%
        # Only check coverage on files that were changed
        only_changed_files: false
        # Compare against base branch
        base: auto
        # Flags to include (if using multiple coverage uploads)
        flags:
          - unittests

      # Separate status for each platform
      macos:
        target: auto
        threshold: 2%
        flags:
          - macos

      ios:
        target: auto
        threshold: 2%
        flags:
          - ios

    # Patch-level coverage (only changed lines)
    patch:
      default:
        target: auto
        threshold: 5%
        only_changed_files: true

# ============================================
# PARSING SETTINGS
# ============================================
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      macro: false
      method: false

# ============================================
# FLAGS
# ============================================
flags:
  unittests:
    paths:
      - Shared/
      - Platforms/
      - iOS/
      - macOS/
    carryforward: true
    after_n_builds: 1

  macos:
    paths:
      - Shared/
      - macOS/
      - Platforms/macOS/
    carryforward: true

  ios:
    paths:
      - Shared/
      - iOS/
      - Platforms/iOS/
    carryforward: true

# ============================================
# IGNORE PATHS
# ============================================
ignore:
  - "build/**/*"
  - ".build/**/*"
  - "DerivedData/**/*"
  - "Pods/**/*"
  - "Carthage/**/*"
  - "SourcePackages/**/*"
  - "Tests/**/*"
  - "**/*Tests.swift"
  - "**/*Test.swift"
  - "**/Preview Content/**/*"
  - "*.generated.swift"
  - "Package.swift"

# ============================================
# COMMENT SETTINGS
# ============================================
comment:
  # Layout of the comment
  layout: "reach,diff,flags,files,footer"

  # Comment behavior
  behavior: default

  # Require changes for comment
  require_changes: false

  # Show project coverage
  require_base: false
  require_head: true

  # Branches to comment on
  branches:
    - main
    - develop
    - "feature/*"
    - "release/*"

# ============================================
# GITHUB CHECKS
# ============================================
github_checks:
  # Show annotations on files in PR
  annotations: true

# ============================================
# NOTIFICATIONS
# ============================================
# Configure if you want Slack/email notifications
# notify:
#   slack:
#     default:
#       url: "https://hooks.slack.com/services/..."
#       threshold: 1%
#       only_pulls: false
#       branches:
#         - main

Fix: release CI gate hard-fails + plan/ci.yml stale references
  .claude/THEA_SHIP_READY_PLAN.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

Fix: isDueToday timezone flake + release.yml secrets-context parse error
  Tests/CoreTests/ModelTests/E9LifeManagementTests.swift
Due: none

Restore PersonalBaselineMonitor wiring (NEVER REMOVE — reverted by agent)
  Shared/Intelligence/TheaIntelligenceOrchestrator.swift
Due: unittests, macos, ios

Auto-save: rename all 6 workflow names to Thea-prefixed identifiers
  .claude/THEA_SHIP_READY_PLAN.md
  .github/workflows/ci.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/release.yml
  .github/workflows/thea-audit-main.yml
  .github/workflows/thea-audit-pr.yml
Due: none

Restore: thinking block preservation for multi-turn Anthropic API calls
  Shared/AI/Providers/AnthropicProvider.swift
  Shared/Core/Models/Message.swift
Due: unittests, macos, ios

Auto-save: fix ternary/optional-chaining parse error in TheaIdentityPrompt.swift
  Shared/Core/Configuration/TheaIdentityPrompt.swift
Due: unittests, macos, ios

Auto-save: fix closure-operator parse error in DocumentScanner.swift
  Shared/Productivity/DocumentScanner.swift
Due: unittests, macos, ios

Auto-save: rename migrateFromNexus → migrateFromCursor (Nexus was old app name)
  Shared/Core/Managers/MigrationManager.swift
  iOS/Views/Settings/iOSMigrationSection.swift
Due: unittests, macos, ios

Fix: SwiftLint 0 violations confirmed — remove self-firing warning_threshold: 0
  .github/workflows/ci.yml
  .swiftlint.yml
Due: none

Auto-save: update plan checkboxes — swift test + SwiftLint now verified clean
  .claude/THEA_SHIP_READY_PLAN.md
Due: none

Auto-save: harden date-based tests in E9LifeManagementTests
  Tests/CoreTests/ModelTests/E9LifeManagementTests.swift
Due: none

Auto-save: add final verification report (historical pre-fix snapshot)
  .claude/FINAL_VERIFICATION_REPORT.md
Due: none

Fix: commit .swiftlint.yml with correct warning thresholds for CI
  .swiftlint.yml
Due: none

Fix: SonarCloud job - correct SHA + job-level continue-on-error
  .github/workflows/ci.yml
Due: none

Fix: release.yml - add continue-on-error to cert import step
  .github/workflows/release.yml
Due: none

Fix: tvOS artifact path — app is named 'Thea TV.app' not 'Thea.app'
  .github/workflows/release.yml
Due: none

Fix: release.yml - add explicit tag_name to Create GitHub Release step
  .github/workflows/release.yml
Due: none

Auto-save: Add THEA_SHIP_READY_PLAN_v2.md with checkbox audit, OpenClaw/AI 2026 research, new phases O_PRE + P13-P16
  .claude/THEA_SHIP_READY_PLAN_v1.md
  .claude/THEA_SHIP_READY_PLAN_v2.md
Due: none

Auto-save: Overhaul all 6 GitHub workflow files (v2 improvements)
  .github/workflows/ci.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/thea-audit-main.yml
  .github/workflows/thea-audit-pr.yml
Due: none

Auto-save: Update THEA_SHIP_READY_PLAN_v2.md with changelog research + ntfy + Phase W
  .claude/THEA_SHIP_READY_PLAN_v2.md
Due: none

Auto-save: thea-audit-pr.yml v2.4.0 — add workflow_dispatch with base_ref input
  .github/workflows/thea-audit-pr.yml
Due: none

Auto-save: Fix Quick Status Snapshot — Phase N ✅ DONE, Phase W added
  .claude/THEA_SHIP_READY_PLAN_v2.md
Due: none

Auto-save: Phase O0/O1 - Add OpenClaw wire protocol types, new platforms, sessions, agents, canvas, nodes, cron, memory, security audit, expanded gateway commands/events
  Shared/Integrations/OpenClaw/OpenClawTypes.swift
Due: unittests, macos, ios

Auto-save: Fix Swift 6 Sendable warnings in OpenClawTypes - @unchecked Sendable with justification comments
  Shared/Integrations/OpenClaw/OpenClawTypes.swift
Due: unittests, macos, ios

Auto-save: Reframe Phase O — Thea Native Messaging Gateway (replaces OpenClaw)
  .claude/THEA_SHIP_READY_PLAN_v2.md
Due: none

Auto-save: Phase O rewrite — Thea Native Messaging Gateway (no OpenClaw, 7 platform connectors)
  .claude/THEA_SHIP_READY_PLAN_v2.md
Due: none

Auto-save: Update Phase O status — O_PRE+O0/O1 done (MSM3U prior session), O2–O10 pending
  .claude/THEA_SHIP_READY_PLAN_v2.md
Due: none

Auto-save: Add O_CLEAN uninstall step — remove OpenClaw before building native gateway
  .claude/THEA_SHIP_READY_PLAN_v2.md
Due: none

Auto-save: Update status — O_CLEAN done, port 18789 free, wave 0 fully complete
  .claude/THEA_SHIP_READY_PLAN_v2.md
Due: none

Auto-save: O0 foundation — MessagingPlatformProtocol.swift + TheaMessagingGateway.swift
  Shared/Integrations/OpenClaw/MessagingPlatformProtocol.swift
  Shared/Integrations/OpenClaw/TheaMessagingGateway.swift
Due: unittests, macos, ios

Auto-save: O8/O9 — TheaGatewayWSServer.swift + MessagingSessionManager.swift + Keychain credentials store
  Shared/Integrations/OpenClaw/MessagingSessionManager.swift
  Shared/Integrations/OpenClaw/TheaGatewayWSServer.swift
Due: unittests, macos, ios

Auto-save: O1-O7 connectors — Telegram, Discord, Slack, BlueBubbles, WhatsApp, Signal, Matrix
  Shared/Integrations/Messaging/BlueBubblesConnector.swift
  Shared/Integrations/Messaging/DiscordConnector.swift
  Shared/Integrations/Messaging/MatrixConnector.swift
  Shared/Integrations/Messaging/SignalConnector.swift
  Shared/Integrations/Messaging/SlackConnector.swift
  Shared/Integrations/Messaging/TelegramConnector.swift
  Shared/Integrations/Messaging/WhatsAppConnector.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: O_Wire — OpenClawBridge upgraded to multi-platform router; processInboundMessage added; rateLimitChannels renamed
  Shared/Integrations/OpenClaw/OpenClawBridge.swift
Due: unittests, macos, ios

Auto-save: O_Wire — OpenClawIntegration repurposed (delegates to TheaMessagingGateway), OpenClawClient comment updated
  Shared/Integrations/OpenClaw/OpenClawClient.swift
  Shared/Integrations/OpenClaw/OpenClawIntegration.swift
Due: unittests, macos, ios

Auto-save: O10 — TheaMessagingSettingsView.swift + TheaMessagingChatView.swift with full credentials UI and conversation threads
  Shared/UI/Views/OpenClaw/TheaMessagingChatView.swift
  Shared/UI/Views/Settings/TheaMessagingSettingsView.swift
Due: unittests, macos, ios

Auto-save: Wire TheaMessagingGateway into macOS app lifecycle (replaces WhatsAppChannel/TelegramChannel)
  macOS/TheamacOSApp.swift
Due: unittests, macos

Auto-save: Add messagingGateway case to MacSettingsView sidebar (group 2, icon, view binding)
  Thea.xcodeproj/project.pbxproj
  macOS/Views/MacSettingsView.swift
Due: unittests, macos
