Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

codecov.yml:

# CodeCov Configuration for Thea
# Version: 1.0.0
# Last Updated: January 16, 2026
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# ============================================
# COVERAGE SETTINGS
# ============================================
coverage:
  # Precision of coverage percentage (2 decimal places)
  precision: 2

  # Round coverage percentage
  round: down

  # Range for coverage (red to green)
  range: "50...90"

  # Status checks
  status:
    # Project-level coverage
    project:
      default:
        # Target coverage percentage
        target: auto
        # Threshold for coverage decrease allowed
        threshold: 1%
        # Only check coverage on files that were changed
        only_changed_files: false
        # Compare against base branch
        base: auto
        # Flags to include (if using multiple coverage uploads)
        flags:
          - unittests

      # Separate status for each platform
      macos:
        target: auto
        threshold: 2%
        flags:
          - macos

      ios:
        target: auto
        threshold: 2%
        flags:
          - ios

    # Patch-level coverage (only changed lines)
    patch:
      default:
        target: auto
        threshold: 5%
        only_changed_files: true

# ============================================
# PARSING SETTINGS
# ============================================
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      macro: false
      method: false

# ============================================
# FLAGS
# ============================================
flags:
  unittests:
    paths:
      - Shared/
      - Platforms/
      - iOS/
      - macOS/
    carryforward: true
    after_n_builds: 1

  macos:
    paths:
      - Shared/
      - macOS/
      - Platforms/macOS/
    carryforward: true

  ios:
    paths:
      - Shared/
      - iOS/
      - Platforms/iOS/
    carryforward: true

# ============================================
# IGNORE PATHS
# ============================================
ignore:
  - "build/**/*"
  - ".build/**/*"
  - "DerivedData/**/*"
  - "Pods/**/*"
  - "Carthage/**/*"
  - "SourcePackages/**/*"
  - "Tests/**/*"
  - "**/*Tests.swift"
  - "**/*Test.swift"
  - "**/Preview Content/**/*"
  - "*.generated.swift"
  - "Package.swift"

# ============================================
# COMMENT SETTINGS
# ============================================
comment:
  # Layout of the comment
  layout: "reach,diff,flags,files,footer"

  # Comment behavior
  behavior: default

  # Require changes for comment
  require_changes: false

  # Show project coverage
  require_base: false
  require_head: true

  # Branches to comment on
  branches:
    - main
    - develop
    - "feature/*"
    - "release/*"

# ============================================
# GITHUB CHECKS
# ============================================
github_checks:
  # Show annotations on files in PR
  annotations: true

# ============================================
# NOTIFICATIONS
# ============================================
# Configure if you want Slack/email notifications
# notify:
#   slack:
#     default:
#       url: "https://hooks.slack.com/services/..."
#       threshold: 1%
#       only_pulls: false
#       branches:
#         - main

Auto-save: Replace custom theaFont with standard SwiftUI fonts in LiveGuidanceSettingsView
  Shared/UI/Views/Settings/LiveGuidanceSettingsView.swift
Due: unittests, macos, ios

Auto-save: Fix concurrency errors in PointerTracker deinit and requestAuthorization
  Shared/System/Input/PointerTracker.swift
Due: unittests, macos, ios

Auto-save: Make LocalVisionGuidance dependencies public for UI access
  Shared/AI/LiveGuidance/LocalVisionGuidance.swift
Due: unittests, macos, ios

Auto-save: Add G2 placeholders to fix build
  Shared/Integrations/ForegroundAppMonitor.swift
  Shared/UI/Views/Settings/AppPairingSettingsView.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: Fix ForegroundAppMonitor concurrency issue
  Shared/Integrations/ForegroundAppMonitor.swift
Due: unittests, macos, ios

Auto-save: Add G1 integration tests for Live Guidance system
  Tests/G1IntegrationTest.swift
Due: none

Auto-save: Add comprehensive G1 verification plan with all success criteria
  .claude/G1_VERIFICATION_PLAN.md
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-iOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-macOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-tvOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-watchOS.xcscheme
Due: none

Auto-save: Implement ForegroundAppMonitor core with real monitoring and context extraction
  Shared/Integrations/ForegroundAppMonitor.swift
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-iOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-macOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-tvOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-watchOS.xcscheme
Due: unittests, macos, ios

Auto-save: Implement XcodeContextExtractor with real Accessibility API integration
  Shared/Integrations/ContextExtractors/XcodeContextExtractor.swift
Due: unittests, macos, ios

Auto-save: Implement VSCodeContextExtractor with real Accessibility API integration
  Shared/Integrations/ContextExtractors/VSCodeContextExtractor.swift
Due: unittests, macos, ios

Auto-save: Implement TerminalContextExtractor with real Accessibility API integration
  Shared/Integrations/ContextExtractors/TerminalContextExtractor.swift
Due: unittests, macos, ios

Auto-save: Implement TextEditorContextExtractor with real Accessibility API integration
  Shared/Integrations/ContextExtractors/TextEditorContextExtractor.swift
Due: unittests, macos, ios

Auto-save: Implement SafariContextExtractor with AppleScript + Accessibility API integration
  Shared/Integrations/ContextExtractors/SafariContextExtractor.swift
Due: unittests, macos, ios

Auto-save: Implement GenericContextExtractor fallback with Accessibility API
  Shared/Integrations/ContextExtractors/GenericContextExtractor.swift
Due: unittests, macos, ios

Auto-save: Add foreground app context injection to ChatManager
  Shared/Core/Managers/ChatManager.swift
Due: unittests, macos, ios

Auto-save: Add G1 Live Guidance files (ScreenCaptureManager, PointerTracker, ActionExecutor, LocalVisionGuidance, LiveGuidanceSettingsView)
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: Regenerate Xcode project for G1 Live Guidance integration
  Thea.xcodeproj/project.pbxproj
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-iOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-macOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-tvOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-watchOS.xcscheme
Due: none

Auto-save: Add G1 implementation status document
  .claude/G1_IMPLEMENTATION_STATUS.md
Due: none

Auto-save: Add G1 test script for build and end-to-end testing
  .claude/test-g1.sh
Due: none

Auto-save: Add G1 handoff document with complete testing guide
  .claude/G1_HANDOFF.md
Due: none

Auto-save: Add G1 final status - implementation 100% complete, ready for build resolution
  .claude/G1_FINAL_STATUS.md
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-iOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-macOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-tvOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-watchOS.xcscheme
Due: none

Auto-save: Wire foreground app context injection into ChatManager.sendMessage
  Shared/Core/Managers/ChatManager+Messaging.swift
Due: unittests, macos, ios

Auto-save: Implement full AppPairingSettingsView with all controls and permissions UI
  Shared/UI/Views/Settings/AppPairingSettingsView.swift
Due: unittests, macos, ios

Auto-save: Integrate AppPairingSettingsView into MacSettingsView sidebar
  macOS/Views/MacSettingsView.swift
Due: unittests, macos

Auto-save: Regenerate Xcode project for G2 App Pairing implementation
  Thea.xcodeproj/project.pbxproj
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-iOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-macOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-tvOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-watchOS.xcscheme
Due: none

Auto-save: Xcode project state before deep audit Phase 0
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: Regenerate Xcode project for Phase 0 audit prep
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: H-Phase0 completion - Xcode project final state
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: Fix timezone-sensitive test in E9LifeManagementTests
  Tests/CoreTests/ModelTests/E9LifeManagementTests.swift
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-iOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-macOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-tvOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-watchOS.xcscheme
Due: none

Auto-save: Fix iOS build - exclude AppKit-only files from iOS target
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: Exclude GenericContextExtractor from iOS (AppKit dependency)
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: Exclude all ContextExtractors from iOS (AppKit dependencies)
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: Fix ForegroundAppMonitor deinit concurrency issue
  Shared/Integrations/ForegroundAppMonitor.swift
  Thea.xcodeproj/project.pbxproj
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-iOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-macOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-tvOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-watchOS.xcscheme
  project.yml
Due: unittests, macos, ios

Auto-save: Add G1 Live Guidance comprehensive tests
  Tests/G1LiveGuidanceTests.swift
Due: none

Auto-save: Remove duplicate G1 tests (already exists as G1IntegrationTest)
  Tests/G1LiveGuidanceTests.swift
Due: none

Auto-save: G1 implementation complete - all components verified to compile
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: G2 testing guide — full implementation verification protocol
  G2_TESTING_GUIDE.md
Due: none

Auto-save: G1 implementation verified - build succeeds with all components
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: G1 testing guide complete - ready for end-to-end verification
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: G2 testing guide complete - ready for end-to-end verification
  .claude/G2_TESTING_GUIDE.md
  .claude/g2-automated-test.sh
Due: none
