Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

fix: use XcodeGen configs section for proper build settings
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

fix: remove custom strip settings to use Xcode defaults
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

fix: use correct STRING_CATALOG_GENERATE_SYMBOLS setting name
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

feat: comprehensive Xcode 16 settings optimization
  Thea.xcodeproj/project.pbxproj
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-iOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-macOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-tvOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-watchOS.xcscheme
  macOS/Thea.entitlements
  project.yml
Due: unittests, macos

feat: comprehensive settings UI system with 12,000+ lines of new views
  Shared/Core/Configuration/SystemPromptConfiguration.swift
  Shared/UI/Views/DeviceSwitcherView.swift
  Shared/UI/Views/Settings/AIProvidersSettingsView.swift
  Shared/UI/Views/Settings/AdvancedPromptSettingsView.swift
  Shared/UI/Views/Settings/AdvancedSettingsView.swift
  Shared/UI/Views/Settings/AutomationSettingsView.swift
  Shared/UI/Views/Settings/BackupSettingsView.swift
  Shared/UI/Views/Settings/IntegrationsSettingsView.swift
  Shared/UI/Views/Settings/LocalModelsSettingsView.swift
  Shared/UI/Views/Settings/MemorySettingsView.swift
  Shared/UI/Views/Settings/ModelSettingsView.swift
  Shared/UI/Views/Settings/OrchestratorSettingsView.swift
  Shared/UI/Views/Settings/PermissionsSettingsView.swift
  Shared/UI/Views/Settings/PrivacySettingsView.swift
  Shared/UI/Views/Settings/SettingsCommonTypes.swift
  Shared/UI/Views/Settings/SyncSettingsView.swift
  Shared/UI/Views/Settings/SystemPromptSettingsView.swift
  Shared/UI/Views/SettingsView.swift
  macOS/Views/MacSettingsView.swift
Due: unittests, macos, ios

feat: add comprehensive test suites for MLX, UI, and orchestrator
  Tests/AgentSecTests/AgentSecKillSwitchTests.swift
  Tests/LocalModelTests/MLXInferenceTests.swift
  Tests/LocalModelTests/OrchestratorRoutingTests.swift
  Tests/MonitoringTests/MonitoringServiceTests.swift
  Tests/RealFunctionalTestPlan.md
  Tests/UITests/SettingsUITests.swift
  Tests/UITests/TheaFunctionalTests.swift
  Tests/UITests/TheaUITests.swift
Due: none

feat: add MLX inference engine and model benchmark service
  Shared/AI/LocalModels/LocalModelProvider.swift
  Shared/AI/LocalModels/MLXInferenceEngine.swift
  Shared/AI/LocalModels/MLXModelManager.swift
  Shared/AI/MetaAI/ModelBenchmarkService.swift
Due: unittests, macos, ios

chore: update project configuration and clean up duplicate projects
  Extensions/CredentialsExtension/CredentialsExtension.entitlements
  Package.resolved
  Package.swift
  Thea 2.xcodeproj/project.pbxproj
  Thea 2.xcodeproj/xcshareddata/xcschemes/Thea-iOS.xcscheme
  Thea 2.xcodeproj/xcshareddata/xcschemes/Thea-macOS.xcscheme
  Thea 2.xcodeproj/xcshareddata/xcschemes/Thea-tvOS.xcscheme
  Thea 2.xcodeproj/xcshareddata/xcschemes/Thea-watchOS.xcscheme
  Thea.xcodeproj/project.pbxproj
  iOS/Info.plist
  iOS/Thea.entitlements
  macOS/Info.plist
  macOS/Thea.entitlements
  project.yml
  tvOS/Info.plist
Due: unittests, macos, ios

refactor: improve AI orchestration and core services
  Shared/AI/CustomAgentBuilder.swift
  Shared/AI/MetaAI/ModelRouter.swift
  Shared/AI/MetaAI/QueryDecomposer.swift
  Shared/AI/MetaAI/SubAgentOrchestrator.swift
  Shared/AI/MetaAI/TaskClassifier.swift
  Shared/Core/ArtifactManager.swift
  Shared/Core/Configuration/AppConfiguration.swift
  Shared/Core/Configuration/OrchestratorConfiguration.swift
  Shared/Core/DistributedTaskExecutor.swift
  Shared/Core/Managers/ChatManager.swift
  Shared/Core/Managers/PermissionsManager.swift
  Shared/Core/Managers/ProviderRegistry.swift
  Shared/Core/Managers/SettingsManager.swift
  Shared/Core/Managers/VoiceActivationManager.swift
  Shared/Core/MemoryService.swift
  Shared/Core/UniversalNotificationService.swift
Due: unittests, macos, ios

refactor: improve integrations, platform services, and sync
  Shared/Integrations/CarPlayService.swift
  Shared/Integrations/HomeKit/HomeKitOrchestrator.swift
  Shared/Integrations/IntegrationUtilities.swift
  Shared/Integrations/Spotlight/SpotlightIntegration.swift
  Shared/Monitoring/PrivacyManager.swift
  Shared/Notifications/CrossDeviceNotificationRouter.swift
  Shared/Platforms/iOS/HealthKitProvider.swift
  Shared/Platforms/macOS/EndpointSecurityObserver.swift
  Shared/Sync/CloudKitService.swift
  Shared/Sync/HandoffService.swift
  Shared/Sync/UnifiedContextSync.swift
Due: unittests, macos, ios

refactor: update app services and feature modules
  Shared/AppIntegration/AppStateMonitor.swift
  Shared/Authentication/PasskeysService.swift
  Shared/Automation/AutomationEngine.swift
  Shared/Context/Providers/DeviceStateContextProvider.swift
  Shared/Context/Providers/LocationContextProvider.swift
  Shared/Core/Services/SecureStorage.swift
  Shared/RemoteServer/RemoteCommandService.swift
Due: unittests, macos, ios

refactor: update UI components and widgets
  Shared/UI/Components/ChatInputView.swift
  Shared/UI/Views/ChatView.swift
  Shared/UI/Views/PrivacyControlsView.swift
  Shared/UI/Views/Voice/VoiceSettingsView.swift
  Shared/Widgets/InteractiveWidgets.swift
Due: unittests, macos, ios

refactor: update platform-specific views and apps
  iOS/Views/OnboardingView.swift
  iOS/Views/iOSSettingsView.swift
  macOS/TheamacOSApp.swift
  macOS/Views/ContentView.swift
  tvOS/Views/tvOSHomeView.swift
  watchOS/Views/watchOSHomeView.swift
  watchOS/WatchFeatures/WatchComplicationProvider.swift
Due: unittests, macos, ios

chore: update project config and audit tool
  .claude/XCODE_BUILD_FIX_MODUS_OPERANDI.md
  .claude/claude.md
  .claude/settings.local.json
  Tools/thea-audit/Sources/thea-audit/TheaAudit.swift
Due: none

fix: syntax error in ModelRouter.swift
  Shared/AI/MetaAI/ModelRouter.swift
Due: unittests, macos, ios

feat: comprehensive QA strategy and testing infrastructure
  .claude/AUTONOMOUS_BUILD_QA.md
  .claude/COMPREHENSIVE_QA_STRATEGY.md
  .claude/XCODE_BUILD_FIX_MODUS_OPERANDI.md
  .gitleaks.toml
  Tests/UITests/SettingsUITests.swift
  Tests/UITests/TheaFunctionalTests.swift
  Tests/UITests/TheaUITests.swift
  Tools/macos-ui-automation-mcp/uv.lock
  Tools/terminal-mcp-server/package-lock.json
  iOS/PrivacyInfo.xcprivacy
  macOS/TheamacOSApp.swift
Due: unittests, macos, ios

feat: complete Swift Package migration with service layer
  Package.swift
  Shared/Core/Interfaces/ChatServiceProtocol.swift
  Shared/Core/Interfaces/ProjectServiceProtocol.swift
  Shared/Core/Interfaces/TaskTypesProtocol.swift
  Shared/Core/Services/ChatService.swift
  Shared/Core/Services/MockChatService.swift
  Shared/Core/Services/MockProjectService.swift
  Shared/Core/Services/ProjectService.swift
  Shared/UI/Views/Settings/AdvancedSettingsView.swift
  Tests/CoreTests/APIBuilderTests/APIGeneratorTests.swift
  Tests/CoreTests/APIBuilderTests/MCPServerGeneratorTests.swift
  Tests/CoreTests/AgentSecTests/AgentSecEnforcerTests.swift
  Tests/CoreTests/AgentSecTests/AgentSecKillSwitchTests.swift
  Tests/CoreTests/AgentSecTests/AgentSecPolicyTests.swift
  Tests/CoreTests/FoundationTests/InterfaceTests.swift
  Tests/CoreTests/ManagerTests/ChatManagerTests.swift
  Tests/CoreTests/ModelTests/ConversationTests.swift
  Tests/CoreTests/MonitoringTests/MonitoringServiceTests.swift
  Tests/CoreTests/ProviderTests/AllProvidersTests.swift
  Tests/CoreTests/ProviderTests/AnthropicProviderTests.swift
  Tests/CoreTests/ProviderTests/OpenAIProviderTests.swift
  Tests/CoreTests/ServiceTests/MockChatServiceTests.swift
  Tests/CoreTests/ServiceTests/MockProjectServiceTests.swift
  Tests/CoreTests/SystemTests/PowerManagementTests.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: unittests, macos, ios

feat: add XcodeBuildHelper for reliable GUI build automation
  .claude/AUTONOMOUS_BUILD_QA.md
  Tools/XcodeBuildHelper/README.md
  Tools/XcodeBuildHelper/XcodeBuildHelper.app/Contents/Info.plist
  Tools/XcodeBuildHelper/XcodeBuildHelper.app/Contents/MacOS/applet
  Tools/XcodeBuildHelper/XcodeBuildHelper.app/Contents/PkgInfo
  Tools/XcodeBuildHelper/XcodeBuildHelper.app/Contents/Resources/Assets.car
  Tools/XcodeBuildHelper/XcodeBuildHelper.app/Contents/Resources/Scripts/main.scpt
  Tools/XcodeBuildHelper/XcodeBuildHelper.app/Contents/Resources/applet.icns
  Tools/XcodeBuildHelper/XcodeBuildHelper.app/Contents/Resources/applet.rsrc
  Tools/XcodeBuildHelper/XcodeBuildHelper.app/Contents/_CodeSignature/CodeResources
  Tools/XcodeBuildHelper/XcodeBuildHelper.applescript
  Tools/XcodeBuildHelper/build-all-gui.sh
  Tools/XcodeBuildHelper/run-build-via-script-editor.sh
  Tools/XcodeBuildHelper/xcode-cli-with-gui-log.sh
  Tools/XcodeBuildHelper/xcode-gui-build.sh
Due: none

fix: make XcodeBuildHelper scripts bash 3 compatible
  Tools/XcodeBuildHelper/build-all-gui.sh
  Tools/XcodeBuildHelper/xcode-cli-with-gui-log.sh
Due: none

Path conditions:
  unittests: any of: Shared/, Platforms/, iOS/, macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  macos: any of: Shared/, macOS/, Platforms/macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  ios: any of: Shared/, iOS/, Platforms/iOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
