Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

codecov.yml:

# CodeCov Configuration for Thea
# Version: 1.0.0
# Last Updated: January 16, 2026
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# ============================================
# COVERAGE SETTINGS
# ============================================
coverage:
  # Precision of coverage percentage (2 decimal places)
  precision: 2

  # Round coverage percentage
  round: down

  # Range for coverage (red to green)
  range: "50...90"

  # Status checks
  status:
    # Project-level coverage
    project:
      default:
        # Target coverage percentage
        target: auto
        # Threshold for coverage decrease allowed
        threshold: 1%
        # Only check coverage on files that were changed
        only_changed_files: false
        # Compare against base branch
        base: auto
        # Flags to include (if using multiple coverage uploads)
        flags:
          - unittests

      # Separate status for each platform
      macos:
        target: auto
        threshold: 2%
        flags:
          - macos

      ios:
        target: auto
        threshold: 2%
        flags:
          - ios

    # Patch-level coverage (only changed lines)
    patch:
      default:
        target: auto
        threshold: 5%
        only_changed_files: true

# ============================================
# PARSING SETTINGS
# ============================================
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      macro: false
      method: false

# ============================================
# FLAGS
# ============================================
flags:
  unittests:
    paths:
      - Shared/
      - Platforms/
      - iOS/
      - macOS/
    carryforward: true
    after_n_builds: 1

  macos:
    paths:
      - Shared/
      - macOS/
      - Platforms/macOS/
    carryforward: true

  ios:
    paths:
      - Shared/
      - iOS/
      - Platforms/iOS/
    carryforward: true

# ============================================
# IGNORE PATHS
# ============================================
ignore:
  - "build/**/*"
  - ".build/**/*"
  - "DerivedData/**/*"
  - "Pods/**/*"
  - "Carthage/**/*"
  - "SourcePackages/**/*"
  - "Tests/**/*"
  - "**/*Tests.swift"
  - "**/*Test.swift"
  - "**/Preview Content/**/*"
  - "*.generated.swift"
  - "Package.swift"

# ============================================
# COMMENT SETTINGS
# ============================================
comment:
  # Layout of the comment
  layout: "reach,diff,flags,files,footer"

  # Comment behavior
  behavior: default

  # Require changes for comment
  require_changes: false

  # Show project coverage
  require_base: false
  require_head: true

  # Branches to comment on
  branches:
    - main
    - develop
    - "feature/*"
    - "release/*"

# ============================================
# GITHUB CHECKS
# ============================================
github_checks:
  # Show annotations on files in PR
  annotations: true

# ============================================
# NOTIFICATIONS
# ============================================
# Configure if you want Slack/email notifications
# notify:
#   slack:
#     default:
#       url: "https://hooks.slack.com/services/..."
#       threshold: 1%
#       only_pulls: false
#       branches:
#         - main

Auto-save: add PathValidationTests.swift for security-critical path validation
  Tests/CoreTests/ModelTests/ConfigurationTypesTests.swift
  Tests/CoreTests/ModelTests/PathValidationTests.swift
Due: none

Add configuration types tests and path validation tests
  Tests/CoreTests/ModelTests/TabManagerTests.swift
Due: none

Auto-save: PathValidationTests updates from agent
  Tests/CoreTests/ModelTests/PathValidationTests.swift
Due: none

Auto-save: Fix TabManagerTests reorderTabs to avoid SwiftUI dependency
  Tests/CoreTests/ModelTests/TabManagerTests.swift
Due: none

Auto-save: compact PathValidationTests to 248 lines, all 25 tests pass
  Shared/UI/Views/Settings/AIProvidersSettingsView.swift
  Tests/CoreTests/ModelTests/PathValidationTests.swift
Due: unittests, macos, ios

Add accessibility to AIProvidersSettingsView: 10 icons, buttons, metric cards, capability rows
  Shared/UI/Views/Settings/AIProvidersSettingsView.swift
Due: unittests, macos, ios

Add accessibility to ChatView and MacChatDetailView search bar icons
  Shared/UI/Views/ChatView.swift
  macOS/Views/MacChatDetailView.swift
Due: unittests, macos, ios

Add accessibility to ModelSettingsView: 13 icons, buttons, comparison toggles, favorites
  Shared/UI/Views/Settings/ModelSettingsView.swift
  Tests/CoreTests/ModelTests/CloudKitTypesTests.swift
Due: unittests, macos, ios

Add accessibility to SyncSettingsView + 4 new type tests
  Shared/UI/Views/Settings/SyncSettingsView.swift
  Tests/CoreTests/ModelTests/AIProviderTypesTests.swift
  Tests/CoreTests/ModelTests/NetworkResilienceTypesTests.swift
  Tests/CoreTests/ModelTests/OutboundPrivacyGuardTypesTests.swift
  Tests/CoreTests/ModelTests/TaskClassifierTypesTests.swift
  Tests/CoreTests/ModelTests/VerificationPipelineTypesTests.swift
Due: unittests, macos, ios

Auto-save: fix SwiftLint warnings in test files
  Shared/UI/Views/Components/ConversationLanguagePickerView.swift
  Shared/UI/Views/KeyboardShortcutsHelpView.swift
  Tests/CoreTests/ModelTests/AIProviderTypesTests.swift
  Tests/CoreTests/ModelTests/OutboundPrivacyGuardTypesTests.swift
  Tests/CoreTests/ModelTests/TaskClassifierTypesTests.swift
  Tests/CoreTests/ModelTests/VerificationPipelineTypesTests.swift
  macOS/Views/QuickEntryWindow.swift
Due: unittests, macos, ios

Add accessibility to KeyboardShortcutsHelpView, QuickEntryWindow, ConversationLanguagePickerView
  Shared/UI/Views/Components/ConversationLanguagePickerView.swift
Due: unittests, macos, ios

Add accessibility to TheaClipCardView
  macOS/Views/TheaClipCardView.swift
Due: unittests, macos

Add accessibility to DeviceSwitcherView, KeyboardShortcutsView, MacProjectDetailView
  Shared/UI/Views/DeviceSwitcherView.swift
  Shared/UI/Views/KeyboardShortcutsView.swift
  macOS/Views/MacProjectDetailView.swift
Due: unittests, macos, ios

Add MemoryTypesTests and ConversationLanguageTests (63 new tests)
  Tests/CoreTests/ModelTests/ConversationLanguageTests.swift
  Tests/CoreTests/ModelTests/MemoryTypesTests.swift
Due: none

Fix SwiftLint type_body_length in MemoryTypesTests
  Tests/CoreTests/ModelTests/MemoryTypesTests.swift
Due: none

V4-Fix A1: CrossDeviceService uses iCloud.app.theathe container with safe fallback
  Shared/Sync/CrossDeviceService.swift
Due: unittests, macos, ios

V4-Fix A2+A3: UnifiedContextSync safe container + consolidate all zones to TheaZone
  Shared/Sync/CrossDeviceService.swift
  Shared/Sync/UnifiedContextSync.swift
Due: unittests, macos, ios

V4-Fix A4: Initialize CloudKitService + PreferenceSyncEngine on iOS/watchOS/tvOS
  Shared/UI/Components/ChatInputView.swift
  Shared/UI/Components/MessageBubble.swift
  iOS/TheaiOSApp.swift
  tvOS/TheatvOSApp.swift
  watchOS/TheawatchOSApp.swift
Due: unittests, macos, ios

Add accessibility to ChatInputView queue icon, MessageBubble action menus
  Shared/Core/Managers/ClipboardHistoryManager.swift
Due: unittests, macos, ios

V4-Fix A5: ClipboardHistoryManager syncs pinboard mutations and bulk deletes
  Shared/Core/Managers/ClipboardHistoryManager.swift
Due: unittests, macos, ios

Auto-save: fix trailing comma in ClipboardHistoryManager
  Shared/Core/Managers/ClipboardHistoryManager.swift
Due: unittests, macos, ios

V4-Feature B2: TheaAgentSession observable model with states, messages, artifacts, context pressure
  Shared/Intelligence/Orchestration/TheaAgentSession.swift
Due: unittests, macos, ios

V4-Feature B1: TheaAgentOrchestrator supervisor with delegation, context budget, synthesis
  Shared/Intelligence/Orchestration/TheaAgentOrchestrator.swift
Due: unittests, macos, ios

V4-Feature B3+CTX: TheaAgentRunner with streaming execution + TheaContextMonitor for proactive summarization
  Shared/Intelligence/Orchestration/TheaAgentRunner.swift
  Shared/Intelligence/Orchestration/TheaContextMonitor.swift
  Tests/CoreTests/ModelTests/RoutingDecisionTests.swift
Due: unittests, macos, ios

Auto-save: refactor TheaAgentRunner.execute into smaller methods (SwiftLint function_body_length)
  Shared/Intelligence/Orchestration/TheaAgentRunner.swift
Due: unittests, macos, ios

Auto-save: fix async selectAgentType calls in TheaAgentOrchestrator
  Shared/Intelligence/Orchestration/TheaAgentOrchestrator.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: add PrivacyRouterTypesTests, PrivacyPolicyTypesTests, ClassifierTypesTests (56 new tests, total 1253)
  Shared/Core/Managers/SettingsManager.swift
  Shared/Intelligence/Agents/EnhancedSubagentSystem.swift
  Shared/UI/Views/Components/TheaAgentStatusBar.swift
  Shared/UI/Views/Settings/TheaAgentSettingsView.swift
  Tests/CoreTests/ModelTests/ClassifierTypesTests.swift
  Tests/CoreTests/ModelTests/PrivacyPolicyTypesTests.swift
  Tests/CoreTests/ModelTests/PrivacyRouterTypesTests.swift
  iOS/Views/TheaAgentListView.swift
  macOS/Views/TheaAgentDetailView.swift
Due: unittests, macos, ios

Auto-save: fix SwiftLint non_optional_string_data_conversion in ClassifierTypesTests
  Shared/UI/Views/ChatView.swift
  Tests/CoreTests/ModelTests/ClassifierTypesTests.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

V4-Feature B4-B11: Agent delegation UI — sidebar, row, detail, status bar, settings, ChatView wiring
  Shared/UI/Components/InlineCodeEditor.swift
  Shared/UI/Components/QuerySuggestionOverlay.swift
  Shared/UI/Views/Settings/SettingsConfigurationViews.swift
Due: unittests, macos, ios

Auto-save: more accessibility fixes - InlineCodeEditor copy, QuerySuggestionOverlay, StreamingTextView chevron/tool icons
  Shared/UI/Components/QuerySuggestionOverlay.swift
  Shared/UI/Components/StreamingTextView.swift
Due: unittests, macos, ios

Auto-save: fix Section init in TheaAgentSettingsView (use header/footer closures)
  Shared/UI/Views/Settings/TheaAgentSettingsView.swift
Due: unittests, macos, ios

Auto-save: fix TheaAgentRunner actor isolation errors (nonisolated helpers, async autoclosure)
  Shared/Intelligence/Orchestration/TheaAgentRunner.swift
Due: unittests, macos, ios

Auto-save: add PrivacyPoliciesTests (32 tests for 6 built-in policies)
  Tests/CoreTests/ModelTests/PrivacyPoliciesTests.swift
Due: none

Auto-save: disable private_over_fileprivate lint rule in PrivacyPoliciesTests
  Tests/CoreTests/ModelTests/PrivacyPoliciesTests.swift
Due: none

Auto-save: add swiftlint:enable for private_over_fileprivate
  Tests/CoreTests/ModelTests/PrivacyPoliciesTests.swift
Due: none

Auto-save: accessibility fixes for SettingsCommonTypes help button and info icon
  Shared/UI/Views/Settings/SettingsCommonTypes.swift
Due: unittests, macos, ios

Auto-save: fix SwiftLint type_name - rename iOSAgentDetailView to IOSAgentDetailView
  iOS/Views/TheaAgentListView.swift
Due: unittests, ios

Auto-save: fix watchOS/tvOS build — remove CloudKitService refs not in target
  tvOS/TheatvOSApp.swift
  watchOS/TheawatchOSApp.swift
Due: none

Auto-save: add TheaAgentSessionTests (37 tests for state, message, artifact, context pressure)
  Tests/CoreTests/ModelTests/TheaAgentSessionTests.swift
Due: none

Auto-save: fix identical_operands lint warning in TheaAgentSessionTests
  Tests/CoreTests/ModelTests/TheaAgentSessionTests.swift
Due: none
