Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

Auto-save: E3 Financial — TaxEstimatorView, InvestmentPortfolioView, tab navigation in dashboard, file import
  Shared/UI/Views/Financial/FinancialDashboardView.swift
  Shared/UI/Views/Financial/InvestmentPortfolioView.swift
  Shared/UI/Views/Financial/TaxEstimatorView.swift
Due: unittests, macos, ios

Auto-save: E3 Financial — split test file, fix Hashable portfolio, fix string format specifiers
  Shared/Financial/InvestmentTracker.swift
  Shared/UI/Views/Financial/InvestmentPortfolioView.swift
  Tests/CoreTests/ModelTests/E3FinancialTrackingTests.swift
  Tests/CoreTests/ModelTests/E3InvestmentTrackingTests.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: E4 Privacy — per-service data tracking, daily history, transparency report export (JSON/CSV)
  Shared/Privacy/NetworkPrivacyMonitor.swift
  Shared/UI/Views/Settings/PrivacyFirewallDashboardView.swift
Due: unittests, macos, ios

Auto-save: E8 Revenue — FeatureGate with ProFeature, SubscriptionTier, feature access control
  Shared/Purchases/FeatureGate.swift
Due: unittests, macos, ios

Auto-save: E8 Revenue — SubscriptionSettingsView with tier comparison, purchase flow, restore, management
  Shared/UI/Views/Settings/SubscriptionSettingsView.swift
Due: unittests, macos, ios

Auto-save: E8 Revenue — wire StoreKit into macOS/iOS settings + app startup, add StoreKit config file
  Shared/Purchases/TheaProducts.storekit
  iOS/TheaiOSApp.swift
  iOS/Views/iOSSettingsView.swift
  macOS/TheamacOSApp.swift
  macOS/Views/MacSettingsView.swift
Due: unittests, macos, ios

Auto-save: E8 Revenue — 35 tests for product IDs, subscription status, feature gating, tier access control
  Tests/CoreTests/ModelTests/E8RevenueTests.swift
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: E9 Life Management — TheaTask SwiftData model, TheaTaskManager with priorities, reminders, streaks
  Shared/Core/Models/TheaTask.swift
Due: unittests, macos, ios

Auto-save: E9 Life Management — TaskManagerView (add/complete/filter/search) + LifeManagementDashboardView (daily/weekly review, goals, KG suggestions)
  Shared/UI/Views/Tasks/LifeManagementDashboardView.swift
  Shared/UI/Views/Tasks/TaskManagerView.swift
Due: unittests, macos, ios

Auto-save: Fix TheaTask.swift — add UserNotifications import guard for SPM build
  Shared/Core/Models/TheaTask.swift
  macOS/Views/MacSettingsView.swift
Due: unittests, macos, ios

Auto-save: Wire E9 Tasks + Life Dashboard and E3 Finance into MacSettingsView sidebar
  macOS/Views/MacSettingsView.swift
Due: unittests, macos

Auto-save: Rename TaskIntelligence.TheaTask → IntelligenceTask to resolve type ambiguity with SwiftData TheaTask
  Shared/Intelligence/LifeMonitoring/LifeIntelligenceCoordinator.swift
  Shared/Intelligence/LifeMonitoring/TaskIntelligence.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: Fix TaskManagerView — Label(Date) → Text(Date, format:)
  Shared/UI/Views/Tasks/TaskManagerView.swift
Due: unittests, macos, ios

Auto-save: Fix LifeManagementDashboardView — findEntities → searchEntities
  Shared/UI/Views/Tasks/LifeManagementDashboardView.swift
Due: unittests, macos, ios

Auto-save: Fix actor isolation — await searchEntities()
  Shared/UI/Views/Tasks/LifeManagementDashboardView.swift
Due: unittests, macos, ios

Auto-save: Wire E9 Tasks, Life Dashboard, Health, Finance into iOS settings
  iOS/Views/iOSSettingsView.swift
Due: unittests, ios

Auto-save: E9 Life Management — 42 tests for task model, priorities, categories, manager logic, dashboard
  Tests/CoreTests/ModelTests/E9LifeManagementTests.swift
Due: none

Auto-save: E4 Privacy Firewall — DNS blocklist wired into OutboundPrivacyGuard, auto-start monitoring, monthly transparency reports
  Shared/Core/Managers/ChatManager+Messaging.swift
  Shared/Privacy/NetworkPrivacyMonitor.swift
  Shared/Privacy/OutboundPrivacyGuard.swift
  Shared/UI/Views/Settings/PrivacyFirewallDashboardView.swift
  macOS/TheamacOSApp.swift
Due: unittests, macos, ios

Auto-save: E4 Privacy Firewall tests — DNS blocklist integration, monthly reports, recommendations
  Tests/CoreTests/ModelTests/E4PrivacyDashboardTests.swift
Due: none

Auto-save: E5 Device Sync — Wire SyncStatusIndicator to SmartTransportManager with live transport probing
  Shared/UI/Views/Components/SyncStatusIndicator.swift
Due: unittests, macos, ios

Auto-save: E5 Device Sync — 15 new tests for transport selection, labels, probe results, transport-aware icons
  Tests/CoreTests/ModelTests/E5DeviceSyncTests.swift
Due: none

Auto-save: G1 Follow-Up Suggestions — FollowUpSuggestionService with heuristic generation, learning, auto-prompt
  Shared/Core/Services/FollowUpSuggestionService.swift
Due: unittests, macos, ios

Auto-save: G1 + TemporalValidator — Move FollowUpSuggestion types to TheaModels, add TemporalValidator, wire into ChatManager
  Package.swift
  Shared/Core/Managers/ChatManager+Messaging.swift
  Shared/Core/Models/Message.swift
  Shared/Core/Services/FollowUpSuggestionService.swift
  Shared/Core/Utilities/TemporalValidator.swift
Due: unittests, macos, ios

Auto-save: G1 + E9 — Follow-up suggestion chips in ChatView, number selection, MorningBriefingView, TemporalValidator
  Shared/Intelligence/LifeMonitoring/MorningBriefingEngine.swift
  Shared/UI/Views/ChatView+Extensions.swift
  Shared/UI/Views/ChatView.swift
  Shared/UI/Views/Tasks/MorningBriefingView.swift
  macOS/Views/MacSettingsView.swift
Due: unittests, macos, ios

Auto-save: Rename DailyBriefing → TheaDailyBriefing to avoid type conflicts
  Shared/Intelligence/LifeMonitoring/MorningBriefingEngine.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: Fix build errors — FollowUpSuggestion ambiguity, DailyBriefing→TheaDailyBriefing in view, .accent→.accentColor
  Shared/AI/ConversationIntelligence/ConversationIntelligence.swift
  Shared/Intelligence/LifeMonitoring/FocusModeIntelligence+Learning.swift
  Shared/UI/Views/ChatView.swift
  Shared/UI/Views/Tasks/MorningBriefingView.swift
Due: unittests, macos, ios

Auto-save: G2 NotificationIntelligenceService + settings view wired into macOS/iOS
  Shared/Notifications/NotificationIntelligenceService.swift
  Shared/UI/Views/Settings/NotificationIntelligenceSettingsView.swift
  Thea.xcodeproj/project.pbxproj
  iOS/Views/iOSSettingsView.swift
  macOS/Views/MacSettingsView.swift
Due: unittests, macos, ios

Auto-save: Fix DeviceInfo optional chaining on non-optional currentDevice
  Shared/Notifications/NotificationIntelligenceService.swift
Due: unittests, macos, ios

Auto-save: Fix init order — compute threshold before assigning to avoid self access
  Shared/Notifications/NotificationIntelligenceService.swift
Due: unittests, macos, ios

Auto-save: Rename StatCard → NotifStatCard to avoid iOS collision with TheaWidgets
  Shared/UI/Views/Settings/NotificationIntelligenceSettingsView.swift
Due: unittests, macos, ios

Auto-save: Add 42 TemporalValidator tests — day-of-week, validation, scanning, DST, leap year
  Tests/CoreTests/ModelTests/TemporalValidatorTests.swift
Due: none

Auto-save: Add 42 G1 Follow-Up Suggestion tests — generation, learning, number selection, ranking
  Tests/CoreTests/ModelTests/G1FollowUpSuggestionTests.swift
Due: none

Auto-save: Add 64 G2 Notification Intelligence tests — urgency, categories, actions, auto-action, clearances
  Tests/CoreTests/ModelTests/G2NotificationIntelligenceTests.swift
Due: none

Auto-save: Wire ClipboardObserver.start() + add Clipboard to MacSettingsView sidebar
  macOS/TheamacOSApp.swift
  macOS/Views/MacSettingsView.swift
Due: unittests, macos

Auto-save: Add ClipboardIntelligence service — AI categorization, smart actions, tag extraction
  Shared/Core/Managers/ClipboardHistoryManager.swift
  Shared/Intelligence/Clipboard/ClipboardIntelligence.swift
Due: unittests, macos, ios

Auto-save: Add 72 ClipboardIntelligence tests — classification, summary, actions, tags, language detection
  Tests/CoreTests/ModelTests/ClipboardIntelligenceTests.swift
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: Fix classification priority order — date before number, markdown before command, HTML code signals
  Shared/Intelligence/Clipboard/ClipboardIntelligence.swift
  Tests/CoreTests/ModelTests/ClipboardIntelligenceTests.swift
Due: unittests, macos, ios

Auto-save: Add TranslationEngine service — multi-provider translation with history
  Shared/Productivity/TranslationEngine.swift
Due: unittests, macos, ios

Auto-save: Add TranslationView — full translation UI with history, language swap, provider selection
  Shared/UI/Views/TranslationView.swift
Due: unittests, macos, ios

Auto-save: Wire Translation into MacSettingsView sidebar + iOS tabs — all 4 platforms build
  Shared/Productivity/TranslationEngine.swift
  Shared/UI/Views/TranslationView.swift
  Thea.xcodeproj/project.pbxproj
  iOS/Views/iOSHomeView.swift
  macOS/Views/MacSettingsView.swift
Due: unittests, macos, ios

Path conditions:
  unittests: any of: Shared/, Platforms/, iOS/, macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  macos: any of: Shared/, macOS/, Platforms/macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  ios: any of: Shared/, iOS/, Platforms/iOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
