Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

Auto-save: W3 fix MacSettingsView sidebar — committed separately from earlier partial
  macOS/Views/MacSettingsView.swift
Due: unittests, macos

Auto-save: W3 fix SettingsCategory.group switch — cover all enum cases including new knowledgeGraph, behavioralPatterns etc.
  macOS/Views/MacSettingsView.swift
Due: unittests, macos

Auto-save: AF3 — wire 13 missing settings views into MacSettingsView detailContent switch
  macOS/Views/MacSettingsView.swift
Due: unittests, macos

Auto-save: AF3-3 — fix CLAUDE.md discrepancies: TheaMessagingChatView + ConversationLanguagePickerView now WIRED
  .claude/claude.md
Due: none

Auto-save: AF3 — add 5 more activated settings views (AIFeatures, Workflows, RemoteAccess, HealthInsights, Monitoring)
  macOS/Views/MacSettingsView.swift
Due: unittests, macos

feat(AF3): mark AF3 ✅ DONE + update H3/I3/K3/T3/V3/W3 to DONE — all streams now complete; waiting for S1/S2/S3/S6 final pushsyncs → AG3
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

feat(W3): chat enhancement features — AgentMode progress bar, approval sheet, confidence breakdown, Moltbook activity log
  Shared/UI/Views/Chat/ChatEnhancementViews.swift
Due: unittests, macos, ios

feat(W3): wire chat enhancements into existing views — ChatView, MessageBubble, ChatInputView, MoltbookSettings
  Shared/Files/FileAttachmentManager.swift
  Shared/UI/Components/ChatInputView.swift
  Shared/UI/Components/MessageBubble.swift
  Shared/UI/Views/ChatView.swift
  Shared/UI/Views/Settings/MoltbookSettingsView.swift
Due: unittests, macos, ios

fix(protocol): tmux send-keys mandatory two-step — message then Enter separately, always verify. Alexis must never manually press Enter.
  .claude/claude.md
Due: none

Auto-save: commit 16 modified files from subagent work (E3/H3/V3/W3)
  Shared/Agents/AgentTeamOrchestrator.swift
  Shared/Artifacts/GeneratedArtifact.swift
  Shared/Intelligence/MetaAI/AutonomousBuildLoop.swift
  Shared/Intelligence/MetaAI/DeepAgentEngine.swift
  Shared/Intelligence/MetaAI/ExecutionPipeline.swift
  Shared/Intelligence/MetaAI/MCPToolBridge.swift
  Shared/Intelligence/MetaAI/MCPToolList.swift
  Shared/Intelligence/MetaAI/MetaAICoordinator.swift
  Shared/Intelligence/MetaAI/ModelCapabilityDatabase.swift
  Shared/Intelligence/MetaAI/ReActExecutor.swift
  Shared/Intelligence/MetaAI/SelfExecution/PhaseOrchestrator.swift
  Shared/Intelligence/MetaAI/SelfExecution/SelfExecTaskDecomposer.swift
  Shared/Intelligence/MetaAI/SystemToolBridge.swift
  Shared/UI/Views/Analytics/MessagingGatewayStatusView.swift
  Shared/UI/Views/ArtifactBrowserView.swift
  Shared/UI/Views/Settings/SkillsMarketplaceView.swift
Due: unittests, macos, ios

fix: resolve 29 SwiftLint violations blocking CI
  Shared/UI/Views/Chat/ChatEnhancementViews.swift
  Shared/UI/Views/ChatView.swift
Due: unittests, macos, ios

feat(AG3): comprehensive QA — zero stubs, lint clean, all platforms build
  Shared/AI/Tools/CodeToolHandler.swift
  Shared/AI/Tools/MacOSToolHandler.swift
  Shared/Intelligence/MetaAI/ExecutionPipeline.swift
  Shared/Intelligence/MetaAI/MetaAICoordinator.swift
  Shared/Intelligence/MetaAI/ReActExecutor.swift
  Shared/MCP/MCPClientManager.swift
  Shared/UI/Views/Settings/LiveGuidanceSettingsView.swift
  Thea.xcodeproj/project.pbxproj
  macOS/TheamacOSApp.swift
Due: unittests, macos, ios

feat(AH3): 8-hat security audit + implementation
  Shared/Intelligence/Autonomy/AutonomyController.swift
  Shared/Localization/ConversationLanguageService.swift
Due: unittests, macos, ios

docs(plan): mark AG3 + AH3 ✅ DONE, overall v3 98%
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

feat(AI3): PersonalParameters — 24 Tier 2 @AppStorage keys, snapshot() for Claude §0.3 injection, Tier 1 population-fixed constants
  Shared/Intelligence/Resource/PersonalParameters.swift
Due: unittests, macos, ios

feat(AJ3-AN3): Wave 7 Resource-Aware Life System — complete
  Shared/Intelligence/Health/HealthCoachingPipeline.swift
  Shared/Intelligence/Resource/DataFreshnessOrchestrator.swift
  Shared/Intelligence/Resource/HumanReadinessEngine.swift
  Shared/Intelligence/Resource/InterruptBudgetManager.swift
  Shared/Intelligence/Resource/PersonalParameters.swift
  Shared/Intelligence/Resource/ResourceOrchestrator.swift
  Shared/Intelligence/Resource/macOSBehavioralSignalExtractor.swift
  Shared/Intelligence/Scheduling/SmartNotificationScheduler.swift
  Shared/System/EnergyAdaptiveThrottler.swift
  Shared/UI/Views/Settings/PersonalParametersSettingsView.swift
  Thea.xcodeproj/project.pbxproj
  macOS/TheamacOSApp.swift
  macOS/Views/MacSettingsView.swift
Due: unittests, macos, ios

fix(lint): resolve SwiftLint violations in Wave 7 files
  Shared/Intelligence/Health/HealthCoachingPipeline.swift
  Shared/Intelligence/Resource/HumanReadinessEngine.swift
  Shared/Intelligence/Resource/macOSBehavioralSignalExtractor.swift
  Shared/UI/Views/Settings/PersonalParametersSettingsView.swift
  macOS/TheamacOSApp.swift
Due: unittests, macos, ios

docs(plan): mark Wave 7 AI3–AN3 ✅ DONE, overall v3 99%
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

feat(v3): add 5 new phases AO3-AS3 + universal rules to claude.md
  .claude/THEA_CAPABILITY_PLAN_v3.md
  .claude/claude.md
Due: none

docs(claude.md): REQ-006 — 9-rule code generation quality protocol (improved from 5 rules)
  .claude/claude.md
Due: none

plan(v3.9): dynamic PP values, Thea user benefit for AQ3, dual-purpose ASM watchdog
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

feat(AI3): PersonalParameters — add 6 Wave 8 @AppStorage keys [1 of 1]
  Shared/Intelligence/Resource/PersonalParameters.swift
Due: unittests, macos, ios

feat(AP3): ServerHealthMonitor actor — NWConnection health check, ntfy alert, failover script trigger [1 of 2]
  Shared/Intelligence/ServerHealthMonitor.swift
Due: unittests, macos, ios

feat(AP3): wire ServerHealthMonitor.startMonitoring() into TheamacOSApp [2 of 2]
  macOS/TheamacOSApp.swift
Due: unittests, macos

feat(AQ3): AgentOrchestrator actor — circuit breakers, parallel TaskGroup, progress.json, self-verification [1 of 4]
  Shared/Intelligence/AgentOrchestration/AgentOrchestrator.swift
Due: unittests, macos, ios

feat(AQ3): AutonomousSessionManager @MainActor — dual-purpose stale watchdog (dev git + user AI tasks) [2 of 4]
  Shared/Intelligence/AgentOrchestration/AutonomousSessionManager.swift
Due: unittests, macos, ios

feat(AQ3): wire AutonomousSessionManager.startSession() into TheamacOSApp 14s delay [3 of 4]
  macOS/TheamacOSApp.swift
Due: unittests, macos

fix(AQ3): capturedAgent for Sendable closure + String(contentsOfFile:encoding:)
  Shared/Intelligence/AgentOrchestration/AgentOrchestrator.swift
Due: unittests, macos, ios

fix(AP3): OnceGate pattern for canConnect() — no concurrent var mutation
  Shared/Intelligence/ServerHealthMonitor.swift
Due: unittests, macos, ios

feat(AR3): AnthropicConversationManager actor + wire validate() into chatAdvanced()
  Shared/AI/AnthropicConversationManager.swift
Due: unittests, macos, ios

feat(AR3): wire AnthropicConversationManager.validate() into chatAdvanced()
  Shared/AI/Providers/AnthropicProvider.swift
Due: unittests, macos, ios

fix(AR3): class not actor — NSLock for thread safety, eliminates non-Sendable [[String:Any]] actor exit error
  Shared/AI/AnthropicConversationManager.swift
  Shared/AI/Providers/AnthropicProvider.swift
Due: unittests, macos, ios

feat(AS3): AdaptivePoller actor — decorrelatedJitter, knownDuration, activityDetection strategies
  Shared/Intelligence/AdaptivePoller.swift
Due: unittests, macos, ios

fix(AS3): extract formatted string before logger interpolation
  Shared/Intelligence/AdaptivePoller.swift
Due: unittests, macos, ios

chore: regenerate xcodeproj — include AP3/AQ3/AR3/AS3 new source files
  Thea.xcodeproj/project.pbxproj
Due: none

docs: mark Wave 8 (AO3-AS3) ✅ DONE in capability plan
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

chore: add Brave profiles 9-14 extension symlinks
  Extensions/Brave 10
  Extensions/Brave 11
  Extensions/Brave 12
  Extensions/Brave 13
  Extensions/Brave 14
  Extensions/Brave 9
Due: none

feat(plan): add Wave 9 phases AT3-AY3 — TheaWeb, Tizen, Browser+Native Extensions
  .claude/THEA_CAPABILITY_PLAN_v3.md
Due: none

feat(AY3): Phase AY3 verification complete — all 7 native extensions fully implemented [S9]
  Shared/Integrations/OpenClaw/MessagingPlatformProtocol.swift
  Shared/Intelligence/AgentOrchestration/AutonomousSessionManager.swift
Due: unittests, macos, ios

fix(AW3-prep): wrap Process (macOS-only) in gitCommitAge() for iOS compat
  Shared/Intelligence/AgentOrchestration/AutonomousSessionManager.swift
Due: unittests, macos, ios

Path conditions:
  unittests: any of: Shared/, Platforms/, iOS/, macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  macos: any of: Shared/, macOS/, Platforms/macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  ios: any of: Shared/, iOS/, Platforms/iOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
