Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

Auto-save: Add Configuration tab to MacSettingsView with Memory, Agent, Knowledge, Code, Theme, API panels
  macOS/Views/MacSettingsView.swift
Due: unittests, macos

Auto-save: Re-include PermissionsTypes.swift in build, regenerate Xcode project
  Thea.xcodeproj/project.pbxproj
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-iOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-macOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-tvOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-watchOS.xcscheme
  project.yml
Due: none

Auto-save: Add macOS guard to SyncSettingsView state properties
  Shared/UI/Views/Settings/SyncSettingsView.swift
Due: unittests, macos, ios

Auto-save: Add AnthropicTokenCounter.swift
  Shared/AI/Providers/AnthropicFilesAPI.swift
  Shared/AI/Providers/AnthropicTokenCounter.swift
Due: unittests, macos, ios

Auto-save: Proper CloudKit availability check, remove synthesized inits
  Shared/AI/AIProviderProtocol.swift
  Shared/AI/Providers/AnthropicProvider.swift
  Shared/Sync/AppUpdateService.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: Add VideoEncoderService with VideoToolbox H.264/H.265 hardware encoding
  Shared/RemoteServer/VideoEncoderService.swift
Due: unittests, macos, ios

Auto-save: Update RemoteMessages with all new message types for 14 remote desktop features
  Shared/RemoteServer/RemoteMessages.swift
Due: unittests, macos, ios

Auto-save: Add ConnectionQualityMonitor, ClipboardSyncService, UnattendedAccessManager, PrivacyModeService
  Shared/RemoteServer/ClipboardSyncService.swift
  Shared/RemoteServer/ConnectionQualityMonitor.swift
  Shared/RemoteServer/PrivacyModeService.swift
  Shared/RemoteServer/UnattendedAccessManager.swift
Due: unittests, macos, ios

Auto-save: Add SessionRecordingService, WakeOnLanService, SessionChatService, AnnotationOverlayService
  Shared/RemoteServer/AnnotationOverlayService.swift
  Shared/RemoteServer/SessionChatService.swift
  Shared/RemoteServer/SessionRecordingService.swift
  Shared/RemoteServer/WakeOnLanService.swift
Due: unittests, macos, ios

Auto-save: Fix critical CloudKit container ID typo (teathe.thea → theathe)
  Shared/Core/Managers/CloudSyncManager.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: Fix iOS build (platform-guard CVPixelBuffer/CMTime) and SwiftLint trailing commas
  Shared/RemoteServer/AudioStreamService.swift
  Shared/RemoteServer/AuditLogService.swift
  Shared/RemoteServer/SessionRecordingService.swift
  Shared/RemoteServer/TOTPAuthenticator.swift
  Shared/Sync/AppUpdateService.swift
Due: unittests, macos, ios

Auto-save: Add AssetInventoryService (Phase 5)
  Shared/RemoteServer/AssetInventoryService.swift
Due: unittests, macos, ios

Auto-save: Fix PrivacyModeService parameter shadow and deinit self-capture
  Scripts/setup-mac-sync.sh
  Shared/RemoteServer/PrivacyModeService.swift
  Shared/RemoteServer/RemoteMessages.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: unittests, macos, ios

Auto-save: Exclude AnthropicFilesAPI/TokenCounter from iOS build (missing ProviderError type)
  Shared/RemoteServer/AuditLogService.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: Fix sync script to pull-only by default, update setup script
  Shared/RemoteServer/AuditLogService.swift
Due: unittests, macos, ios

Auto-save: Linter fixes to RemoteServer files
  Shared/RemoteServer/AudioStreamService.swift
  Shared/RemoteServer/RemoteMessages.swift
  Shared/RemoteServer/SecureConnectionManager.swift
  Shared/RemoteServer/SharedRemoteTypes.swift
  Shared/RemoteServer/TheaRemoteServer.swift
Due: unittests, macos, ios

Auto-save: Fix NetworkInterface type conflict - rename to AssetNetworkInterface in RemoteMessages
  Shared/RemoteServer/AssetInventoryService.swift
Due: unittests, macos, ios

Auto-save: Linter fixes to TheaRemoteServer.swift
  Shared/Integrations/Nutrition/Services/NutritionDataImporter.swift
  Shared/RemoteServer/TheaRemoteServer.swift
  project.yml
Due: unittests, macos, ios

Auto-save: Linter fixes
  Shared/RemoteServer/TheaRemoteServer.swift
Due: unittests, macos, ios

Auto-save: Update SharedRemoteTypes, SecureConnectionManager, TheaRemoteServer with all new services
  Shared/RemoteServer/TheaRemoteServer.swift
Due: unittests, macos, ios

Auto-save: Regenerate Xcode project after exclusion updates
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: Linter fixes to RemoteScreenService.swift
  Shared/RemoteServer/RemoteScreenService.swift
Due: unittests, macos, ios

Auto-save: Add multi-monitor support and VideoToolbox config to RemoteScreenService
  Shared/AgentSec/AgentSecAuditLog.swift
Due: unittests, macos, ios

Auto-save: Fix build errors - rename duplicate AuditEntry/ExportFormat types, exclude AnthropicFilesAPI/TokenCounter from build
  Shared/Intelligence/AgentMode/AutonomousAgentV3.swift
Due: unittests, macos, ios

Fix AuditSeverity type conflict: rename to RemoteAuditSeverity in AuditLogService
  Shared/RemoteServer/Views/RemoteServerSettingsView.swift
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-iOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-macOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-tvOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-watchOS.xcscheme
Due: unittests, macos, ios

Auto-save: Fix non-exhaustive switch errors in RemoteServer views and service
  Shared/RemoteServer/RemoteSystemService.swift
  Shared/UI/Views/Settings/RemoteAccessSettingsView.swift
Due: unittests, macos, ios

Auto-save: Fix ConnectionQualityMonitor property names (fps, bandwidthBps)
  Shared/UI/Views/Settings/RemoteAccessSettingsView.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: unittests, macos, ios

Auto-save: Simplify MacSettingsView permissions section
  Thea.xcodeproj/project.pbxproj
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-iOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-macOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-tvOS.xcscheme
  Thea.xcodeproj/xcshareddata/xcschemes/Thea-watchOS.xcscheme
  macOS/Views/MacSettingsView.swift
Due: unittests, macos

Auto-save: Restore inline permissions section in MacSettingsView (linter destructive change reverted)
  macOS/Views/MacSettingsView.swift
Due: unittests, macos

Refactor: Use shared PermissionsSettingsView in MacSettingsView
  macOS/Views/MacSettingsView.swift
Due: unittests, macos

Auto-save: Fix method name mismatches in TheaRemoteServer (recordPingSent, getCurrentClipboard, startSync, stopSync)
  Shared/RemoteServer/TheaRemoteServer.swift
Due: unittests, macos, ios

Auto-save: Add AppKit and CoreImage imports to VideoEncoderService for CIImage/NSBitmapImageRep
  Shared/RemoteServer/VideoEncoderService.swift
Due: unittests, macos, ios

Auto-save: Fix non-exhaustive switch in AuditLogService for new SecurityEventType cases
  Shared/RemoteServer/AuditLogService.swift
Due: unittests, macos, ios

Auto-save: Fix strict concurrency in VideoEncoderService (deinit + sampleBuffer sending)
  Shared/RemoteServer/VideoEncoderService.swift
Due: unittests, macos, ios

Auto-save: Fix Sendable deinit in VideoEncoderService
  Shared/RemoteServer/VideoEncoderService.swift
Due: unittests, macos, ios

Auto-save: Fix deinit concurrency - mark compressionSession as nonisolated(unsafe)
  Shared/RemoteServer/VideoEncoderService.swift
Due: unittests, macos, ios

Auto-save: Add PermissionsSettingsView to iOS/tvOS exclusions, regenerate Xcode project
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: Add comprehensive excluded-from-builds guard to CLAUDE.md
  .claude/claude.md
  project.yml
Due: none

Auto-save: Restore inline permissions section in MacSettingsView
  macOS/Views/MacSettingsView.swift
Due: unittests, macos

Path conditions:
  unittests: any of: Shared/, Platforms/, iOS/, macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  macos: any of: Shared/, macOS/, Platforms/macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  ios: any of: Shared/, iOS/, Platforms/iOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
