Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

codecov.yml:

# CodeCov Configuration for Thea
# Version: 1.0.0
# Last Updated: January 16, 2026
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# ============================================
# COVERAGE SETTINGS
# ============================================
coverage:
  # Precision of coverage percentage (2 decimal places)
  precision: 2

  # Round coverage percentage
  round: down

  # Range for coverage (red to green)
  range: "50...90"

  # Status checks
  status:
    # Project-level coverage
    project:
      default:
        # Target coverage percentage
        target: auto
        # Threshold for coverage decrease allowed
        threshold: 1%
        # Only check coverage on files that were changed
        only_changed_files: false
        # Compare against base branch
        base: auto
        # Flags to include (if using multiple coverage uploads)
        flags:
          - unittests

      # Separate status for each platform
      macos:
        target: auto
        threshold: 2%
        flags:
          - macos

      ios:
        target: auto
        threshold: 2%
        flags:
          - ios

    # Patch-level coverage (only changed lines)
    patch:
      default:
        target: auto
        threshold: 5%
        only_changed_files: true

# ============================================
# PARSING SETTINGS
# ============================================
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      macro: false
      method: false

# ============================================
# FLAGS
# ============================================
flags:
  unittests:
    paths:
      - Shared/
      - Platforms/
      - iOS/
      - macOS/
    carryforward: true
    after_n_builds: 1

  macos:
    paths:
      - Shared/
      - macOS/
      - Platforms/macOS/
    carryforward: true

  ios:
    paths:
      - Shared/
      - iOS/
      - Platforms/iOS/
    carryforward: true

# ============================================
# IGNORE PATHS
# ============================================
ignore:
  - "build/**/*"
  - ".build/**/*"
  - "DerivedData/**/*"
  - "Pods/**/*"
  - "Carthage/**/*"
  - "SourcePackages/**/*"
  - "Tests/**/*"
  - "**/*Tests.swift"
  - "**/*Test.swift"
  - "**/Preview Content/**/*"
  - "*.generated.swift"
  - "Package.swift"

# ============================================
# COMMENT SETTINGS
# ============================================
comment:
  # Layout of the comment
  layout: "reach,diff,flags,files,footer"

  # Comment behavior
  behavior: default

  # Require changes for comment
  require_changes: false

  # Show project coverage
  require_base: false
  require_head: true

  # Branches to comment on
  branches:
    - main
    - develop
    - "feature/*"
    - "release/*"

# ============================================
# GITHUB CHECKS
# ============================================
github_checks:
  # Show annotations on files in PR
  annotations: true

# ============================================
# NOTIFICATIONS
# ============================================
# Configure if you want Slack/email notifications
# notify:
#   slack:
#     default:
#       url: "https://hooks.slack.com/services/..."
#       threshold: 1%
#       only_pulls: false
#       branches:
#         - main

Auto-save: Update UI/UX implementation plan — mark completed features
  .claude/UI_UX_IMPLEMENTATION_PLAN.md
Due: none

Add 50 new tests: model edge cases, credential patterns, AI model catalog
  .claude/APRIL_2026_COMPLIANCE.md
  .claude/UI_UX_IMPLEMENTATION_PLAN.md
  .github/workflows/ci.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/thea-audit-main.yml
  .swiftlint.yml
  Shared/SelfEvolution/SelfEvolutionEngine.swift
  Tests/CoreTests/ModelTests/AIModelTests.swift
  Tests/CoreTests/ModelTests/CredentialPatternTests.swift
  Tests/CoreTests/ModelTests/MessageEdgeCaseTests.swift
Due: unittests, macos, ios

Auto-save: update UI/UX plan — mark full-text search, keyboard shortcuts, smart scroll as complete
  .claude/UI_UX_IMPLEMENTATION_PLAN.md
Due: none

Auto-save: fix chatAdvanced — was building request then discarding it for basic chat()
  Extensions/Brave 2
  Shared/AI/Providers/AnthropicProvider.swift
Due: unittests, macos, ios

Auto-save: wire OutboundPrivacyGuard into cloud API send path (opt-in via settings)
  Extensions/Brave 2
  Shared/Core/Managers/ChatManager.swift
  Shared/Core/Managers/SettingsManager.swift
Due: unittests, macos, ios

Auto-save: add 60 AI capability tests — prompt injection, privacy patterns, model catalog
  Tests/CoreTests/ModelTests/AICapabilityTests.swift
  Tests/CoreTests/ModelTests/PrivacyPolicyPatternTests.swift
  Tests/CoreTests/ModelTests/PromptInjectionPatternTests.swift
Due: none

Auto-save: remove 12 duplicate test files causing TheaTests build failures
  Tests/APIBuilderTests/APIGeneratorTests.swift
  Tests/APIBuilderTests/MCPServerGeneratorTests.swift
  Tests/AgentSecTests/AgentSecEnforcerTests.swift
  Tests/AgentSecTests/AgentSecKillSwitchTests.swift
  Tests/AgentSecTests/AgentSecPolicyTests.swift
  Tests/ManagerTests/ChatManagerTests.swift
  Tests/ModelTests/ConversationTests.swift
  Tests/MonitoringTests/MonitoringServiceTests.swift
  Tests/ProviderTests/AllProvidersTests.swift
  Tests/ProviderTests/AnthropicProviderTests.swift
  Tests/ProviderTests/OpenAIProviderTests.swift
  Tests/SystemTests/PowerManagementTests.swift
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: exclude CoreTests/ from Xcode TheaTests target
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: exclude broken test files from Xcode TheaTests target
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: fix AppUpdateService crash in test environment
  Shared/Sync/AppUpdateService.swift
Due: unittests, macos, ios

Auto-save: exclude UITests/ from unit test target
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: fix IntegrationModuleTests.testCoordinatorInitialization
  Tests/IntegrationTests/IntegrationModuleTests.swift
Due: none

Fix E2E Tests and Security Audit CI failures
  .github/workflows/e2e-tests.yml
  Tools/thea-audit/Sources/thea-audit/Writers/SARIFWriter.swift
Due: none

Fix grep -c double output in audit workflows
  .github/workflows/thea-audit-main.yml
  .github/workflows/thea-audit-pr.yml
Due: none

Fix E2E tests: use dynamic simulator name for macOS 26 runners
  .github/workflows/e2e-tests.yml
Due: none

Fix Focus Filter extension install failure on simulator
  Extensions/FocusFilterExtension/Info.plist
Due: none

V4 Phase 1a: Add 16 ChatManager tests (Xcode-only, not SPM)
  Tests/CoreTests/ManagerTests/ChatManagerTests.swift
Due: none

V4 Phase 1a: Add 63 SPM tests (PlanState, QueuedMessage, OfflineQueue, Snapshots) — 157→220
  Tests/CoreTests/FoundationTests/SnapshotEdgeCaseTests.swift
  Tests/CoreTests/ModelTests/PlanStateTests.swift
  Tests/CoreTests/ModelTests/QueuedMessageTests.swift
  Tests/CoreTests/ServiceTests/OfflineQueueTypesTests.swift
Due: none

V4 Phase 1a: Fix SwiftLint warnings in test files
  Tests/CoreTests/ModelTests/QueuedMessageTests.swift
  Tests/CoreTests/ServiceTests/OfflineQueueTypesTests.swift
Due: none

V4 Phase 1a: Add 20 ModelPerformance/AIModel/Capability tests — 220→240
  Tests/CoreTests/ModelTests/ModelPerformanceTests.swift
Due: none

V4 Phase 2: ErrorLogger utility + convert 14 critical try? to logged error handling
  .claude/settings.local.json
  Shared/Core/ErrorLogger.swift
  Shared/Core/Managers/ChatManager.swift
  Shared/Core/Managers/FinancialManager.swift
  Shared/Core/Managers/KnowledgeManager.swift
  Shared/Core/Managers/ProjectManager.swift
  Shared/Core/Managers/SettingsManager.swift
  Shared/Core/Managers/TabManager.swift
  Shared/Core/Managers/WindowManager.swift
  Shared/Features/Notifications/NotificationManager.swift
  Shared/Security/SecurityHardening.swift
  Shared/Tracking/BrowserHistoryTracker.swift
  Shared/Tracking/HealthTrackingManager.swift
  Shared/Tracking/InputTrackingManager.swift
  Shared/Tracking/LocationTrackingManager.swift
  Shared/Tracking/ScreenTimeTracker.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

V4 Phase 4: Split SmartModelRouter (1001→713 lines) + fix MoltbookSettingsView + restore ErrorLogger
  Shared/Agents/MoltbookAgent.swift
  Shared/Core/Managers/ChatManager.swift
  Shared/Core/Managers/FinancialManager.swift
  Shared/Core/Managers/KnowledgeManager.swift
  Shared/Core/Managers/ProjectManager.swift
  Shared/Core/Managers/SettingsManager.swift
  Shared/Core/Managers/TabManager.swift
  Shared/Core/Managers/WindowManager.swift
  Shared/Intelligence/Routing/SmartModelRouter+ModelCatalog.swift
  Shared/Intelligence/Routing/SmartModelRouter.swift
  Shared/Security/SecurityHardening.swift
  Shared/Tracking/BrowserHistoryTracker.swift
  Shared/Tracking/HealthTrackingManager.swift
  Shared/Tracking/InputTrackingManager.swift
  Shared/Tracking/LocationTrackingManager.swift
  Shared/Tracking/ScreenTimeTracker.swift
  Shared/UI/Views/Settings/MoltbookSettingsView.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: Split TaskClassifier.swift into 3 files (core + Embeddings extension + Learning extension)
  Shared/Core/Managers/ChatManager.swift
  Shared/Integrations/OpenClaw/OpenClawBridge.swift
  Shared/Intelligence/Classification/TaskClassifier+Embeddings.swift
  Shared/Intelligence/Classification/TaskClassifier+Learning.swift
  Shared/Intelligence/Classification/TaskClassifier.swift
  Shared/UI/Views/ChatView.swift
  Shared/UI/Views/Components/ConversationLanguagePickerView.swift
  macOS/TheamacOSApp.swift
  macOS/Views/MacSettingsView.swift
Due: unittests, macos, ios

Auto-save: Regenerate Xcode project with new TaskClassifier extension files
  Thea.xcodeproj/project.pbxproj
Due: none

V4 Phase 4: Fix build errors from TaskClassifier split + add missing APIs
  Shared/Core/Managers/ChatManager.swift
  Shared/Integrations/OpenClaw/OpenClawBridge.swift
  Shared/Intelligence/Classification/TaskClassifier.swift
  Shared/Intelligence/Classification/TaskType.swift
  Shared/UI/Views/Components/ConversationLanguagePickerView.swift
Due: unittests, macos, ios

V4 Phase 5: ChatManager decomposition (931→213+426+305 lines)
  .claude/claude.md
  Shared/Core/Managers/ChatManager+Intelligence.swift
  Shared/Core/Managers/ChatManager+Messaging.swift
  Shared/Core/Managers/ChatManager.swift
  Shared/Integrations/OpenClaw/OpenClawBridge.swift
  Shared/Integrations/OpenClaw/OpenClawSecurityGuard.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

V4 Phase 6: Add accessibility labels to core user-facing views
  Shared/UI/Views/ChatView.swift
  Shared/UI/Views/SidebarView.swift
  iOS/Views/iOSHomeView.swift
  macOS/Views/ContentView.swift
  macOS/Views/MacChatDetailView.swift
  watchOS/Views/watchOSHomeView.swift
Due: unittests, macos, ios

V4 Phase 7: Add localization foundation with String Catalog
  Shared/Resources/Localizable.xcstrings
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: unittests, macos, ios

V4 Phase 8: Fix startup performance — remove 2s sleep, unblock main thread
  macOS/TheamacOSApp.swift
Due: unittests, macos

V4 Phase 10: Export + Error UX improvements
  Shared/UI/Views/ChatView.swift
  Shared/UI/Views/Settings/PrivacySettingsView.swift
  Shared/UI/Views/SidebarView.swift
Due: unittests, macos, ios

V4 Phase 11: Update CHANGELOG with V4 Deep Pass summary
  CHANGELOG.md
Due: none

Add integration tests for AI capabilities upgrade (109 new tests)
  Tests/CoreTests/ModelTests/AICapabilityIntegrationTests.swift
  Tests/CoreTests/ModelTests/FunctionGemmaParsingTests.swift
  Tests/CoreTests/ModelTests/OpenClawMoltbookTests.swift
  Tests/CoreTests/ModelTests/PrivacyPolicyEnforcementTests.swift
  Tests/CoreTests/ModelTests/ToolCatalogTests.swift
Due: none

Fix build warnings: redundant internal(set), nonisolated(unsafe), trailing closure
  Shared/AI/CoreML/CoreMLInferenceEngine.swift
  Shared/Core/Managers/ChatManager+Messaging.swift
  Shared/Core/Managers/ChatManager.swift
  Shared/Notifications/CrossDeviceNotificationService.swift
Due: unittests, macos, ios

Fix iOS build warnings: deprecated APIs, unused await, unused try result
  Shared/Authentication/PasskeysService.swift
  Shared/Context/DeviceAwareness/UnifiedDeviceAwareness.swift
  Shared/Integrations/OpenClaw/OpenClawClient.swift
  Shared/Intelligence/Health/HealthCoachingPipeline.swift
Due: unittests, macos, ios

Fix force casts and deprecated API usage
  Shared/Authentication/PasskeysService.swift
  Shared/Integrations/TaskManagement/AsanaIntegration.swift
  Shared/Integrations/TaskManagement/TodoistIntegration.swift
  Shared/Platforms/macOS/FileSystemObserver.swift
Due: unittests, macos, ios

Refactor sendMessage: extract 10 helpers, reduce complexity from 22 to ~5
  Shared/Core/Managers/ChatManager+Messaging.swift
Due: unittests, macos, ios

Auto-save: Register TheaClip models in all 3 schema locations
  Shared/Core/DataModel/ModelContainerFactory.swift
  Shared/Core/Models/TheaClipModels.swift
  Shared/TheaApp.swift
  macOS/TheamacOSApp.swift
Due: unittests, macos, ios

Auto-save: Add ClipboardHistoryManager with persistent history, pinboards, search, paste stack
  Shared/Core/Managers/ClipboardHistoryManager.swift
  macOS/TheamacOSApp.swift
Due: unittests, macos, ios

Auto-save: Wire ClipboardHistoryManager, add clipboard settings, settings view, Shift+Cmd+V command
  Shared/UI/Views/Settings/TheaClipSettingsView.swift
  Thea.xcodeproj/project.pbxproj
  iOS/TheaiOSApp.swift
  macOS/TheamacOSApp.swift
Due: unittests, macos, ios

Auto-save: Add macOS clipboard views — TheaClipCardView, TheaClipPanelView, TheaClipWindowController
  Shared/UI/Views/Clipboard/TheaClipWindowController.swift
  Thea.xcodeproj/project.pbxproj
  macOS/TheaClipWindowController.swift
  macOS/Views/TheaClipCardView.swift
  macOS/Views/TheaClipPanelView.swift
Due: unittests, macos, ios
