Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

codecov.yml:

# CodeCov Configuration for Thea
# Version: 1.0.0
# Last Updated: January 16, 2026
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# ============================================
# COVERAGE SETTINGS
# ============================================
coverage:
  # Precision of coverage percentage (2 decimal places)
  precision: 2

  # Round coverage percentage
  round: down

  # Range for coverage (red to green)
  range: "50...90"

  # Status checks
  status:
    # Project-level coverage
    project:
      default:
        # Target coverage percentage
        target: auto
        # Threshold for coverage decrease allowed
        threshold: 1%
        # Only check coverage on files that were changed
        only_changed_files: false
        # Compare against base branch
        base: auto
        # Flags to include (if using multiple coverage uploads)
        flags:
          - unittests

      # Separate status for each platform
      macos:
        target: auto
        threshold: 2%
        flags:
          - macos

      ios:
        target: auto
        threshold: 2%
        flags:
          - ios

    # Patch-level coverage (only changed lines)
    patch:
      default:
        target: auto
        threshold: 5%
        only_changed_files: true

# ============================================
# PARSING SETTINGS
# ============================================
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      macro: false
      method: false

# ============================================
# FLAGS
# ============================================
flags:
  unittests:
    paths:
      - Shared/
      - Platforms/
      - iOS/
      - macOS/
    carryforward: true
    after_n_builds: 1

  macos:
    paths:
      - Shared/
      - macOS/
      - Platforms/macOS/
    carryforward: true

  ios:
    paths:
      - Shared/
      - iOS/
      - Platforms/iOS/
    carryforward: true

# ============================================
# IGNORE PATHS
# ============================================
ignore:
  - "build/**/*"
  - ".build/**/*"
  - "DerivedData/**/*"
  - "Pods/**/*"
  - "Carthage/**/*"
  - "SourcePackages/**/*"
  - "Tests/**/*"
  - "**/*Tests.swift"
  - "**/*Test.swift"
  - "**/Preview Content/**/*"
  - "*.generated.swift"
  - "Package.swift"

# ============================================
# COMMENT SETTINGS
# ============================================
comment:
  # Layout of the comment
  layout: "reach,diff,flags,files,footer"

  # Comment behavior
  behavior: default

  # Require changes for comment
  require_changes: false

  # Show project coverage
  require_base: false
  require_head: true

  # Branches to comment on
  branches:
    - main
    - develop
    - "feature/*"
    - "release/*"

# ============================================
# GITHUB CHECKS
# ============================================
github_checks:
  # Show annotations on files in PR
  annotations: true

# ============================================
# NOTIFICATIONS
# ============================================
# Configure if you want Slack/email notifications
# notify:
#   slack:
#     default:
#       url: "https://hooks.slack.com/services/..."
#       threshold: 1%
#       only_pulls: false
#       branches:
#         - main

Auto-save: Fix invalid break in Task catch block in ThrottlingEngine
  Shared/System/ThrottlingEngine.swift
Due: unittests, macos, ios

Phase K: Fix all remaining undocumented types in ActiveMemoryRetrievalTypes, ApprovalManager, SpotlightService, ConfidenceSystem, UserFeedbackLearner, SafetyGuardrails
  Shared/Core/Managers/ApprovalManager.swift
  Shared/Core/Services/SpotlightService.swift
  Shared/Intelligence/Safety/SafetyGuardrails.swift
  Shared/Intelligence/Verification/ConfidenceSystem.swift
  Shared/Intelligence/Verification/UserFeedbackLearner.swift
  Shared/Memory/ActiveMemoryRetrievalTypes.swift
Due: unittests, macos, ios

Auto-save: remove duplicate NetworkActivityMonitorView from PrivacyFirewallDashboardView.swift (moved to NetworkActivityMonitorView.swift)
  Shared/System/BackgroundServiceMonitor.swift
  Shared/UI/Views/Settings/PrivacyFirewallDashboardView.swift
Due: unittests, macos, ios

Fix: duplicate types in BackgroundServiceMonitor, logger capture in SemanticCodeIndexer
  Shared/Intelligence/Codebase/SemanticCodeIndexer+Core.swift
Due: unittests, macos, ios

Auto-save: Fix duplicate PrivacyTransparencyReportView + ExportDataSheet in PrivacyFirewallDashboardView, fix duplicate import/logger in PrivacySettingsViewSections
  Shared/System/BackgroundServiceMonitor.swift
  Shared/UI/Views/Settings/PrivacyFirewallDashboardView.swift
  Shared/UI/Views/Settings/PrivacySettingsViewSections.swift
Due: unittests, macos, ios

Auto-save: fix SaveableHealthHistory redeclaration + 2 warnings (non-optional ?? 0, spurious try)
  Shared/Backup/BackupManager+ExportImport.swift
  Shared/Intelligence/AgentMode/AutonomousAgentV3.swift
Due: unittests, macos, ios

Auto-save: Fix PIISanitizer lazy var incompatible with @Observable - use static compiled patterns
  Shared/Privacy/PIISanitizer.swift
Due: unittests, macos, ios

Auto-save: fix ConversationExporter exportJSON/exportJSONArray to not throw (use try? internally)
  Shared/Core/Services/ConversationExporter.swift
Due: unittests, macos, ios

Auto-save: Add missing logger to ArtifactPanel, fix private access for AsanaIntegration extension
  Shared/Integrations/TaskManagement/AsanaIntegration.swift
  Shared/UI/Components/ArtifactPanel.swift
Due: unittests, macos, ios

Auto-save: Fix duplicate message closure in LifeTrackingSettingsView alert
  Shared/UI/Views/Settings/LifeTrackingSettingsView.swift
Due: unittests, macos, ios

Auto-save: fix RemoteAccessSettingsView logger scope - move to file level (not iOS-only)
  Shared/UI/Views/Settings/RemoteAccessSettingsView.swift
Due: unittests, macos, ios

Auto-save: ProactivityEngine - remove private(set) from Published properties so extension files can mutate them
  Shared/AI/Proactive/ProactivityEngine.swift
  Shared/Integrations/Apple/MapsIntegration.swift
Due: unittests, macos, ios

Auto-save: Trim VoiceProactivity.swift to actor core only - remove methods duplicated in split extension files
  Shared/Intelligence/LifeMonitoring/VoiceProactivity.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: unittests, macos, ios

Auto-save: Fix ProactivityEngine private lastSuggestionTimes inaccessible from extension
  Shared/AI/Proactive/ProactivityEngine.swift
Due: unittests, macos, ios

Auto-save: add LiveGuidanceSettingsViewStub + re-exclude real view+LocalVisionGuidance from macOS build (MLXAudio deps excluded)
  Shared/Core/Managers/SettingsManager.swift
  Shared/UI/Views/Settings/LiveGuidanceSettingsViewStub.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: unittests, macos, ios

Auto-save: Add personalization settings to SettingsManager, fix QRIntelligence logger reference
  Shared/Productivity/QRIntelligence.swift
Due: unittests, macos, ios

Auto-save: fix MediaServerView Group wrapper for alert, fix MediaPlayer deprecated stringValue, fix LiveGuidanceSettingsView stub
  Shared/Media/MediaPlayer.swift
  Shared/UI/Views/MediaServerView.swift
Due: unittests, macos, ios

Auto-save: Add weatherChange to LifeEventType and weather to DataSourceType for WeatherMonitor
  Shared/Cowork/CoworkArtifact.swift
  Shared/Intelligence/LifeMonitoring/LifeMonitoringCoordinatorTypes.swift
Due: unittests, macos, ios

Fix: remove duplicate logger in TerminalViewComponents.swift
  Shared/UI/Views/Terminal/TerminalViewComponents.swift
Due: unittests, macos, ios

Auto-save: Add selectedResponseStyleID, customResponseStyles, activeResponseStyle to SettingsManager
  Shared/Core/Managers/SettingsManager.swift
Due: unittests, macos, ios

Auto-save: Fix ServerStatusRow missing errorMessage/showError bindings in RemoteServerSettingsView
  Shared/AI/ModelSelection/ModelCatalogManager.swift
  Shared/Integrations/ContextExtractors/XcodeContextExtractor.swift
  Shared/LifeManagement/PasswordManager.swift
  Shared/Privacy/PIISanitizer.swift
  Shared/Productivity/DocumentSuite.swift
  Shared/RemoteServer/Views/RemoteServerSettingsView.swift
  Shared/UI/Views/ChatView.swift
  Shared/UI/Views/CodeAssistantView.swift
Due: unittests, macos, ios

Auto-save: fix all remaining macOS Debug warnings (deprecated APIs, unused vars, actor isolation)
  Shared/Intelligence/SystemCapability/SystemCapabilityService.swift
  Shared/MCP/THEAMCPServer+ToolExecution.swift
  Shared/Security/SecurityScanner.swift
  Shared/UI/Views/WebClipperView.swift
Due: unittests, macos, ios

Auto-save: Wire iOSSystemObserver.shared.start() into TheaiOSApp.setupManagers
  iOS/TheaiOSApp.swift
Due: unittests, ios

Auto-save: fix iOS Debug warnings - DocumentScannerView dismiss on MainActor, PasskeysService UIWindow(frame:) deprecated
  Shared/Authentication/PasskeysService.swift
  Shared/UI/Views/DocumentScannerView.swift
Due: unittests, macos, ios

Auto-save: Update IMPLEMENTATION_PLAN.md - Phase 4 complete, Phase H complete
  IMPLEMENTATION_PLAN.md
Due: none

Auto-save: comment out mlx-audio-swift dependency (Float16/HasDType incompatibility with mlx-swift 0.30.3 in Release build)
  .claude/THEA_SHIP_READY_PLAN.md
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Update THEA_SHIP_READY_PLAN: D1/D2/K complete, ~97% ship-ready
  .claude/THEA_SHIP_READY_PLAN.md
Due: none

Phase L: Final ship-readiness verification report
  .claude/FINAL_VERIFICATION_REPORT.md
Due: none

Auto-save: Update THEA_SHIP_READY_PLAN — check off completed End Goal items, add realistic completion estimate
  .claude/THEA_SHIP_READY_PLAN.md
Due: none

Update THEA_SHIP_READY_PLAN: Phase L complete — all 4 builds green, 4044/4045 tests, ~99% ship-ready
  .claude/THEA_SHIP_READY_PLAN.md
Due: none

Phase D3: Periphery dead code scan report (4-platform, 2026-02-18)
  .claude/PERIPHERY_ANALYSIS.md
Due: none

Update THEA_SHIP_READY_PLAN: Phase D3 complete — 100% automated phases done, 9 Periphery gaps documented
  .claude/THEA_SHIP_READY_PLAN.md
Due: none

Auto-save: Raise all targets to 100% in THEA_SHIP_READY_PLAN — no soft thresholds, no acceptable flakes, no suppressed warnings
  .claude/THEA_SHIP_READY_PLAN.md
Due: none

Wire PersonalBaselineMonitor into health pipeline lifecycle (Periphery E7)
  Shared/Intelligence/TheaIntelligenceOrchestrator.swift
Due: unittests, macos, ios

Wire PostResponsePipeline into ChatManager (Periphery E1)
  Shared/Core/Managers/ChatManager+Messaging.swift
Due: unittests, macos, ios

Update THEA_SHIP_READY_PLAN: E1 + E7 wired — all automated phases complete
  .claude/THEA_SHIP_READY_PLAN.md
Due: none

Fix: preserve thinking/redacted_thinking blocks for multi-turn API calls
  Shared/AI/Providers/AnthropicProvider.swift
  Shared/Core/Models/Message.swift
Due: unittests, macos, ios

Fix: CI/CD workflows + plan — align with 100% ship-ready targets
  .claude/FINAL_VERIFICATION_REPORT.md
  .claude/PERIPHERY_ANALYSIS.md
  .claude/THEA_SHIP_READY_PLAN.md
  .github/workflows/ci.yml
  .github/workflows/security.yml
  IMPLEMENTATION_PLAN.md
  Shared/AI/Providers/AnthropicProvider.swift
  Shared/Authentication/PasskeysService.swift
  Shared/Core/Managers/ChatManager+Messaging.swift
  Shared/Core/Models/Message.swift
  Shared/Intelligence/SystemCapability/SystemCapabilityService.swift
  Shared/Intelligence/TheaIntelligenceOrchestrator.swift
  Shared/MCP/THEAMCPServer+ToolExecution.swift
  Shared/Security/SecurityScanner.swift
  Shared/UI/Views/DocumentScannerView.swift
  Shared/UI/Views/WebClipperView.swift
  Thea.xcodeproj/project.pbxproj
  iOS/TheaiOSApp.swift
  project.yml
Due: unittests, macos, ios

ci.yml: add 100% coverage gate for critical business-logic classes
  .github/workflows/ci.yml
Due: none

ci.yml: tiered coverage gates — 70% overall, 100% branch on security files
  .github/workflows/ci.yml
Due: none
