Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

Auto-save: fix BlueprintExecutor compile errors — port to active provider API
  Shared/Execution/Autonomous/BlueprintExecutor.swift
Due: unittests, macos, ios

Auto-save: fix compile errors in AutonomyController.swift (THEAAutonomyLevel typo, ActionHistoryEntry ambiguity, @ObservedObject→@StateObject)
  Shared/Intelligence/Autonomy/AutonomyController.swift
Due: unittests, macos, ios

Auto-save: fix BehaviorPatternAnalyzer — todayMetrics, focusScore, type-check
  Shared/Intelligence/LifeMonitoring/BehaviorPatternAnalyzer.swift
Due: unittests, macos, ios

Auto-save: activate NotesIntegration + RemindersIntegration on macOS
  project.yml
Due: none

Auto-save: activate LocalModels governance files on macOS
  Shared/AI/LocalModels/LocalModelRecommendationEngine.swift
  Shared/AI/LocalModels/UnifiedLocalModelOrchestrator.swift
  Shared/UI/Views/Settings/AutomationSettingsView.swift
  Shared/UI/Views/Settings/OrchestratorSettingsView.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: unittests, macos, ios

Auto-save: activate THEAMCPServer.swift on macOS (MCP server with THEA-prefixed types)
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: activate RemoteCommandService.swift on macOS (CloudKit remote commands)
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: activate PlatformFeaturesHub.swift on macOS (Platform enum, cross-platform feature detection)
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: none

Auto-save: activate UnifiedDeviceAwareness.swift on macOS (rename InstalledApp to DeviceInstalledApp to avoid conflict)
  Shared/Context/DeviceAwareness/UnifiedDeviceAwareness.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: unittests, macos, ios

Auto-save: activate TestGenerator.swift on macOS (replace AIProviderHelpers with direct provider streaming)
  Shared/Execution/Testing/TestGenerator.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: unittests, macos, ios

Auto-save: activate QuickLauncher.swift on macOS (replace TheaIntegrationHub.performSync with CloudKitService.syncAll)
  Shared/Integrations/Launcher/QuickLauncher.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: unittests, macos, ios

Auto-save: activate MessageRegeneration.swift on macOS (ChatMessage→AIMessage, ChatOptions→direct streaming)
  Shared/Features/V1Parity/MessageRegeneration.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: unittests, macos, ios

Auto-save: activate remaining macOS exclusions (MultiModal, views, settings, managers)
  Shared/AI/MultiModal/MultiModalAnalyzer.swift
  Shared/AI/MultiModal/MultiModalCoordinator.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: unittests, macos, ios

Auto-save: activate iOS exclusions to match macOS (integrations, settings, LocalModels governance, components, platform-guarded files)
  Shared/UI/Views/Settings/AutonomousSettingsView.swift
  Thea.xcodeproj/project.pbxproj
  project.yml
Due: unittests, macos, ios

Auto-save: fix iOS/tvOS build warnings across 8 files
  Shared/Authentication/PasskeysService.swift
  Shared/Intelligence/Squads/SquadOrchestrator.swift
  Shared/UI/Components/StreamingTextView.swift
  tvOS/Services/HealthMonitorService.swift
  tvOS/Services/RemoteInferenceClient.swift
Due: unittests, macos, ios

Auto-save: fix all remaining build warnings across 14 files
  Shared/AI/Automation/WorkflowEngine.swift
  Shared/AI/Prediction/ModelPrewarmingService.swift
  Shared/Automation/UserInterventionDetector.swift
  Shared/Context/DeviceAwareness/UnifiedDeviceAwareness.swift
  Shared/Core/Managers/ResponseNotificationHandler.swift
  Shared/Execution/Testing/TestGenerator.swift
  Shared/Intelligence/LifeMonitoring/FocusModeIntelligence.swift
  Shared/Intelligence/LifeMonitoring/HealthIntelligence.swift
  Shared/Intelligence/LifeMonitoring/HolisticPatternIntelligence.swift
  Shared/Intelligence/LifeMonitoring/LifeIntelligenceCoordinator.swift
  Shared/Intelligence/LifeMonitoring/LifeMonitoringCloudSync.swift
  Shared/Intelligence/LifeMonitoring/RelationshipIntelligence.swift
  Shared/Intelligence/LifeMonitoring/WebSocketServer.swift
  Shared/MCP/THEAMCPServer.swift
Due: unittests, macos, ios

Auto-save: fix nonisolated(unsafe) for NWPathMonitor callback in UnifiedDeviceAwareness
  Shared/Context/DeviceAwareness/UnifiedDeviceAwareness.swift
Due: unittests, macos, ios

Auto-save: regenerate Xcode project after BUILD_FIXES_SUMMARY.md move
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: replace brain icons with Thea spiral/sparkles in thinking views
  Shared/UI/Components/ExtendedThinkingView.swift
  Shared/UI/Components/StreamingIndicator.swift
  Shared/UI/Components/StreamingTextView.swift
Due: unittests, macos, ios

Auto-save: add accessibility labels to search bar, welcome suggestions, queue indicator
  Shared/UI/Components/ChatInputView.swift
  Shared/UI/Views/WelcomeView.swift
  macOS/Views/MacChatDetailView.swift
Due: unittests, macos, ios

Auto-save: add accessibilityLabel to MessageBubble hover action buttons
  Shared/UI/Components/MessageBubble.swift
Due: unittests, macos, ios

Auto-save: replace hardcoded code block colors with semantic design tokens
  Shared/UI/Components/MessageBubble.swift
Due: unittests, macos, ios

Auto-save: fix dark mode issues — shimmer and progress ring use Color.primary instead of hardcoded white
  Shared/Agents/MultiAgentCollaborationView.swift
  Shared/UI/Components/StreamingIndicator.swift
Due: unittests, macos, ios

Auto-save: wire GlobalQuickPrompt.processPrompt() to AI provider instead of stub
  Shared/UI/QuickPrompt/GlobalQuickPrompt.swift
Due: unittests, macos, ios

Auto-save: wire QuickEntryWindow submission to ChatManager, replace brain icon with sparkles
  macOS/Views/ContentView.swift
  macOS/Views/QuickEntryWindow.swift
Due: unittests, macos

Auto-save: wire OfflineQueueService handlers to CloudKit sync, UNNotifications, and replay notifications
  Shared/Core/Services/OfflineQueueService.swift
Due: unittests, macos, ios

Auto-save: fix GlobalQuickPrompt to use ProviderRegistry.getDefaultProvider() and handle .error stream case
  Shared/UI/QuickPrompt/GlobalQuickPrompt.swift
Due: unittests, macos, ios

Auto-save: replace fatalError with graceful fallbacks in PasskeysService, replace silent try? with logged saveContext() in ChatManager
  Shared/Authentication/PasskeysService.swift
  Shared/Core/Managers/ChatManager.swift
Due: unittests, macos, ios

Auto-save: fix OfflineQueueService — remove CloudKitService direct dependency, use notifications for sync/memory replay
  Shared/Core/Services/OfflineQueueService.swift
Due: unittests, macos, ios

Tighten SwiftLint: aspirational thresholds + ratcheted error limits
  .github/workflows/ci.yml
  .swiftlint.yml
  Shared/AppIntegration/UIElementInspector.swift
  Shared/Monitoring/PrivacyManager.swift
Due: unittests, macos, ios

Auto-save: replace try? with logged do/catch in CloudKitService sync operations (7 instances)
  Shared/Sync/CloudKitService.swift
Due: unittests, macos, ios

Auto-save: session #10 in-progress work (CoreMLService, PasskeysService, TransferableService, SwiftBestPracticesLibrary fixes)
  Shared/AI/CoreMLService.swift
  Shared/Authentication/PasskeysService.swift
  Shared/Code/SwiftBestPracticesLibrary.swift
  Shared/Data/TransferableService.swift
  Shared/UI/Views/Settings/SettingsPrivacyAboutViews.swift
Due: unittests, macos, ios

Auto-save: fix CI/CD workflows — increase timeout, add swift package resolve, graceful Xcode selection, workflow_dispatch, version updates
  .github/workflows/ci.yml
  .github/workflows/e2e-tests.yml
  .github/workflows/release.yml
  .github/workflows/thea-audit-main.yml
  .github/workflows/thea-audit-pr.yml
Due: none

Auto-save: overhaul Makefile with build/test/lint/audit/qa targets for all platforms
  Makefile
Due: none

Auto-save: fix thea-audit — correct 'audit' to 'scan' subcommand, fix policy JSON schema to match AgentSecPolicy struct
  .github/workflows/thea-audit-main.yml
  .github/workflows/thea-audit-pr.yml
  Makefile
  thea-policy.json
Due: none

Auto-save: overhaul Maestro E2E test flows — fix bundle ID (app.thea.ios), add settings_flow + chat_flow, expand navigation tests
  .maestro/chat_flow.yaml
  .maestro/config.yaml
  .maestro/launch_flow.yaml
  .maestro/navigation_flow.yaml
  .maestro/settings_flow.yaml
Due: none

Auto-save: add security.yml workflow (gitleaks + dependency audit) and Makefile security/qa-full targets
  .github/workflows/security.yml
  Makefile
Due: none

Auto-save: CI workflow improvements — consistent derivedDataPath for build caching
  .github/workflows/ci.yml
Due: none

Auto-save: convert @unchecked Sendable to Sendable for 11 immutable structs
  Shared/APIBuilder/MCPServerGenerator.swift
  Shared/Analytics/AnalyticsManager.swift
  Shared/AppIntegration/UIElementInspector.swift
  Shared/Integrations/MCPServerManager.swift
  Shared/Integrations/TaskManagement/AsanaIntegration.swift
  Shared/Integrations/TaskManagement/TodoistIntegration.swift
  Shared/Intelligence/LifeMonitoring/AutomatableSuggestionEngine.swift
  Shared/Intelligence/Tracking/ActionTracker.swift
  Shared/UI/Views/ChatView.swift
Due: unittests, macos, ios

Auto-save: fix 2 SwiftLint modifier_order violations (nonisolated before access modifier)
  Shared/AppIntegration/UIElementInspector.swift
  Shared/Monitoring/PrivacyManager.swift
Due: unittests, macos, ios

Path conditions:
  unittests: any of: Shared/, Platforms/, iOS/, macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  macos: any of: Shared/, macOS/, Platforms/macOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
  ios: any of: Shared/, iOS/, Platforms/iOS/, but not: build/**/*, .build/**/*, DerivedData/**/*, Pods/**/*, Carthage/**/*, SourcePackages/**/*, Tests/**/*, **/*Tests.swift, **/*Test.swift, **/Preview Content/**/*, *.generated.swift, Package.swift
