Repository Atchoum23/Thea: changes, and which Codecov flags are due for each by the changed paths.
All: unittests, macos, ios

codecov.yml:

# CodeCov Configuration for Thea
# Version: 1.0.0
# Last Updated: January 16, 2026
# Documentation: https://docs.codecov.com/docs/codecov-yaml

# ============================================
# COVERAGE SETTINGS
# ============================================
coverage:
  # Precision of coverage percentage (2 decimal places)
  precision: 2

  # Round coverage percentage
  round: down

  # Range for coverage (red to green)
  range: "50...90"

  # Status checks
  status:
    # Project-level coverage
    project:
      default:
        # Target coverage percentage
        target: auto
        # Threshold for coverage decrease allowed
        threshold: 1%
        # Only check coverage on files that were changed
        only_changed_files: false
        # Compare against base branch
        base: auto
        # Flags to include (if using multiple coverage uploads)
        flags:
          - unittests

      # Separate status for each platform
      macos:
        target: auto
        threshold: 2%
        flags:
          - macos

      ios:
        target: auto
        threshold: 2%
        flags:
          - ios

    # Patch-level coverage (only changed lines)
    patch:
      default:
        target: auto
        threshold: 5%
        only_changed_files: true

# ============================================
# PARSING SETTINGS
# ============================================
parsers:
  gcov:
    branch_detection:
      conditional: true
      loop: true
      macro: false
      method: false

# ============================================
# FLAGS
# ============================================
flags:
  unittests:
    paths:
      - Shared/
      - Platforms/
      - iOS/
      - macOS/
    carryforward: true
    after_n_builds: 1

  macos:
    paths:
      - Shared/
      - macOS/
      - Platforms/macOS/
    carryforward: true

  ios:
    paths:
      - Shared/
      - iOS/
      - Platforms/iOS/
    carryforward: true

# ============================================
# IGNORE PATHS
# ============================================
ignore:
  - "build/**/*"
  - ".build/**/*"
  - "DerivedData/**/*"
  - "Pods/**/*"
  - "Carthage/**/*"
  - "SourcePackages/**/*"
  - "Tests/**/*"
  - "**/*Tests.swift"
  - "**/*Test.swift"
  - "**/Preview Content/**/*"
  - "*.generated.swift"
  - "Package.swift"

# ============================================
# COMMENT SETTINGS
# ============================================
comment:
  # Layout of the comment
  layout: "reach,diff,flags,files,footer"

  # Comment behavior
  behavior: default

  # Require changes for comment
  require_changes: false

  # Show project coverage
  require_base: false
  require_head: true

  # Branches to comment on
  branches:
    - main
    - develop
    - "feature/*"
    - "release/*"

# ============================================
# GITHUB CHECKS
# ============================================
github_checks:
  # Show annotations on files in PR
  annotations: true

# ============================================
# NOTIFICATIONS
# ============================================
# Configure if you want Slack/email notifications
# notify:
#   slack:
#     default:
#       url: "https://hooks.slack.com/services/..."
#       threshold: 1%
#       only_pulls: false
#       branches:
#         - main

Auto-save: Regenerate Xcode project after DeadlineIntelligence + HealthInsightsView addition
  .claude/mission-ai-innovation.txt
  .claude/mission-architecture.txt
  .claude/mission-dynamic-intelligence.txt
  .claude/mission-g1-g2.txt
  .claude/mission-gap-analysis.txt
  .claude/mission-gui-builds-final.txt
  .claude/mission-gui-builds.txt
  .claude/mission-p2-code-health.txt
  .claude/mission-p3-quality-ux.txt
  .claude/mission-performance.txt
  .claude/mission-pregphases.txt
  .claude/mission-research-modernize.txt
  .claude/settings.local.json
  Thea.xcodeproj/project.pbxproj
  Web/TheaWeb/.env.example
Due: none

Auto-save: Rename HealthInsightsView to HealthInsightsOverviewView to avoid stringsdata filename conflict
  .claude/mission-ai-innovation.txt
  .claude/mission-architecture.txt
  .claude/mission-dynamic-intelligence.txt
  .claude/mission-g1-g2.txt
  .claude/mission-gap-analysis.txt
  .claude/mission-gui-builds-final.txt
  .claude/mission-gui-builds.txt
  .claude/mission-p2-code-health.txt
  .claude/mission-p3-quality-ux.txt
  .claude/mission-performance.txt
  .claude/mission-pregphases.txt
  .claude/mission-research-modernize.txt
  .claude/settings.local.json
  Shared/Integrations/Health/Views/HealthInsightsOverviewView.swift
  Thea.xcodeproj/project.pbxproj
  Web/TheaWeb/.env.example
Due: unittests, macos, ios

Add: mission-workflow-fixes.txt — 42 CI/CD issues across 6 workflows
  .claude/mission-workflow-fixes.txt
Due: none

Auto-save: Fix ci.yml (10 issues), create composite action, update .gitleaks.toml
  .github/actions/setup-xcode/action.yml
  .github/workflows/ci.yml
  .gitleaks.toml
Due: none

Auto-save: Fix e2e-tests.yml (9 issues: Maestro pipe, version pin, concurrency, caching, simulator, artifacts, label gate, timeout)
  .github/workflows/e2e-tests.yml
Due: none

Auto-save: Fix release.yml (7 issues: CI gate, version validation, code signing, auto release notes, all platforms, permissions, SBOM)
  .github/workflows/release.yml
Due: none

Auto-save: Fix security.yml (6 issues: osv-scanner CVE scanning, gitleaks permissions, concurrency, summary fail condition, gitleaks config)
  .github/workflows/security.yml
Due: none

Auto-save: Fix thea-audit-main.yml (7 issues: remove || true, python3 severity parsing, issue if-condition, xcode-select, path filters, truncate report, concurrency)
  .github/workflows/thea-audit-main.yml
Due: none

Auto-save: Fix thea-audit-pr.yml (4 issues: remove workflow_dispatch, fetch-depth comment, PR comment bot-match marker, permissions)
  .github/workflows/thea-audit-pr.yml
Due: none

Auto-save: Add @unchecked Sendable justification comments to 22 files
  Shared/AI/Documents/AdaptiveOCREngine.swift
  Shared/AI/LocalModels/ModelQualityBenchmark.swift
  Shared/AI/LocalModels/PredictivePreloader.swift
  Shared/AI/Voice/VoiceActivationEngine.swift
  Shared/Analytics/AnalyticsManager.swift
  Shared/Audio/SystemAudioMonitor.swift
  Shared/Integrations/Apple/VoiceIntegration.swift
  Shared/Integrations/MCPServerManager.swift
  Shared/Integrations/TaskManagement/AsanaModels.swift
  Shared/Integrations/TaskManagement/TodoistModels.swift
  Shared/Intelligence/Codebase/IncrementalIndexer.swift
  Shared/Intelligence/LifeMonitoring/HomeKitMonitor.swift
  Shared/Intelligence/LifeMonitoring/VoiceProactivity+Convenience.swift
  Shared/Networking/NetworkManagerTypes.swift
  Shared/Notifications/NotificationService.swift
  Shared/Providers/Anthropic/AnthropicProvider.swift
  Shared/Providers/DeepSeek/DeepSeekProvider.swift
  Shared/Providers/Google/GoogleProvider.swift
  Shared/Providers/Groq/GroqProvider.swift
  Shared/Providers/OpenAI/OpenAIProvider.swift
  Shared/Providers/OpenRouter/OpenRouterProvider.swift
  Shared/Providers/Perplexity/PerplexityProvider.swift
  Shared/Sync/SmartTransportManager.swift
  Shared/System/Terminal/AccessibilityBridge.swift
  Shared/System/Terminal/TerminalCommandExecutor.swift
  Shared/System/Terminal/TerminalWindowReader.swift
  Shared/Voice/MLXVoiceBackend.swift
  Shared/Voice/VoiceInteractionEngine.swift
  Shared/Voice/WakeWordEngine.swift
  Tools/thea-audit/Sources/thea-audit/Scanners/Rule.swift
  Web/TheaWeb/Sources/App/Models/APIKey.swift
  Web/TheaWeb/Sources/App/Models/Conversation.swift
  Web/TheaWeb/Sources/App/Models/Session.swift
  Web/TheaWeb/Sources/App/Models/User.swift
Due: unittests, macos, ios

Auto-save: Wire TheaSchemaMigrationPlan into ModelContainerFactory for iOS/iPadOS
  Shared/Core/DataModel/ModelContainerFactory.swift
Due: unittests, macos, ios

Fix: release.yml — full macOS signing pipeline (archive→notarize→staple) with real secrets
  .github/workflows/release.yml
Due: none

Auto-save: Add Maestro health + model selector flows, add accessibility identifiers
  .maestro/config.yaml
  .maestro/health_flow.yaml
  .maestro/model_selector_flow.yaml
  iOS/Views/CompactModelSelectorView.swift
  iOS/Views/iOSHomeView+Chat.swift
  iOS/Views/iOSHomeView.swift
Due: unittests, ios

Auto-save: Wire Periphery findings — TaskClassifier learning, TaskPlanDAG, Autonomy views, iOS quickClassify
  Shared/Core/Managers/ChatManager+Intelligence.swift
  Shared/Core/Managers/PostResponsePipeline.swift
  Tests/CoreTests/ModelTests/ConfidenceSystemServiceTests.swift
  Tests/CoreTests/ModelTests/HealthCoachingPipelineServiceTests.swift
  Tests/CoreTests/ModelTests/SmartModelRouterLogicTests.swift
  macOS/Views/MacSettingsView.swift
Due: unittests, macos, ios

Fix: release.yml — remove heredoc that broke YAML parsing (use printf for ExportOptions.plist)
  .github/workflows/release.yml
Due: none

Auto-save: Wire MoltbookAgent approve/reject/clearPending/getUnreadInsights into MoltbookSettingsView
  Shared/UI/Views/Settings/MoltbookSettingsView.swift
Due: unittests, macos, ios

Auto-save: Wire TheaSchemaMigrationPlan.validateMigration into ModelContainerFactory
  Shared/Core/DataModel/ModelContainerFactory.swift
Due: unittests, macos, ios

Auto-save: Add ConfidenceSystem, HealthCoaching, SmartModelRouter, AutonomyController logic tests
  Tests/CoreTests/ModelTests/AutonomyControllerLogicTests.swift
  Tests/CoreTests/ModelTests/ConfidenceSystemServiceTests.swift
  Tests/CoreTests/ModelTests/SmartModelRouterLogicTests.swift
Due: none

Fix: release.yml — remove invalid bare secrets-context if: conditions
  .github/workflows/release.yml
Due: none

Fix: security.yml — separate JSON/SARIF osv-scanner runs; upload correct SARIF format
  .github/workflows/security.yml
Due: none

Auto-save: Add split P3 parallel mission files (docs, perf, lint+access, uxui)
  .claude/mission-p3-docs.txt
  .claude/mission-p3-lint-access.txt
  .claude/mission-p3-perf.txt
  .claude/mission-p3-uxui.txt
Due: none

Auto-save: Monitor auto-commit cycle 1 — fix Timer lifecycle in TheaStreamingIndicatorView
  Shared/UI/Design/TheaDesignSystem.swift
Due: unittests, macos, ios

Fix CI: xcodegen not linked on runner — brew link before install
  .github/actions/setup-xcode/action.yml
Due: none

Auto-save: Parallel mission changes (MailMonitor, WebSocketServer, setup-xcode)
  Shared/Intelligence/LifeMonitoring/MailMonitor.swift
  Shared/Intelligence/LifeMonitoring/WebSocketServer.swift
Due: unittests, macos, ios

Fix: setup-xcode action — always brew link before checking PATH
  .github/actions/setup-xcode/action.yml
Due: none

Auto-save: Monitor auto-commit cycle 1 — project.pbxproj regenerated
  Thea.xcodeproj/project.pbxproj
Due: none

Auto-save: Monitor cycle 1 auto-commit (uncommitted agent changes)
  Shared/AI/CoreML/CoreMLInferenceEngine.swift
  Shared/AI/LocalModels/MLXInferenceEngine.swift
Due: unittests, macos, ios

Auto-save: Fix escaped quotes in MessageComprehensionEngine, regenerate xcodeproj
  Shared/Messaging/MessageComprehensionEngine.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: Fix strict concurrency — nonisolated(unsafe) for serial-queue-guarded vars
  Shared/Intelligence/Mobile/NetworkConditionMonitor.swift
  Shared/RemoteServer/NetworkDiscoveryService.swift
Due: unittests, macos, ios

Auto-save: Monitor cycle 3 — agent doc comments on integration files
  Shared/Integrations/FinderIntegration.swift
  Shared/Integrations/SafariIntegration.swift
  Shared/Integrations/ShortcutsIntegration.swift
  Shared/Integrations/SystemIntegration.swift
  Shared/Integrations/TaskManagement/TodoistIntegration.swift
  Shared/Integrations/XcodeIntegration.swift
Due: unittests, macos, ios

Fix CI: pin osv-scanner-action to v2.3.3 SHA
  .github/workflows/security.yml
Due: none

Auto-save: p3-perf agent — doc comments + memory pressure handlers for wellness/cognitive/MCP services
  Shared/Integrations/Assessment/Services/AssessmentDataExporter.swift
  Shared/Integrations/Assessment/Services/AssessmentService.swift
  Shared/Integrations/Cognitive/Services/FocusForestService.swift
  Shared/Integrations/MCPServerManager.swift
  Shared/Integrations/Wellness/Services/CircadianService.swift
  Shared/Integrations/Wellness/Services/FocusModeService.swift
Due: unittests, macos, ios

Auto-save: Monitor cycle 5 auto-commit (uncommitted agent changes)
  Shared/Integrations/Assessment/ViewModels/AssessmentViewModel.swift
  Shared/Integrations/Cognitive/Services/TaskBreakdownService.swift
  Shared/Integrations/Cognitive/Services/VisualTimerService.swift
  Shared/Integrations/Cognitive/ViewModels/CognitiveDashboardViewModel.swift
  Shared/Integrations/TaskManagement/AsanaMCPClient.swift
Due: unittests, macos, ios

Auto-save: p3-docs agent — doc comments on integration coordinator and gateway files
  Shared/Integrations/CalendarIntegration.swift
  Shared/Integrations/ClaudeAppBridge.swift
  Shared/Integrations/IntegrationCoordinator.swift
  Shared/Integrations/IntegrationUtilities.swift
  Shared/Integrations/MCPGateway.swift
Due: unittests, macos, ios

Fix: security.yml — replace broken osv-scanner-action SHA with direct CLI, fix gitleaks config-path
  .github/workflows/security.yml
Due: none

Auto-save: Monitor cycle 7 — git index rebuild + agent changes (lint config, financial, messaging, sidebar, xcodeproj)
  .swiftlint.yml
  Shared/Financial/FinancialIntegration.swift
  Shared/Intelligence/Anticipatory/ProactiveErrorPrevention.swift
  Shared/Messaging/MessageComprehensionEngine.swift
  Shared/UI/Views/SidebarView.swift
  Thea.xcodeproj/project.pbxproj
Due: unittests, macos, ios

Auto-save: Monitor cycle 9 auto-commit (uncommitted agent changes)
  Shared/Intelligence/Anticipatory/ProactiveErrorPrevention.swift
  Shared/Intelligence/Verification/StaticAnalysisVerifier.swift
  Shared/LifeManagement/PackageTracker.swift
  Shared/LifeManagement/VehicleManager.swift
  Tests/LocalModelTests/MLXInferenceTests.swift
  tvOS/Services/StreamingService.swift
Due: unittests, macos, ios

Fix: upgrade SonarCloud deprecated action to sonarqube-scan-action v7.0.0, continue-on-error true
  .github/workflows/ci.yml
Due: none
